hci/jsf/WebAdmin/web/WEB-INF/wsdl/client/PlanningsService/localhost_8080/jSeduite/SchoolLife/PlanningsService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="PlanningException" type="tns:PlanningException"></xs:element>

<xs:element name="getPlannings" type="tns:getPlannings"></xs:element>

<xs:element name="getPlanningsResponse" type="tns:getPlanningsResponse"></xs:element>

<xs:complexType name="getPlannings">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getPlanningsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PlanningException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>