hci/jsf/BreakManagerJSFClient/src/conf/xml-resources/web-service-references/BreakManagerAdminService/wsdl/localhost_8080/BreakManager/BreakManagerAdminService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://admin.breaktime.technical.jSeduite.hebut.m1.cn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://admin.breaktime.technical.jSeduite.hebut.m1.cn/">

<xs:element name="BreakTimeAdminException" type="tns:BreakTimeAdminException"></xs:element>

<xs:element name="DALException" type="tns:DALException"></xs:element>

<xs:element name="create" type="tns:create"></xs:element>

<xs:element name="createResponse" type="tns:createResponse"></xs:element>

<xs:element name="delete" type="tns:delete"></xs:element>

<xs:element name="deleteResponse" type="tns:deleteResponse"></xs:element>

<xs:element name="read" type="tns:read"></xs:element>

<xs:element name="readResponse" type="tns:readResponse"></xs:element>

<xs:element name="update" type="tns:update"></xs:element>

<xs:element name="updateResponse" type="tns:updateResponse"></xs:element>

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="BreakTimeAdminException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="read">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readResponse">
<xs:sequence>
<xs:element name="return" type="tns:breakTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="breakTime">
<xs:sequence>
<xs:element name="day" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="end" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="kind" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="promo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="start" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="promo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="start" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="end" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="kind" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="day" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="DALException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="update">
<xs:sequence>
<xs:element name="promo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="start" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="end" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="kind" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="day" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>