hci/WebAdmin-IRSAM/src/conf/xml-resources/web-service-references/AlarmFinderService/wsdl/localhost_8080/jSeduite/SchoolLife/AlarmFinderService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="AlarmException" type="tns:AlarmException"></xs:element>

<xs:element name="findAlarmById" type="tns:findAlarmById"></xs:element>

<xs:element name="findAlarmByIdResponse" type="tns:findAlarmByIdResponse"></xs:element>

<xs:element name="getAlarmsByBreakTimeId" type="tns:getAlarmsByBreakTimeId"></xs:element>

<xs:element name="getAlarmsByBreakTimeIdResponse" type="tns:getAlarmsByBreakTimeIdResponse"></xs:element>

<xs:element name="getAllAlarmIds" type="tns:getAllAlarmIds"></xs:element>

<xs:element name="getAllAlarmIdsResponse" type="tns:getAllAlarmIdsResponse"></xs:element>

<xs:complexType name="findAlarmById">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAlarmByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarm" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alarm">
<xs:sequence>
<xs:element name="breakTime" type="tns:breakTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="kind" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="sound" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="breakTime">
<xs:sequence>
<xs:element name="building" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="days" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="end" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="kind" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="promos" type="tns:promo" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="start" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="promo">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AlarmException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsByBreakTimeId">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmsByBreakTimeIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarm" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllAlarmIds">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAllAlarmIdsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>