hci/jsf/BreakManagerJSFClient/web/WEB-INF/wsdl/client/BreakTimeManagerService/localhost_8080/BreakManager/BreakTimeManagerService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://breaktime.technical.jSeduite.hebut.m1.cn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://breaktime.technical.jSeduite.hebut.m1.cn/">

<xs:element name="BreakTimeException" type="tns:BreakTimeException"></xs:element>

<xs:element name="DALException" type="tns:DALException"></xs:element>

<xs:element name="Exception" type="tns:Exception"></xs:element>

<xs:element name="GetAllPromos" type="tns:GetAllPromos"></xs:element>

<xs:element name="GetAllPromosResponse" type="tns:GetAllPromosResponse"></xs:element>

<xs:element name="getAllBreakTime" type="tns:getAllBreakTime"></xs:element>

<xs:element name="getAllBreakTimeResponse" type="tns:getAllBreakTimeResponse"></xs:element>

<xs:element name="getBreakByAlarm" type="tns:getBreakByAlarm"></xs:element>

<xs:element name="getBreakByAlarmResponse" type="tns:getBreakByAlarmResponse"></xs:element>

<xs:element name="getBreakByPromo" type="tns:getBreakByPromo"></xs:element>

<xs:element name="getBreakByPromoResponse" type="tns:getBreakByPromoResponse"></xs:element>

<xs:element name="getBreakTimeByDay" type="tns:getBreakTimeByDay"></xs:element>

<xs:element name="getBreakTimeByDayResponse" type="tns:getBreakTimeByDayResponse"></xs:element>

<xs:element name="getBreakTimeForToday" type="tns:getBreakTimeForToday"></xs:element>

<xs:element name="getBreakTimeForTodayResponse" type="tns:getBreakTimeForTodayResponse"></xs:element>

<xs:complexType name="getBreakByAlarm">
<xs:sequence>
<xs:element name="alarmId" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBreakByAlarmResponse">
<xs:sequence>
<xs:element name="return" type="tns:breakTime" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="breakTime">
<xs:sequence>
<xs:element name="day" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="end" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="kind" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="promo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="start" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DALException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Exception">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBreakByPromo">
<xs:sequence>
<xs:element name="promo" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBreakByPromoResponse">
<xs:sequence>
<xs:element name="return" type="tns:breakTime" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BreakTimeException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBreakTimeForToday">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getBreakTimeForTodayResponse">
<xs:sequence>
<xs:element name="return" type="tns:breakTime" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllBreakTime">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAllBreakTimeResponse">
<xs:sequence>
<xs:element name="return" type="tns:breakTime" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="GetAllPromos">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="GetAllPromosResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBreakTimeByDay">
<xs:sequence>
<xs:element name="day" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getBreakTimeByDayResponse">
<xs:sequence>
<xs:element name="return" type="tns:breakTime" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>