hci/WebAdmin/src/conf/xml-resources/web-service-references/SummoningFinderService/wsdl/localhost_8080/jSeduite/SchoolLife/SummoningFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" name="SummoningFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/SummoningFinderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAllSummoningReferences">
<part name="parameters" element="tns:getAllSummoningReferences"></part>
</message>
<message name="getAllSummoningReferencesResponse">
<part name="parameters" element="tns:getAllSummoningReferencesResponse"></part>
</message>
<message name="StudentsSummonException">
<part name="fault" element="tns:StudentsSummonException"></part>
</message>
<message name="findSummoningById">
<part name="parameters" element="tns:findSummoningById"></part>
</message>
<message name="findSummoningByIdResponse">
<part name="parameters" element="tns:findSummoningByIdResponse"></part>
</message>
<message name="findLevelById">
<part name="parameters" element="tns:findLevelById"></part>
</message>
<message name="findLevelByIdResponse">
<part name="parameters" element="tns:findLevelByIdResponse"></part>
</message>
<message name="getLevelIds">
<part name="parameters" element="tns:getLevelIds"></part>
</message>
<message name="getLevelIdsResponse">
<part name="parameters" element="tns:getLevelIdsResponse"></part>
</message>
<portType name="SummoningFinder">
<operation name="getAllSummoningReferences">
<input message="tns:getAllSummoningReferences"></input>
<output message="tns:getAllSummoningReferencesResponse"></output>
<fault message="tns:StudentsSummonException" name="StudentsSummonException"></fault>
</operation>
<operation name="findSummoningById">
<input message="tns:findSummoningById"></input>
<output message="tns:findSummoningByIdResponse"></output>
<fault message="tns:StudentsSummonException" name="StudentsSummonException"></fault>
</operation>
<operation name="findLevelById">
<input message="tns:findLevelById"></input>
<output message="tns:findLevelByIdResponse"></output>
<fault message="tns:StudentsSummonException" name="StudentsSummonException"></fault>
</operation>
<operation name="getLevelIds">
<input message="tns:getLevelIds"></input>
<output message="tns:getLevelIdsResponse"></output>
<fault message="tns:StudentsSummonException" name="StudentsSummonException"></fault>
</operation>
</portType>
<binding name="SummoningFinderPortBinding" type="tns:SummoningFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAllSummoningReferences">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="StudentsSummonException">
<soap:fault name="StudentsSummonException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="findSummoningById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="StudentsSummonException">
<soap:fault name="StudentsSummonException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="findLevelById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="StudentsSummonException">
<soap:fault name="StudentsSummonException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getLevelIds">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="StudentsSummonException">
<soap:fault name="StudentsSummonException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="SummoningFinderService">
<port name="SummoningFinderPort" binding="tns:SummoningFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/SummoningFinderService"></soap:address>
</port>
</service>
</definitions>