hci/WebAdmin/src/conf/xml-resources/web-service-references/FeedClassCRUDService/wsdl/localhost_8080/jSeduite/FeedRegistry/FeedClassCRUDService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="FeedRegistryException" type="tns:FeedRegistryException"></xs:element>

<xs:element name="createFeedClass" type="tns:createFeedClass"></xs:element>

<xs:element name="createFeedClassResponse" type="tns:createFeedClassResponse"></xs:element>

<xs:element name="deleteFeedClass" type="tns:deleteFeedClass"></xs:element>

<xs:element name="deleteFeedClassResponse" type="tns:deleteFeedClassResponse"></xs:element>

<xs:element name="readFeedClass" type="tns:readFeedClass"></xs:element>

<xs:element name="readFeedClassResponse" type="tns:readFeedClassResponse"></xs:element>

<xs:element name="updateFeedClass" type="tns:updateFeedClass"></xs:element>

<xs:element name="updateFeedClassResponse" type="tns:updateFeedClassResponse"></xs:element>

<xs:complexType name="deleteFeedClass">
<xs:sequence>
<xs:element name="c" type="tns:feedClass" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="feedClass">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteFeedClassResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="FeedRegistryException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readFeedClass">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readFeedClassResponse">
<xs:sequence>
<xs:element name="return" type="tns:feedClass" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateFeedClass">
<xs:sequence>
<xs:element name="c" type="tns:feedClass" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateFeedClassResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="createFeedClass">
<xs:sequence>
<xs:element name="c" type="tns:feedClass" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createFeedClassResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>