attic/FeedReader/src/localhost_8080/jSeduite/FeedRegistry/FeedRegistryService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" name="FeedRegistryService">
<types>
<xsd:schema>
<xsd:import namespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/FeedRegistry/FeedRegistryService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getURL">
<part name="parameters" element="tns:getURL"></part>
</message>
<message name="getURLResponse">
<part name="parameters" element="tns:getURLResponse"></part>
</message>
<message name="FeedRegistryException">
<part name="fault" element="tns:FeedRegistryException"></part>
</message>
<message name="getCategories">
<part name="parameters" element="tns:getCategories"></part>
</message>
<message name="getCategoriesResponse">
<part name="parameters" element="tns:getCategoriesResponse"></part>
</message>
<message name="getNicknames">
<part name="parameters" element="tns:getNicknames"></part>
</message>
<message name="getNicknamesResponse">
<part name="parameters" element="tns:getNicknamesResponse"></part>
</message>
<portType name="FeedRegistry">
<operation name="getURL">
<input message="tns:getURL"></input>
<output message="tns:getURLResponse"></output>
<fault message="tns:FeedRegistryException" name="FeedRegistryException"></fault>
</operation>
<operation name="getCategories">
<input message="tns:getCategories"></input>
<output message="tns:getCategoriesResponse"></output>
<fault message="tns:FeedRegistryException" name="FeedRegistryException"></fault>
</operation>
<operation name="getNicknames">
<input message="tns:getNicknames"></input>
<output message="tns:getNicknamesResponse"></output>
<fault message="tns:FeedRegistryException" name="FeedRegistryException"></fault>
</operation>
</portType>
<binding name="FeedRegistryPortBinding" type="tns:FeedRegistry">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getURL">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getCategories">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getNicknames">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="FeedRegistryService">
<port name="FeedRegistryPort" binding="tns:FeedRegistryPortBinding">
<soap:address location="http://localhost:8080/jSeduite/FeedRegistry/FeedRegistryService"></soap:address>
</port>
</service>
</definitions>