orchestrations/CachedFeedReader/src/localhost_9080/FeedReader.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://modalis.i3s.unice.fr/jSeduite/schema/FeedReader"
    xmlns:tns="http://modalis.i3s.unice.fr/jSeduite/schema/FeedReader"
    elementFormDefault="qualified" xmlns:ns0="http://feeds.technical.jSeduite.modalis.i3s.unice.fr/">
    <xsd:import schemaLocation="RssReaderService.xsd" namespace="http://feeds.technical.jSeduite.modalis.i3s.unice.fr/"/>
    <xsd:complexType name="FeedReaderIn">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="FeedReaderOut">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:feedContent"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="FeedReaderRequest" type="tns:FeedReaderIn"/>
    <xsd:element name="FeedReaderResponse" type="tns:FeedReaderOut"/>
</xsd:schema>