orchestrations/PictureAlbums/src/Partners/localhost_8080/jSeduite/PictureAlbumRegistry/PictureAlbumRegistryService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="PictureAlbumRegistryException" type="tns:PictureAlbumRegistryException"></xs:element>

<xs:element name="getValidAlbums" type="tns:getValidAlbums"></xs:element>

<xs:element name="getValidAlbumsResponse" type="tns:getValidAlbumsResponse"></xs:element>

<xs:complexType name="getValidAlbums">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getValidAlbumsResponse">
<xs:sequence>
<xs:element name="return" type="tns:pictureAlbum" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pictureAlbum">
<xs:sequence>
<xs:element name="album" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="duration" type="xs:int"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="repository" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="user" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="validFrom" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PictureAlbumRegistryException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>