hci/WebAdmin/src/conf/xml-resources/web-service-references/SourceCRUDService/wsdl/localhost_8080/jSeduite/ProfileManager/SourceCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/" name="SourceCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/ProfileManager/SourceCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createSource">
<part name="parameters" element="tns:createSource"></part>
</message>
<message name="createSourceResponse">
<part name="parameters" element="tns:createSourceResponse"></part>
</message>
<message name="SourceException">
<part name="fault" element="tns:SourceException"></part>
</message>
<message name="readSource">
<part name="parameters" element="tns:readSource"></part>
</message>
<message name="readSourceResponse">
<part name="parameters" element="tns:readSourceResponse"></part>
</message>
<message name="updateSource">
<part name="parameters" element="tns:updateSource"></part>
</message>
<message name="updateSourceResponse">
<part name="parameters" element="tns:updateSourceResponse"></part>
</message>
<message name="deleteSource">
<part name="parameters" element="tns:deleteSource"></part>
</message>
<message name="deleteSourceResponse">
<part name="parameters" element="tns:deleteSourceResponse"></part>
</message>
<portType name="SourceCRUD">
<operation name="createSource">
<input message="tns:createSource"></input>
<output message="tns:createSourceResponse"></output>
<fault message="tns:SourceException" name="SourceException"></fault>
</operation>
<operation name="readSource">
<input message="tns:readSource"></input>
<output message="tns:readSourceResponse"></output>
<fault message="tns:SourceException" name="SourceException"></fault>
</operation>
<operation name="updateSource">
<input message="tns:updateSource"></input>
<output message="tns:updateSourceResponse"></output>
<fault message="tns:SourceException" name="SourceException"></fault>
</operation>
<operation name="deleteSource">
<input message="tns:deleteSource"></input>
<output message="tns:deleteSourceResponse"></output>
<fault message="tns:SourceException" name="SourceException"></fault>
</operation>
</portType>
<binding name="SourceCRUDPortBinding" type="tns:SourceCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createSource">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SourceException">
<soap:fault name="SourceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readSource">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SourceException">
<soap:fault name="SourceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateSource">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SourceException">
<soap:fault name="SourceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteSource">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SourceException">
<soap:fault name="SourceException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="SourceCRUDService">
<port name="SourceCRUDPort" binding="tns:SourceCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/ProfileManager/SourceCRUDService"></soap:address>
</port>
</service>
</definitions>