hci/jsf/WebAdmin/src/conf/xml-resources/web-service-references/AlarmFinderService/wsdl/localhost_8080/jSeduite/SchoolLife/AlarmFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/" name="AlarmFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/AlarmFinderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="findAlarmById">
<part name="parameters" element="tns:findAlarmById"></part>
</message>
<message name="findAlarmByIdResponse">
<part name="parameters" element="tns:findAlarmByIdResponse"></part>
</message>
<message name="AlarmException">
<part name="fault" element="tns:AlarmException"></part>
</message>
<message name="getAlarmsByBreakTimeId">
<part name="parameters" element="tns:getAlarmsByBreakTimeId"></part>
</message>
<message name="getAlarmsByBreakTimeIdResponse">
<part name="parameters" element="tns:getAlarmsByBreakTimeIdResponse"></part>
</message>
<portType name="AlarmFinder">
<operation name="findAlarmById">
<input message="tns:findAlarmById"></input>
<output message="tns:findAlarmByIdResponse"></output>
<fault message="tns:AlarmException" name="AlarmException"></fault>
</operation>
<operation name="getAlarmsByBreakTimeId">
<input message="tns:getAlarmsByBreakTimeId"></input>
<output message="tns:getAlarmsByBreakTimeIdResponse"></output>
<fault message="tns:AlarmException" name="AlarmException"></fault>
</operation>
</portType>
<binding name="AlarmFinderPortBinding" type="tns:AlarmFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="findAlarmById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AlarmException">
<soap:fault name="AlarmException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAlarmsByBreakTimeId">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AlarmException">
<soap:fault name="AlarmException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="AlarmFinderService">
<port name="AlarmFinderPort" binding="tns:AlarmFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/AlarmFinderService"></soap:address>
</port>
</service>
</definitions>