hci/WebAdmin/src/conf/xml-resources/web-service-references/AbsenceFinderService/wsdl/localhost_8080/jSeduite/SchoolLife/AbsenceFinderService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="TeacherAbsenceException" type="tns:TeacherAbsenceException"></xs:element>

<xs:element name="findAbsenceById" type="tns:findAbsenceById"></xs:element>

<xs:element name="findAbsenceByIdResponse" type="tns:findAbsenceByIdResponse"></xs:element>

<xs:element name="getAllAbsenceReferences" type="tns:getAllAbsenceReferences"></xs:element>

<xs:element name="getAllAbsenceReferencesResponse" type="tns:getAllAbsenceReferencesResponse"></xs:element>

<xs:complexType name="getAllAbsenceReferences">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAllAbsenceReferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TeacherAbsenceException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAbsenceById">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAbsenceByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:absence" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="absence">
<xs:sequence>
<xs:element name="from" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="reason" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="teacher" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="until" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>