sandbox/MenuServiceTest/xml-resources/web-service-references/CourseBusinessService/wsdl/localhost_8080/jSeduite/sandbox/MenuService/CourseBusinessService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://restaurant.sanbox/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://restaurant.sanbox/">

<xs:element name="getAvailableKinds" type="tns:getAvailableKinds"></xs:element>

<xs:element name="getAvailableKindsResponse" type="tns:getAvailableKindsResponse"></xs:element>

<xs:complexType name="getAvailableKinds">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableKindsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>