sandbox/MenuServiceTest/xml-resources/web-service-references/CourseBusinessService/wsdl/localhost_8080/jSeduite/sandbox/MenuService/CourseBusinessService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="RestaurantException" type="tns:RestaurantException"></xs:element>

<xs:element name="getAvailableCourseKinds" type="tns:getAvailableCourseKinds"></xs:element>

<xs:element name="getAvailableCourseKindsResponse" type="tns:getAvailableCourseKindsResponse"></xs:element>

<xs:complexType name="getAvailableCourseKinds">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAvailableCourseKindsResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RestaurantException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>