hci/jsf/WebAdmin/web/WEB-INF/wsdl/client/SourceCRUDService/localhost_8080/jSeduite/ProfileManager/SourceCRUDService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="SourceException" type="tns:SourceException"></xs:element>

<xs:element name="createSource" type="tns:createSource"></xs:element>

<xs:element name="createSourceResponse" type="tns:createSourceResponse"></xs:element>

<xs:element name="deleteSource" type="tns:deleteSource"></xs:element>

<xs:element name="deleteSourceResponse" type="tns:deleteSourceResponse"></xs:element>

<xs:element name="readSource" type="tns:readSource"></xs:element>

<xs:element name="readSourceResponse" type="tns:readSourceResponse"></xs:element>

<xs:element name="updateSource" type="tns:updateSource"></xs:element>

<xs:element name="updateSourceResponse" type="tns:updateSourceResponse"></xs:element>

<xs:complexType name="updateSource">
<xs:sequence>
<xs:element name="s" type="tns:source" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="source">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSourceResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="SourceException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSource">
<xs:sequence>
<xs:element name="s" type="tns:source" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSourceResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="readSource">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readSourceResponse">
<xs:sequence>
<xs:element name="return" type="tns:source" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSource">
<xs:sequence>
<xs:element name="s" type="tns:source" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSourceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>