attic/providers/InfoProviderSkel/src/Sources/Interfaces/InternalNewsService.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/">

    <xs:element name="InternalNewsException" type="tns:InternalNewsException"></xs:element>

    <xs:element name="getAllNews" type="tns:getAllNews"></xs:element>

    <xs:element name="getAllNewsResponse" type="tns:getAllNewsResponse"></xs:element>

    <xs:element name="getTargetedNews" type="tns:getTargetedNews"></xs:element>

    <xs:element name="getTargetedNewsResponse" type="tns:getTargetedNewsResponse"></xs:element>

    <xs:element name="getTargets" type="tns:getTargets"></xs:element>

    <xs:element name="getTargetsResponse" type="tns:getTargetsResponse"></xs:element>

    <xs:complexType name="getAllNews">
        <xs:sequence></xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAllNewsResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:news" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="news">
        <xs:sequence>
            <xs:element name="author" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="content" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="end" type="xs:dateTime" minOccurs="0"></xs:element>
            <xs:element name="start" type="xs:dateTime" minOccurs="0"></xs:element>
            <xs:element name="target" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="InternalNewsException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getTargets">
        <xs:sequence></xs:sequence>
    </xs:complexType>

    <xs:complexType name="getTargetsResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getTargetedNews">
        <xs:sequence>
            <xs:element name="target" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getTargetedNewsResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:news" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>