attic/providers/InfoProviderSkel/src/Sources/Interfaces/PictureAlbum.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://modalis.i3s.unice.fr/jSeduite/schema/PictureAlbum"
    xmlns:tns="http://modalis.i3s.unice.fr/jSeduite/schema/PictureAlbum"
    elementFormDefault="qualified" xmlns:ns0="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/">
    <xsd:import schemaLocation="PictureAlbumRegistryService.xsd" namespace="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/"/>
    <xsd:complexType name="PhotoAlbum">
        <xsd:sequence>
            <xsd:element name="source" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="photo_star" type="tns:UrlSet"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="UrlSet">
        <xsd:sequence>
            <xsd:element name="url" type="xsd:anyURI" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PhotoAlbumSet">
        <xsd:sequence>
            <xsd:element name="photoAlbum" maxOccurs="unbounded" minOccurs="0" type="tns:PhotoAlbum"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PictureAlbumIn">
        <xsd:sequence>
            <xsd:element name="maxSize" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="PictureAlbumOut">
        <xsd:sequence>
            <xsd:element name="result" type="tns:PhotoAlbumSet"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="AlbumDescriptionSet">
        <xsd:sequence>
            <xsd:element name="albumDescription" type="ns0:pictureAlbum"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="PictureAlbumRequest" type="tns:PictureAlbumIn"/>
    <xsd:element name="PictureAlbumResponse" type="tns:PictureAlbumOut"/>
    <xsd:element name="AlbumDescription" type="ns0:pictureAlbum"/>
</xsd:schema>