attic/providers/InfoProviderSkel/src/Sources/Interfaces/StudentSummonService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" name="StudentSummonService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="StudentSummonService.xsd"></xsd:import>
        </xsd:schema>
    </types>
    <message name="getSummoned">
        <part name="parameters" element="tns:getSummoned"></part>
    </message>
    <message name="getSummonedResponse">
        <part name="parameters" element="tns:getSummonedResponse"></part>
    </message>
    <message name="StudentsSummonException">
        <part name="fault" element="tns:StudentsSummonException"></part>
    </message>
    <message name="getSummonedByCode">
        <part name="parameters" element="tns:getSummonedByCode"></part>
    </message>
    <message name="getSummonedByCodeResponse">
        <part name="parameters" element="tns:getSummonedByCodeResponse"></part>
    </message>
    <portType name="StudentSummon">
        <operation name="getSummoned">
            <input message="tns:getSummoned"></input>
            <output message="tns:getSummonedResponse"></output>
            <fault message="tns:StudentsSummonException" name="StudentsSummonException"></fault>
        </operation>
        <operation name="getSummonedByCode">
            <input message="tns:getSummonedByCode"></input>
            <output message="tns:getSummonedByCodeResponse"></output>
            <fault message="tns:StudentsSummonException" name="StudentsSummonException"></fault>
        </operation>
    </portType>
    <binding name="StudentSummonPortBinding" type="tns:StudentSummon">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="getSummoned">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="StudentsSummonException">
                <soap:fault name="StudentsSummonException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="getSummonedByCode">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="StudentsSummonException">
                <soap:fault name="StudentsSummonException" use="literal"></soap:fault>
            </fault>
        </operation>
    </binding>
    <service name="StudentSummonService">
        <port name="StudentSummonPort" binding="tns:StudentSummonPortBinding">
            <soap:address location="http://localhost:8080/jSeduite/SchoolLife/StudentSummonService"></soap:address>
        </port>
    </service>
</definitions>