orchestrations/CachedFeedReader/src/CachedFeedReader.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://modalis.i3s.unice.fr/jSeduite/orchestrations/schema/CachedFeedReader"
    xmlns:tns="http://modalis.i3s.unice.fr/jSeduite/orchestrations/schema/CachedFeedReader"
    elementFormDefault="qualified" xmlns:ns0="http://feeds.technical.jSeduite.modalis.i3s.unice.fr/">
    <xsd:import schemaLocation="Partners/RssReaderService.xsd" namespace="http://feeds.technical.jSeduite.modalis.i3s.unice.fr/"/>
    <xsd:element name="CachedReadAFeedRequest" type="tns:CachedReadAFeedIn"/>
    <xsd:element name="CacheReadAFeedResponse" type="tns:CachedReadAFeedOut"/>
    <xsd:complexType name="CachedFeedNode">
        <xsd:sequence>
            <xsd:element name="fromCache" type="xsd:boolean"/>
            <xsd:element name="feedData" type="ns0:feedContent"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CachedReadAFeedIn">
        <xsd:sequence>
            <xsd:element name="feedName" type="xsd:string"/>
            <xsd:element name="validity" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CachedReadAFeedOut">
        <xsd:sequence>
            <xsd:element name="cachedFeedData" type="tns:CachedFeedNode"/>
        </xsd:sequence>
    </xsd:complexType>
</xsd:schema>