hci/jsf/WebAdmin/src/conf/xml-resources/web-service-references/AlarmCRUDService/wsdl/localhost_8080/jSeduite/SchoolLife/AlarmCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/" name="AlarmCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/AlarmCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createAlarm">
<part name="parameters" element="tns:createAlarm"></part>
</message>
<message name="createAlarmResponse">
<part name="parameters" element="tns:createAlarmResponse"></part>
</message>
<message name="AlarmException">
<part name="fault" element="tns:AlarmException"></part>
</message>
<message name="readAlarm">
<part name="parameters" element="tns:readAlarm"></part>
</message>
<message name="readAlarmResponse">
<part name="parameters" element="tns:readAlarmResponse"></part>
</message>
<message name="updateAlarm">
<part name="parameters" element="tns:updateAlarm"></part>
</message>
<message name="updateAlarmResponse">
<part name="parameters" element="tns:updateAlarmResponse"></part>
</message>
<message name="deleteAlarm">
<part name="parameters" element="tns:deleteAlarm"></part>
</message>
<message name="deleteAlarmResponse">
<part name="parameters" element="tns:deleteAlarmResponse"></part>
</message>
<portType name="AlarmCRUD">
<operation name="createAlarm">
<input message="tns:createAlarm"></input>
<output message="tns:createAlarmResponse"></output>
<fault message="tns:AlarmException" name="AlarmException"></fault>
</operation>
<operation name="readAlarm">
<input message="tns:readAlarm"></input>
<output message="tns:readAlarmResponse"></output>
<fault message="tns:AlarmException" name="AlarmException"></fault>
</operation>
<operation name="updateAlarm">
<input message="tns:updateAlarm"></input>
<output message="tns:updateAlarmResponse"></output>
<fault message="tns:AlarmException" name="AlarmException"></fault>
</operation>
<operation name="deleteAlarm">
<input message="tns:deleteAlarm"></input>
<output message="tns:deleteAlarmResponse"></output>
<fault message="tns:AlarmException" name="AlarmException"></fault>
</operation>
</portType>
<binding name="AlarmCRUDPortBinding" type="tns:AlarmCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createAlarm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AlarmException">
<soap:fault name="AlarmException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readAlarm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AlarmException">
<soap:fault name="AlarmException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateAlarm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AlarmException">
<soap:fault name="AlarmException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteAlarm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AlarmException">
<soap:fault name="AlarmException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="AlarmCRUDService">
<port name="AlarmCRUDPort" binding="tns:AlarmCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/AlarmCRUDService"></soap:address>
</port>
</service>
</definitions>