providers/InfoProviderEPU/src/Sources/CachedFeedReader.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://modalis.i3s.unice.fr/jSeduite/schema/CachedFeedReader"
    elementFormDefault="qualified" xmlns:tns="http://modalis.i3s.unice.fr/jSeduite/schema/CachedFeedReader" xmlns:ns0="http://feeds.technical.jSeduite.modalis.i3s.unice.fr/">
    <xsd:import schemaLocation="RssReaderService.xsd"
                namespace="http://feeds.technical.jSeduite.modalis.i3s.unice.fr/"/>
    <xsd:complexType name="CachedFeedReaderIn">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="validity" type="xsd:int" default="30"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="CachedFeedReaderOut">
        <xsd:sequence>
            <xsd:element name="return" type="ns0:feedContent"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="CachedFeedReaderRequest" type="tns:CachedFeedReaderIn"/>
    <xsd:element name="CachedFeedReaderResponse" type="tns:CachedFeedReaderOut"/>
</xsd:schema>