providers/InfoProviderEPU/src/Sources/ICalReaderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/" name="ICalReaderService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="ICalReaderService.xsd"></xsd:import>
        </xsd:schema>
    </types>
    <message name="getContent">
        <part name="parameters" element="tns:getContent"></part>
    </message>
    <message name="getContentResponse">
        <part name="parameters" element="tns:getContentResponse"></part>
    </message>
    <message name="ICalReaderException">
        <part name="fault" element="tns:ICalReaderException"></part>
    </message>
    <message name="getToday">
        <part name="parameters" element="tns:getToday"></part>
    </message>
    <message name="getTodayResponse">
        <part name="parameters" element="tns:getTodayResponse"></part>
    </message>
    <message name="getNow">
        <part name="parameters" element="tns:getNow"></part>
    </message>
    <message name="getNowResponse">
        <part name="parameters" element="tns:getNowResponse"></part>
    </message>
    <portType name="ICalReader">
        <operation name="getContent">
            <input message="tns:getContent"></input>
            <output message="tns:getContentResponse"></output>
            <fault message="tns:ICalReaderException" name="ICalReaderException"></fault>
        </operation>
        <operation name="getToday">
            <input message="tns:getToday"></input>
            <output message="tns:getTodayResponse"></output>
            <fault message="tns:ICalReaderException" name="ICalReaderException"></fault>
        </operation>
        <operation name="getNow">
            <input message="tns:getNow"></input>
            <output message="tns:getNowResponse"></output>
            <fault message="tns:ICalReaderException" name="ICalReaderException"></fault>
        </operation>
    </portType>
    <binding name="ICalReaderPortBinding" type="tns:ICalReader">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="getContent">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="ICalReaderException">
                <soap:fault name="ICalReaderException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="getToday">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="ICalReaderException">
                <soap:fault name="ICalReaderException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="getNow">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="ICalReaderException">
                <soap:fault name="ICalReaderException" use="literal"></soap:fault>
            </fault>
        </operation>
    </binding>
    <service name="ICalReaderService">
        <port name="ICalReaderPort" binding="tns:ICalReaderPortBinding">
            <soap:address location="http://localhost:8080/jSeduite/ICalReader/ICalReaderService"></soap:address>
        </port>
    </service>
</definitions>