hci/WebAdmin-IRSAM/src/conf/xml-resources/web-service-references/PlanningFinderService/wsdl/localhost_8080/jSeduite/SchoolLife/PlanningFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/" name="PlanningFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/PlanningFinderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="findPlanningById">
<part name="parameters" element="tns:findPlanningById"></part>
</message>
<message name="findPlanningByIdResponse">
<part name="parameters" element="tns:findPlanningByIdResponse"></part>
</message>
<message name="PlanningException">
<part name="fault" element="tns:PlanningException"></part>
</message>
<message name="getAllPlanningReferences">
<part name="parameters" element="tns:getAllPlanningReferences"></part>
</message>
<message name="getAllPlanningReferencesResponse">
<part name="parameters" element="tns:getAllPlanningReferencesResponse"></part>
</message>
<portType name="PlanningFinder">
<operation name="findPlanningById">
<input message="tns:findPlanningById"></input>
<output message="tns:findPlanningByIdResponse"></output>
<fault message="tns:PlanningException" name="PlanningException"></fault>
</operation>
<operation name="getAllPlanningReferences">
<input message="tns:getAllPlanningReferences"></input>
<output message="tns:getAllPlanningReferencesResponse"></output>
<fault message="tns:PlanningException" name="PlanningException"></fault>
</operation>
</portType>
<binding name="PlanningFinderPortBinding" type="tns:PlanningFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="findPlanningById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PlanningException">
<soap:fault name="PlanningException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllPlanningReferences">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PlanningException">
<soap:fault name="PlanningException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PlanningFinderService">
<port name="PlanningFinderPort" binding="tns:PlanningFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/PlanningFinderService"></soap:address>
</port>
</service>
</definitions>