hci/jsf/WebAdmin/web/WEB-INF/wsdl/client/ParamFinderService/localhost_8080/jSeduite/ProfileManager/ParamFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/" name="ParamFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/ProfileManager/ParamFinderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getParameters">
<part name="parameters" element="tns:getParameters"></part>
</message>
<message name="getParametersResponse">
<part name="parameters" element="tns:getParametersResponse"></part>
</message>
<message name="ParamException">
<part name="fault" element="tns:ParamException"></part>
</message>
<message name="getParametersForSource">
<part name="parameters" element="tns:getParametersForSource"></part>
</message>
<message name="getParametersForSourceResponse">
<part name="parameters" element="tns:getParametersForSourceResponse"></part>
</message>
<message name="getParameterCard">
<part name="parameters" element="tns:getParameterCard"></part>
</message>
<message name="getParameterCardResponse">
<part name="parameters" element="tns:getParameterCardResponse"></part>
</message>
<portType name="ParamFinder">
<operation name="getParameters">
<input message="tns:getParameters"></input>
<output message="tns:getParametersResponse"></output>
<fault message="tns:ParamException" name="ParamException"></fault>
</operation>
<operation name="getParametersForSource">
<input message="tns:getParametersForSource"></input>
<output message="tns:getParametersForSourceResponse"></output>
<fault message="tns:ParamException" name="ParamException"></fault>
</operation>
<operation name="getParameterCard">
<input message="tns:getParameterCard"></input>
<output message="tns:getParameterCardResponse"></output>
<fault message="tns:ParamException" name="ParamException"></fault>
</operation>
</portType>
<binding name="ParamFinderPortBinding" type="tns:ParamFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getParameters">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParamException">
<soap:fault name="ParamException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getParametersForSource">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParamException">
<soap:fault name="ParamException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getParameterCard">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParamException">
<soap:fault name="ParamException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="ParamFinderService">
<port name="ParamFinderPort" binding="tns:ParamFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/ProfileManager/ParamFinderService"></soap:address>
</port>
</service>
</definitions>