hci/WebAdmin/web/WEB-INF/wsdl/client/InternalNewsService/localhost_8080/jSeduite/InternalNews/InternalNewsService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" name="InternalNewsService">
<types>
<xsd:schema>
<xsd:import namespace="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/InternalNews/InternalNewsService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getTargets">
<part name="parameters" element="tns:getTargets"></part>
</message>
<message name="getTargetsResponse">
<part name="parameters" element="tns:getTargetsResponse"></part>
</message>
<message name="InternalNewsException">
<part name="fault" element="tns:InternalNewsException"></part>
</message>
<message name="getAllNews">
<part name="parameters" element="tns:getAllNews"></part>
</message>
<message name="getAllNewsResponse">
<part name="parameters" element="tns:getAllNewsResponse"></part>
</message>
<message name="getTargetedNews">
<part name="parameters" element="tns:getTargetedNews"></part>
</message>
<message name="getTargetedNewsResponse">
<part name="parameters" element="tns:getTargetedNewsResponse"></part>
</message>
<portType name="InternalNews">
<operation name="getTargets">
<input message="tns:getTargets"></input>
<output message="tns:getTargetsResponse"></output>
<fault message="tns:InternalNewsException" name="InternalNewsException"></fault>
</operation>
<operation name="getAllNews">
<input message="tns:getAllNews"></input>
<output message="tns:getAllNewsResponse"></output>
<fault message="tns:InternalNewsException" name="InternalNewsException"></fault>
</operation>
<operation name="getTargetedNews">
<input message="tns:getTargetedNews"></input>
<output message="tns:getTargetedNewsResponse"></output>
<fault message="tns:InternalNewsException" name="InternalNewsException"></fault>
</operation>
</portType>
<binding name="InternalNewsPortBinding" type="tns:InternalNews">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getTargets">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllNews">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getTargetedNews">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="InternalNewsService">
<port name="InternalNewsPort" binding="tns:InternalNewsPortBinding">
<soap:address location="http://localhost:8080/jSeduite/InternalNews/InternalNewsService"></soap:address>
</port>
</service>
</definitions>