hci/WebAdmin/web/WEB-INF/wsdl/client/PromoCRUDService/localhost_8080/jSeduite/SchoolLife/PromoCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://promos.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://promos.technical.jSeduite.modalis.i3s.unice.fr/" name="PromoCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://promos.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/PromoCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createPromo">
<part name="parameters" element="tns:createPromo"></part>
</message>
<message name="createPromoResponse">
<part name="parameters" element="tns:createPromoResponse"></part>
</message>
<message name="PromoException">
<part name="fault" element="tns:PromoException"></part>
</message>
<message name="readPromo">
<part name="parameters" element="tns:readPromo"></part>
</message>
<message name="readPromoResponse">
<part name="parameters" element="tns:readPromoResponse"></part>
</message>
<message name="updatePromo">
<part name="parameters" element="tns:updatePromo"></part>
</message>
<message name="updatePromoResponse">
<part name="parameters" element="tns:updatePromoResponse"></part>
</message>
<message name="deletePromo">
<part name="parameters" element="tns:deletePromo"></part>
</message>
<message name="deletePromoResponse">
<part name="parameters" element="tns:deletePromoResponse"></part>
</message>
<portType name="PromoCRUD">
<operation name="createPromo">
<input message="tns:createPromo"></input>
<output message="tns:createPromoResponse"></output>
<fault message="tns:PromoException" name="PromoException"></fault>
</operation>
<operation name="readPromo">
<input message="tns:readPromo"></input>
<output message="tns:readPromoResponse"></output>
<fault message="tns:PromoException" name="PromoException"></fault>
</operation>
<operation name="updatePromo">
<input message="tns:updatePromo"></input>
<output message="tns:updatePromoResponse"></output>
<fault message="tns:PromoException" name="PromoException"></fault>
</operation>
<operation name="deletePromo">
<input message="tns:deletePromo"></input>
<output message="tns:deletePromoResponse"></output>
<fault message="tns:PromoException" name="PromoException"></fault>
</operation>
</portType>
<binding name="PromoCRUDPortBinding" type="tns:PromoCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createPromo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PromoException">
<soap:fault name="PromoException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readPromo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PromoException">
<soap:fault name="PromoException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updatePromo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PromoException">
<soap:fault name="PromoException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deletePromo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PromoException">
<soap:fault name="PromoException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PromoCRUDService">
<port name="PromoCRUDPort" binding="tns:PromoCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/PromoCRUDService"></soap:address>
</port>
</service>
</definitions>