hci/WebAdmin-IRSAM/src/conf/xml-resources/web-service-references/BreakScreenCRUDService/wsdl/localhost_8080/jSeduite/breakScreen/BreakScreenCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/" name="BreakScreenCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/breakScreen/BreakScreenCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createBreakScreen">
<part name="parameters" element="tns:createBreakScreen"></part>
</message>
<message name="createBreakScreenResponse">
<part name="parameters" element="tns:createBreakScreenResponse"></part>
</message>
<message name="BreakScreenException">
<part name="fault" element="tns:BreakScreenException"></part>
</message>
<message name="readBreakScreen">
<part name="parameters" element="tns:readBreakScreen"></part>
</message>
<message name="readBreakScreenResponse">
<part name="parameters" element="tns:readBreakScreenResponse"></part>
</message>
<message name="updateBreakScreen">
<part name="parameters" element="tns:updateBreakScreen"></part>
</message>
<message name="updateBreakScreenResponse">
<part name="parameters" element="tns:updateBreakScreenResponse"></part>
</message>
<message name="deleteBreakScreen">
<part name="parameters" element="tns:deleteBreakScreen"></part>
</message>
<message name="deleteBreakScreenResponse">
<part name="parameters" element="tns:deleteBreakScreenResponse"></part>
</message>
<portType name="BreakScreenCRUD">
<operation name="createBreakScreen">
<input message="tns:createBreakScreen"></input>
<output message="tns:createBreakScreenResponse"></output>
<fault message="tns:BreakScreenException" name="BreakScreenException"></fault>
</operation>
<operation name="readBreakScreen">
<input message="tns:readBreakScreen"></input>
<output message="tns:readBreakScreenResponse"></output>
<fault message="tns:BreakScreenException" name="BreakScreenException"></fault>
</operation>
<operation name="updateBreakScreen">
<input message="tns:updateBreakScreen"></input>
<output message="tns:updateBreakScreenResponse"></output>
<fault message="tns:BreakScreenException" name="BreakScreenException"></fault>
</operation>
<operation name="deleteBreakScreen">
<input message="tns:deleteBreakScreen"></input>
<output message="tns:deleteBreakScreenResponse"></output>
<fault message="tns:BreakScreenException" name="BreakScreenException"></fault>
</operation>
</portType>
<binding name="BreakScreenCRUDPortBinding" type="tns:BreakScreenCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createBreakScreen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakScreenException">
<soap:fault name="BreakScreenException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readBreakScreen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakScreenException">
<soap:fault name="BreakScreenException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateBreakScreen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakScreenException">
<soap:fault name="BreakScreenException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteBreakScreen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakScreenException">
<soap:fault name="BreakScreenException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="BreakScreenCRUDService">
<port name="BreakScreenCRUDPort" binding="tns:BreakScreenCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/breakScreen/BreakScreenCRUDService"></soap:address>
</port>
</service>
</definitions>