hci/WebAdmin-IRSAM/src/conf/xml-resources/web-service-references/BreakScreenCRUDService/wsdl/localhost_8080/jSeduite/breakScreen/BreakScreenCRUDService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="BreakScreenException" type="tns:BreakScreenException"></xs:element>

<xs:element name="createBreakScreen" type="tns:createBreakScreen"></xs:element>

<xs:element name="createBreakScreenResponse" type="tns:createBreakScreenResponse"></xs:element>

<xs:element name="deleteBreakScreen" type="tns:deleteBreakScreen"></xs:element>

<xs:element name="deleteBreakScreenResponse" type="tns:deleteBreakScreenResponse"></xs:element>

<xs:element name="readBreakScreen" type="tns:readBreakScreen"></xs:element>

<xs:element name="readBreakScreenResponse" type="tns:readBreakScreenResponse"></xs:element>

<xs:element name="updateBreakScreen" type="tns:updateBreakScreen"></xs:element>

<xs:element name="updateBreakScreenResponse" type="tns:updateBreakScreenResponse"></xs:element>

<xs:complexType name="updateBreakScreen">
<xs:sequence>
<xs:element name="b" type="tns:breakScreen" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="breakScreen">
<xs:sequence>
<xs:element name="building" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="content" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="days" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="end" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="sound" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="start" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBreakScreenResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="BreakScreenException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBreakScreen">
<xs:sequence>
<xs:element name="b" type="tns:breakScreen" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBreakScreenResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readBreakScreen">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readBreakScreenResponse">
<xs:sequence>
<xs:element name="return" type="tns:breakScreen" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBreakScreen">
<xs:sequence>
<xs:element name="b" type="tns:breakScreen" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBreakScreenResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>