trunk/hci/WebAdmin/web/WEB-INF/wsdl/client/FileUploaderService/localhost_8080/FileUploader/FileUploaderService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://files.upload.jseduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://files.upload.jseduite.modalis.i3s.unice.fr/">

<xs:element name="FileUploaderException" type="tns:FileUploaderException"></xs:element>

<xs:element name="uploadNewFile" type="tns:uploadNewFile"></xs:element>

<xs:element name="uploadNewFileResponse" type="tns:uploadNewFileResponse"></xs:element>

<xs:complexType name="uploadNewFile">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="content" type="xs:base64Binary" nillable="true" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadNewFileResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FileUploaderException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>