hci/jsf/JSFClient/src/conf/xml-resources/web-service-references/AlarmManagerService/wsdl/localhost_8080/jseduite/AlarmManager/AlarmManagerService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://alarms.technical.jSeduite.hebut.m1.cn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://alarms.technical.jSeduite.hebut.m1.cn/">

<xs:element name="AlarmException" type="tns:AlarmException"></xs:element>

<xs:element name="getAlarmByBinding" type="tns:getAlarmByBinding"></xs:element>

<xs:element name="getAlarmByBindingResponse" type="tns:getAlarmByBindingResponse"></xs:element>

<xs:complexType name="getAlarmByBinding">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAlarmByBindingResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarm" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alarm">
<xs:sequence>
<xs:element name="alarmContent" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="alarmId" type="xs:int"></xs:element>
<xs:element name="position" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AlarmException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>