orchestrations/ImageScraper/src/WSDL/ImageScapper.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://modalis.i3s.unice.fr/jSeduite/schema/ImageScapper"
    xmlns:tns="http://modalis.i3s.unice.fr/jSeduite/schema/ImageScapper"
    elementFormDefault="qualified">
    <xsd:complexType name="ImageScrapperIn">
        <xsd:sequence>
            <xsd:element name="tags" type="xsd:string"/>
            <xsd:element name="size" type="xsd:int"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ImageScrapperOut">
        <xsd:sequence>
            <xsd:element name="url" type="xsd:anyURI" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="ArrayOfURL">
        <xsd:sequence>
            <xsd:element name="item" type="xsd:anyURI" maxOccurs="unbounded" minOccurs="0"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="ImageScrapperRequest" type="tns:ImageScrapperIn"/>
    <xsd:element name="ImageScrapperResponse" type="tns:ImageScrapperOut"/>
</xsd:schema>