hci/WebAdmin-IRSAM/src/conf/xml-resources/web-service-references/FeedFinderService/wsdl/localhost_8080/jSeduite/FeedRegistry/FeedFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" name="FeedFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/FeedRegistry/FeedFinderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="findFeedById">
<part name="parameters" element="tns:findFeedById"></part>
</message>
<message name="findFeedByIdResponse">
<part name="parameters" element="tns:findFeedByIdResponse"></part>
</message>
<message name="FeedRegistryException">
<part name="fault" element="tns:FeedRegistryException"></part>
</message>
<message name="getAllFeeds">
<part name="parameters" element="tns:getAllFeeds"></part>
</message>
<message name="getAllFeedsResponse">
<part name="parameters" element="tns:getAllFeedsResponse"></part>
</message>
<portType name="FeedFinder">
<operation name="findFeedById">
<input message="tns:findFeedById"></input>
<output message="tns:findFeedByIdResponse"></output>
<fault message="tns:FeedRegistryException" name="FeedRegistryException"></fault>
</operation>
<operation name="getAllFeeds">
<input message="tns:getAllFeeds"></input>
<output message="tns:getAllFeedsResponse"></output>
<fault message="tns:FeedRegistryException" name="FeedRegistryException"></fault>
</operation>
</portType>
<binding name="FeedFinderPortBinding" type="tns:FeedFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="findFeedById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllFeeds">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="FeedFinderService">
<port name="FeedFinderPort" binding="tns:FeedFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/FeedRegistry/FeedFinderService"></soap:address>
</port>
</service>
</definitions>