hci/WebAdmin/src/conf/xml-resources/web-service-references/BreakingNewsCRUDService/wsdl/localhost_8080/jSeduite/BreakingNews/BreakingNewsCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/" name="BreakingNewsCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/BreakingNews/BreakingNewsCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createBreakingNews">
<part name="parameters" element="tns:createBreakingNews"></part>
</message>
<message name="createBreakingNewsResponse">
<part name="parameters" element="tns:createBreakingNewsResponse"></part>
</message>
<message name="BreakingNewsException">
<part name="fault" element="tns:BreakingNewsException"></part>
</message>
<message name="readBreakingNews">
<part name="parameters" element="tns:readBreakingNews"></part>
</message>
<message name="readBreakingNewsResponse">
<part name="parameters" element="tns:readBreakingNewsResponse"></part>
</message>
<message name="updateBreakingNews">
<part name="parameters" element="tns:updateBreakingNews"></part>
</message>
<message name="updateBreakingNewsResponse">
<part name="parameters" element="tns:updateBreakingNewsResponse"></part>
</message>
<message name="deleteBreakingNews">
<part name="parameters" element="tns:deleteBreakingNews"></part>
</message>
<message name="deleteBreakingNewsResponse">
<part name="parameters" element="tns:deleteBreakingNewsResponse"></part>
</message>
<portType name="BreakingNewsCRUD">
<operation name="createBreakingNews">
<input message="tns:createBreakingNews"></input>
<output message="tns:createBreakingNewsResponse"></output>
<fault message="tns:BreakingNewsException" name="BreakingNewsException"></fault>
</operation>
<operation name="readBreakingNews">
<input message="tns:readBreakingNews"></input>
<output message="tns:readBreakingNewsResponse"></output>
<fault message="tns:BreakingNewsException" name="BreakingNewsException"></fault>
</operation>
<operation name="updateBreakingNews">
<input message="tns:updateBreakingNews"></input>
<output message="tns:updateBreakingNewsResponse"></output>
<fault message="tns:BreakingNewsException" name="BreakingNewsException"></fault>
</operation>
<operation name="deleteBreakingNews">
<input message="tns:deleteBreakingNews"></input>
<output message="tns:deleteBreakingNewsResponse"></output>
<fault message="tns:BreakingNewsException" name="BreakingNewsException"></fault>
</operation>
</portType>
<binding name="BreakingNewsCRUDPortBinding" type="tns:BreakingNewsCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createBreakingNews">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakingNewsException">
<soap:fault name="BreakingNewsException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readBreakingNews">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakingNewsException">
<soap:fault name="BreakingNewsException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateBreakingNews">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakingNewsException">
<soap:fault name="BreakingNewsException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteBreakingNews">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakingNewsException">
<soap:fault name="BreakingNewsException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="BreakingNewsCRUDService">
<port name="BreakingNewsCRUDPort" binding="tns:BreakingNewsCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/BreakingNews/BreakingNewsCRUDService"></soap:address>
</port>
</service>
</definitions>