sandbox/MenuServiceTest/xml-resources/web-service-references/CourseCRUDService/wsdl/localhost_8080/jSeduite/sandbox/MenuService/CourseCRUDService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://restaurant.sanbox/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://restaurant.sanbox/">

<xs:element name="create" type="tns:create"></xs:element>

<xs:element name="createResponse" type="tns:createResponse"></xs:element>

<xs:element name="delete" type="tns:delete"></xs:element>

<xs:element name="deleteResponse" type="tns:deleteResponse"></xs:element>

<xs:element name="read" type="tns:read"></xs:element>

<xs:element name="readResponse" type="tns:readResponse"></xs:element>

<xs:element name="update" type="tns:update"></xs:element>

<xs:element name="updateResponse" type="tns:updateResponse"></xs:element>

<xs:complexType name="update">
<xs:sequence>
<xs:element name="c" type="tns:course" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="course">
<xs:sequence>
<xs:element name="id" type="xs:int" minOccurs="0"></xs:element>
<xs:element name="kind" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="c" type="tns:course" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="delete">
<xs:sequence>
<xs:element name="c" type="tns:course" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="read">
<xs:sequence>
<xs:element name="ref" type="xs:int" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readResponse">
<xs:sequence>
<xs:element name="return" type="tns:course" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>