sandbox/MenuServiceTest/xml-resources/web-service-references/CourseCRUDService/wsdl/localhost_8080/jSeduite/sandbox/MenuService/CourseCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://restaurant.sanbox/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://restaurant.sanbox/" name="CourseCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://restaurant.sanbox/" schemaLocation="http://localhost:8080/jSeduite/sandbox/MenuService/CourseCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"></part>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"></part>
</message>
<message name="read">
<part name="parameters" element="tns:read"></part>
</message>
<message name="readResponse">
<part name="parameters" element="tns:readResponse"></part>
</message>
<message name="create">
<part name="parameters" element="tns:create"></part>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"></part>
</message>
<message name="update">
<part name="parameters" element="tns:update"></part>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"></part>
</message>
<portType name="CourseCRUD">
<operation name="delete">
<input message="tns:delete"></input>
<output message="tns:deleteResponse"></output>
</operation>
<operation name="read">
<input message="tns:read"></input>
<output message="tns:readResponse"></output>
</operation>
<operation name="create">
<input message="tns:create"></input>
<output message="tns:createResponse"></output>
</operation>
<operation name="update">
<input message="tns:update"></input>
<output message="tns:updateResponse"></output>
</operation>
</portType>
<binding name="CourseCRUDPortBinding" type="tns:CourseCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="delete">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="read">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
</binding>
<service name="CourseCRUDService">
<port name="CourseCRUDPort" binding="tns:CourseCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/sandbox/MenuService/CourseCRUDService"></soap:address>
</port>
</service>
</definitions>