hci/WebAdmin-IRSAM/src/conf/xml-resources/web-service-references/BreakingNewsCRUDService/wsdl/localhost_8080/jSeduite/BreakingNews/BreakingNewsCRUDService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="BreakingNewsException" type="tns:BreakingNewsException"></xs:element>

<xs:element name="createBreakingNews" type="tns:createBreakingNews"></xs:element>

<xs:element name="createBreakingNewsResponse" type="tns:createBreakingNewsResponse"></xs:element>

<xs:element name="deleteBreakingNews" type="tns:deleteBreakingNews"></xs:element>

<xs:element name="deleteBreakingNewsResponse" type="tns:deleteBreakingNewsResponse"></xs:element>

<xs:element name="readBreakingNews" type="tns:readBreakingNews"></xs:element>

<xs:element name="readBreakingNewsResponse" type="tns:readBreakingNewsResponse"></xs:element>

<xs:element name="updateBreakingNews" type="tns:updateBreakingNews"></xs:element>

<xs:element name="updateBreakingNewsResponse" type="tns:updateBreakingNewsResponse"></xs:element>

<xs:complexType name="createBreakingNews">
<xs:sequence>
<xs:element name="b" type="tns:breakNew" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="breakNew">
<xs:sequence>
<xs:element name="author" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="content" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="stamp" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBreakingNewsResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BreakingNewsException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBreakingNews">
<xs:sequence>
<xs:element name="b" type="tns:breakNew" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBreakingNewsResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBreakingNews">
<xs:sequence>
<xs:element name="b" type="tns:breakNew" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBreakingNewsResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="readBreakingNews">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readBreakingNewsResponse">
<xs:sequence>
<xs:element name="return" type="tns:breakNew" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>