webservices/PicasaWrapper/web/WSDL/PicasaWrapperService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/" name="PicasaWrapperService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://picasa.image.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="PicasaWrapperService.xsd"></xsd:import>
        </xsd:schema>
    </types>
    <message name="getAlbumContent">
        <part name="parameters" element="tns:getAlbumContent"></part>
    </message>
    <message name="getAlbumContentResponse">
        <part name="parameters" element="tns:getAlbumContentResponse"></part>
    </message>
    <message name="PicasaWrapperException">
        <part name="fault" element="tns:PicasaWrapperException"></part>
    </message>
    <message name="getFolksonomyContent">
        <part name="parameters" element="tns:getFolksonomyContent"></part>
    </message>
    <message name="getFolksonomyContentResponse">
        <part name="parameters" element="tns:getFolksonomyContentResponse"></part>
    </message>
    <portType name="PicasaWrapper">
        <operation name="getAlbumContent">
            <input message="tns:getAlbumContent"></input>
            <output message="tns:getAlbumContentResponse"></output>
            <fault message="tns:PicasaWrapperException" name="PicasaWrapperException"></fault>
        </operation>
        <operation name="getFolksonomyContent">
            <input message="tns:getFolksonomyContent"></input>
            <output message="tns:getFolksonomyContentResponse"></output>
            <fault message="tns:PicasaWrapperException" name="PicasaWrapperException"></fault>
        </operation>
    </portType>
    <binding name="PicasaWrapperPortBinding" type="tns:PicasaWrapper">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="getAlbumContent">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="PicasaWrapperException">
                <soap:fault name="PicasaWrapperException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="getFolksonomyContent">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="PicasaWrapperException">
                <soap:fault name="PicasaWrapperException" use="literal"></soap:fault>
            </fault>
        </operation>
    </binding>
    <service name="PicasaWrapperService">
        <port name="PicasaWrapperPort" binding="tns:PicasaWrapperPortBinding">
            <soap:address location="http://localhost:8080/jSeduite/PicasaWrapper/PicasaWrapperService"></soap:address>
        </port>
    </service>
</definitions>