architecture/contracts/AccountManagerService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="http://accounts.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://accounts.technical.jSeduite.modalis.i3s.unice.fr/">
  <xs:element name="isAuthorized" type="tns:isAuthorized"/>
  <xs:element name="isAuthorizedResponse" type="tns:isAuthorizedResponse"/>
  <xs:complexType name="isAuthorized">
    <xs:sequence>
      <xs:element name="login" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="isAuthorizedResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
