architecture/contracts/BreakTimeManagerService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="http://breaktime.technical.jSeduite.hebut.m1.cn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://breaktime.technical.jSeduite.hebut.m1.cn/">
  <xs:element name="BreakTimeException" type="tns:BreakTimeException"/>
  <xs:element name="getAllBreakTime" type="tns:getAllBreakTime"/>
  <xs:element name="getAllBreakTimeResponse" type="tns:getAllBreakTimeResponse"/>
  <xs:element name="getBreakTime" type="tns:getBreakTime"/>
  <xs:element name="getBreakTimeForToday" type="tns:getBreakTimeForToday"/>
  <xs:element name="getBreakTimeForTodayResponse" type="tns:getBreakTimeForTodayResponse"/>
  <xs:element name="getBreakTimeResponse" type="tns:getBreakTimeResponse"/>
  <xs:complexType name="getAllBreakTime">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllBreakTimeResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:breakTime" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="breakTime">
    <xs:sequence>
      <xs:element name="end" type="xs:string" minOccurs="0"/>
      <xs:element name="kind" type="xs:string" minOccurs="0"/>
      <xs:element name="PCode" type="xs:string" minOccurs="0"/>
      <xs:element name="promo" type="xs:string" minOccurs="0"/>
      <xs:element name="start" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BreakTimeException">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBreakTime">
    <xs:sequence>
      <xs:element name="day" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBreakTimeResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:breakTime" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getBreakTimeForToday">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getBreakTimeForTodayResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:breakTime" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
