architecture/contracts/BreakingNewsService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/">
  <xs:element name="BreakingNewsException" type="tns:BreakingNewsException"/>
  <xs:element name="getBreakingNews" type="tns:getBreakingNews"/>
  <xs:element name="getBreakingNewsResponse" type="tns:getBreakingNewsResponse"/>
  <xs:complexType name="getBreakingNews">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getBreakingNewsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:breakNew" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="breakNew">
    <xs:sequence>
      <xs:element name="author" type="xs:string" minOccurs="0"/>
      <xs:element name="content" type="xs:string" minOccurs="0"/>
      <xs:element name="stamp" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BreakingNewsException">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
