architecture/contracts/BreakTimeManagerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://breaktime.technical.jSeduite.hebut.m1.cn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://breaktime.technical.jSeduite.hebut.m1.cn/" name="BreakTimeManagerService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://breaktime.technical.jSeduite.hebut.m1.cn/" schemaLocation="BreakTimeManagerService.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllBreakTime">
    <part name="parameters" element="tns:getAllBreakTime"/>
  </message>
  <message name="getAllBreakTimeResponse">
    <part name="parameters" element="tns:getAllBreakTimeResponse"/>
  </message>
  <message name="BreakTimeException">
    <part name="fault" element="tns:BreakTimeException"/>
  </message>
  <message name="getBreakTimeForToday">
    <part name="parameters" element="tns:getBreakTimeForToday"/>
  </message>
  <message name="getBreakTimeForTodayResponse">
    <part name="parameters" element="tns:getBreakTimeForTodayResponse"/>
  </message>
  <message name="getBreakTime">
    <part name="parameters" element="tns:getBreakTime"/>
  </message>
  <message name="getBreakTimeResponse">
    <part name="parameters" element="tns:getBreakTimeResponse"/>
  </message>
  <portType name="BreakTimeManager">
    <operation name="getAllBreakTime">
      <input message="tns:getAllBreakTime"/>
      <output message="tns:getAllBreakTimeResponse"/>
      <fault message="tns:BreakTimeException" name="BreakTimeException"/>
    </operation>
    <operation name="getBreakTimeForToday">
      <input message="tns:getBreakTimeForToday"/>
      <output message="tns:getBreakTimeForTodayResponse"/>
      <fault message="tns:BreakTimeException" name="BreakTimeException"/>
    </operation>
    <operation name="getBreakTime">
      <input message="tns:getBreakTime"/>
      <output message="tns:getBreakTimeResponse"/>
      <fault message="tns:BreakTimeException" name="BreakTimeException"/>
    </operation>
  </portType>
  <binding name="BreakTimeManagerPortBinding" type="tns:BreakTimeManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAllBreakTime">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BreakTimeException">
        <soap:fault name="BreakTimeException" use="literal"/>
      </fault>
    </operation>
    <operation name="getBreakTimeForToday">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BreakTimeException">
        <soap:fault name="BreakTimeException" use="literal"/>
      </fault>
    </operation>
    <operation name="getBreakTime">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="BreakTimeException">
        <soap:fault name="BreakTimeException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="BreakTimeManagerService">
    <port name="BreakTimeManagerPort" binding="tns:BreakTimeManagerPortBinding">
      <soap:address location="http://localhost:8080/BreakManager/BreakTimeManagerService"/>
    </port>
  </service>
</definitions>
