architecture/contracts/ErrorLoggerService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="http://error.logger.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://error.logger.technical.jSeduite.modalis.i3s.unice.fr/">
  <xs:element name="ErrorLoggerException" type="tns:ErrorLoggerException"/>
  <xs:element name="getLogs" type="tns:getLogs"/>
  <xs:element name="getLogsResponse" type="tns:getLogsResponse"/>
  <xs:element name="log" type="tns:log"/>
  <xs:element name="logResponse" type="tns:logResponse"/>
  <xs:complexType name="getLogs">
    <xs:sequence>
      <xs:element name="start" type="xs:string" minOccurs="0"/>
      <xs:element name="end" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getLogsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:errorLog" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="errorLog">
    <xs:sequence>
      <xs:element name="level" type="xs:string" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
      <xs:element name="stamp" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="trigger" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ErrorLoggerException">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="log">
    <xs:sequence>
      <xs:element name="trigger" type="xs:string" minOccurs="0"/>
      <xs:element name="level" type="xs:string" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="logResponse">
    <xs:sequence/>
  </xs:complexType>
</xs:schema>
