architecture/contracts/ErrorLoggerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://error.logger.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://error.logger.technical.jSeduite.modalis.i3s.unice.fr/" name="ErrorLoggerService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://error.logger.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="ErrorLoggerService.xsd"/>
    </xsd:schema>
  </types>
  <message name="log">
    <part name="parameters" element="tns:log"/>
  </message>
  <message name="logResponse">
    <part name="parameters" element="tns:logResponse"/>
  </message>
  <message name="ErrorLoggerException">
    <part name="fault" element="tns:ErrorLoggerException"/>
  </message>
  <message name="getLogs">
    <part name="parameters" element="tns:getLogs"/>
  </message>
  <message name="getLogsResponse">
    <part name="parameters" element="tns:getLogsResponse"/>
  </message>
  <portType name="ErrorLogger">
    <operation name="log">
      <input message="tns:log"/>
      <output message="tns:logResponse"/>
      <fault message="tns:ErrorLoggerException" name="ErrorLoggerException"/>
    </operation>
    <operation name="getLogs">
      <input message="tns:getLogs"/>
      <output message="tns:getLogsResponse"/>
      <fault message="tns:ErrorLoggerException" name="ErrorLoggerException"/>
    </operation>
  </portType>
  <binding name="ErrorLoggerPortBinding" type="tns:ErrorLogger">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="log">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorLoggerException">
        <soap:fault name="ErrorLoggerException" use="literal"/>
      </fault>
    </operation>
    <operation name="getLogs">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorLoggerException">
        <soap:fault name="ErrorLoggerException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ErrorLoggerService">
    <port name="ErrorLoggerPort" binding="tns:ErrorLoggerPortBinding">
      <soap:address location="http://localhost:8080/jSeduite/ErrorLogger/ErrorLoggerService"/>
    </port>
  </service>
</definitions>
