architecture/contracts/FlickrWrapperService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://flickr.image.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://flickr.image.technical.jSeduite.modalis.i3s.unice.fr/" name="FlickrWrapperService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://flickr.image.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="FlickrWrapperService.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAlbumContent">
    <part name="parameters" element="tns:getAlbumContent"/>
  </message>
  <message name="getAlbumContentResponse">
    <part name="parameters" element="tns:getAlbumContentResponse"/>
  </message>
  <message name="FlickrWrapperException">
    <part name="fault" element="tns:FlickrWrapperException"/>
  </message>
  <message name="getFolksonomyContent">
    <part name="parameters" element="tns:getFolksonomyContent"/>
  </message>
  <message name="getFolksonomyContentResponse">
    <part name="parameters" element="tns:getFolksonomyContentResponse"/>
  </message>
  <portType name="FlickrWrapper">
    <operation name="getAlbumContent">
      <input message="tns:getAlbumContent"/>
      <output message="tns:getAlbumContentResponse"/>
      <fault message="tns:FlickrWrapperException" name="FlickrWrapperException"/>
    </operation>
    <operation name="getFolksonomyContent">
      <input message="tns:getFolksonomyContent"/>
      <output message="tns:getFolksonomyContentResponse"/>
      <fault message="tns:FlickrWrapperException" name="FlickrWrapperException"/>
    </operation>
  </portType>
  <binding name="FlickrWrapperPortBinding" type="tns:FlickrWrapper">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAlbumContent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FlickrWrapperException">
        <soap:fault name="FlickrWrapperException" use="literal"/>
      </fault>
    </operation>
    <operation name="getFolksonomyContent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FlickrWrapperException">
        <soap:fault name="FlickrWrapperException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="FlickrWrapperService">
    <port name="FlickrWrapperPort" binding="tns:FlickrWrapperPortBinding">
      <soap:address location="http://localhost:8080/jSeduite/FlickrWrapper/FlickrWrapperService"/>
    </port>
  </service>
</definitions>
