architecture/contracts/HelloWorldService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://hello.sandbox.technicals.jseduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://hello.sandbox.technicals.jseduite.modalis.i3s.unice.fr/" name="HelloWorldService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://hello.sandbox.technicals.jseduite.modalis.i3s.unice.fr/" schemaLocation="HelloWorldService.xsd"/>
    </xsd:schema>
  </types>
  <message name="sayHello">
    <part name="parameters" element="tns:sayHello"/>
  </message>
  <message name="sayHelloResponse">
    <part name="parameters" element="tns:sayHelloResponse"/>
  </message>
  <message name="HelloWorldException">
    <part name="fault" element="tns:HelloWorldException"/>
  </message>
  <message name="sayPersonalizedHello">
    <part name="parameters" element="tns:sayPersonalizedHello"/>
  </message>
  <message name="sayPersonalizedHelloResponse">
    <part name="parameters" element="tns:sayPersonalizedHelloResponse"/>
  </message>
  <portType name="HelloWorld">
    <operation name="sayHello">
      <input message="tns:sayHello"/>
      <output message="tns:sayHelloResponse"/>
      <fault message="tns:HelloWorldException" name="HelloWorldException"/>
    </operation>
    <operation name="sayPersonalizedHello">
      <input message="tns:sayPersonalizedHello"/>
      <output message="tns:sayPersonalizedHelloResponse"/>
      <fault message="tns:HelloWorldException" name="HelloWorldException"/>
    </operation>
  </portType>
  <binding name="HelloWorldPortBinding" type="tns:HelloWorld">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="sayHello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="HelloWorldException">
        <soap:fault name="HelloWorldException" use="literal"/>
      </fault>
    </operation>
    <operation name="sayPersonalizedHello">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="HelloWorldException">
        <soap:fault name="HelloWorldException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="HelloWorldService">
    <port name="HelloWorldPort" binding="tns:HelloWorldPortBinding">
      <soap:address location="http://localhost:8080/jSeduite/HelloWorld/HelloWorldService"/>
    </port>
  </service>
</definitions>
