architecture/contracts/HyperPromoManagerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin" name="HyperPromoManagerService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin" schemaLocation="HyperPromoManagerService.xsd"/>
    </xsd:schema>
  </types>
  <message name="get">
    <part name="parameters" element="tns:get"/>
  </message>
  <message name="getResponse">
    <part name="parameters" element="tns:getResponse"/>
  </message>
  <message name="HyperException">
    <part name="fault" element="tns:HyperException"/>
  </message>
  <message name="synchronize">
    <part name="parameters" element="tns:synchronize"/>
  </message>
  <message name="isValid">
    <part name="parameters" element="tns:isValid"/>
  </message>
  <message name="isValidResponse">
    <part name="parameters" element="tns:isValidResponse"/>
  </message>
  <message name="getAll">
    <part name="parameters" element="tns:getAll"/>
  </message>
  <message name="getAllResponse">
    <part name="parameters" element="tns:getAllResponse"/>
  </message>
  <message name="waitStillSynchronize">
    <part name="parameters" element="tns:waitStillSynchronize"/>
  </message>
  <message name="waitStillSynchronizeResponse">
    <part name="parameters" element="tns:waitStillSynchronizeResponse"/>
  </message>
  <portType name="HyperPromoManager">
    <operation name="get">
      <input message="tns:get"/>
      <output message="tns:getResponse"/>
      <fault message="tns:HyperException" name="HyperException"/>
    </operation>
    <operation name="synchronize">
      <input message="tns:synchronize"/>
    </operation>
    <operation name="isValid">
      <input message="tns:isValid"/>
      <output message="tns:isValidResponse"/>
      <fault message="tns:HyperException" name="HyperException"/>
    </operation>
    <operation name="getAll">
      <input message="tns:getAll"/>
      <output message="tns:getAllResponse"/>
      <fault message="tns:HyperException" name="HyperException"/>
    </operation>
    <operation name="waitStillSynchronize">
      <input message="tns:waitStillSynchronize"/>
      <output message="tns:waitStillSynchronizeResponse"/>
    </operation>
  </portType>
  <binding name="HyperPromoManagerPortBinding" type="tns:HyperPromoManager">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="get">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="HyperException">
        <soap:fault name="HyperException" use="literal"/>
      </fault>
    </operation>
    <operation name="synchronize">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
    </operation>
    <operation name="isValid">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="HyperException">
        <soap:fault name="HyperException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAll">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="HyperException">
        <soap:fault name="HyperException" use="literal"/>
      </fault>
    </operation>
    <operation name="waitStillSynchronize">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="HyperPromoManagerService">
    <port name="HyperPromoManagerPort" binding="tns:HyperPromoManagerPortBinding">
      <soap:address location="http://localhost:8080/jSeduite/HyperMachin/HyperPromoManagerService"/>
    </port>
  </service>
</definitions>
