architecture/contracts/HyperMachinService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin" name="HyperMachinService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hypermachin" schemaLocation="HyperMachinService.xsd"/>
    </xsd:schema>
  </types>
  <message name="getHyperEvents">
    <part name="parameters" element="tns:getHyperEvents"/>
  </message>
  <message name="getHyperEventsResponse">
    <part name="parameters" element="tns:getHyperEventsResponse"/>
  </message>
  <message name="HyperException">
    <part name="fault" element="tns:HyperException"/>
  </message>
  <message name="getHyperEventsRestriction">
    <part name="parameters" element="tns:getHyperEventsRestriction"/>
  </message>
  <message name="getHyperEventsRestrictionResponse">
    <part name="parameters" element="tns:getHyperEventsRestrictionResponse"/>
  </message>
  <portType name="HyperMachin">
    <operation name="getHyperEvents">
      <input message="tns:getHyperEvents"/>
      <output message="tns:getHyperEventsResponse"/>
      <fault message="tns:HyperException" name="HyperException"/>
    </operation>
    <operation name="getHyperEventsRestriction">
      <input message="tns:getHyperEventsRestriction"/>
      <output message="tns:getHyperEventsRestrictionResponse"/>
      <fault message="tns:HyperException" name="HyperException"/>
    </operation>
  </portType>
  <binding name="HyperMachinPortBinding" type="tns:HyperMachin">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getHyperEvents">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="HyperException">
        <soap:fault name="HyperException" use="literal"/>
      </fault>
    </operation>
    <operation name="getHyperEventsRestriction">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="HyperException">
        <soap:fault name="HyperException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="HyperMachinService">
    <port name="HyperMachinPort" binding="tns:HyperMachinPortBinding">
      <soap:address location="http://localhost:8080/jSeduite/HyperMachin/HyperMachinService"/>
    </port>
  </service>
</definitions>
