architecture/contracts/ICalReaderService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/" name="ICalReaderService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="ICalReaderService.xsd"/>
    </xsd:schema>
  </types>
  <message name="getContent">
    <part name="parameters" element="tns:getContent"/>
  </message>
  <message name="getContentResponse">
    <part name="parameters" element="tns:getContentResponse"/>
  </message>
  <message name="ICalReaderException">
    <part name="fault" element="tns:ICalReaderException"/>
  </message>
  <message name="getToday">
    <part name="parameters" element="tns:getToday"/>
  </message>
  <message name="getTodayResponse">
    <part name="parameters" element="tns:getTodayResponse"/>
  </message>
  <message name="getNow">
    <part name="parameters" element="tns:getNow"/>
  </message>
  <message name="getNowResponse">
    <part name="parameters" element="tns:getNowResponse"/>
  </message>
  <portType name="ICalReader">
    <operation name="getContent">
      <input message="tns:getContent"/>
      <output message="tns:getContentResponse"/>
      <fault message="tns:ICalReaderException" name="ICalReaderException"/>
    </operation>
    <operation name="getToday">
      <input message="tns:getToday"/>
      <output message="tns:getTodayResponse"/>
      <fault message="tns:ICalReaderException" name="ICalReaderException"/>
    </operation>
    <operation name="getNow">
      <input message="tns:getNow"/>
      <output message="tns:getNowResponse"/>
      <fault message="tns:ICalReaderException" name="ICalReaderException"/>
    </operation>
  </portType>
  <binding name="ICalReaderPortBinding" type="tns:ICalReader">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getContent">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ICalReaderException">
        <soap:fault name="ICalReaderException" use="literal"/>
      </fault>
    </operation>
    <operation name="getToday">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ICalReaderException">
        <soap:fault name="ICalReaderException" use="literal"/>
      </fault>
    </operation>
    <operation name="getNow">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ICalReaderException">
        <soap:fault name="ICalReaderException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ICalReaderService">
    <port name="ICalReaderPort" binding="tns:ICalReaderPortBinding">
      <soap:address location="http://localhost:8080/jSeduite/ICalReader/ICalReaderService"/>
    </port>
  </service>
</definitions>
