architecture/contracts/ICalReaderService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://calendar.technical.jSeduite.modalis.i3s.unice.fr/">
  <xs:element name="ICalReaderException" type="tns:ICalReaderException"/>
  <xs:element name="getContent" type="tns:getContent"/>
  <xs:element name="getContentResponse" type="tns:getContentResponse"/>
  <xs:element name="getNow" type="tns:getNow"/>
  <xs:element name="getNowResponse" type="tns:getNowResponse"/>
  <xs:element name="getToday" type="tns:getToday"/>
  <xs:element name="getTodayResponse" type="tns:getTodayResponse"/>
  <xs:complexType name="getNow">
    <xs:sequence>
      <xs:element name="calendar" type="xs:anyURI" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNowResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:calendarEvent" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="calendarEvent">
    <xs:sequence>
      <xs:element name="description" type="xs:string" minOccurs="0"/>
      <xs:element name="end" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="location" type="xs:string" minOccurs="0"/>
      <xs:element name="start" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="summary" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ICalReaderException">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getToday">
    <xs:sequence>
      <xs:element name="calendar" type="xs:anyURI" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTodayResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:calendarEvent" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getContent">
    <xs:sequence>
      <xs:element name="calendar" type="xs:anyURI" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getContentResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:calendarEvent" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
