architecture/contracts/InternalNewsService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" name="InternalNewsService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="InternalNewsService.xsd"/>
    </xsd:schema>
  </types>
  <message name="getTargets">
    <part name="parameters" element="tns:getTargets"/>
  </message>
  <message name="getTargetsResponse">
    <part name="parameters" element="tns:getTargetsResponse"/>
  </message>
  <message name="InternalNewsException">
    <part name="fault" element="tns:InternalNewsException"/>
  </message>
  <message name="getAllNews">
    <part name="parameters" element="tns:getAllNews"/>
  </message>
  <message name="getAllNewsResponse">
    <part name="parameters" element="tns:getAllNewsResponse"/>
  </message>
  <message name="getTargetedNews">
    <part name="parameters" element="tns:getTargetedNews"/>
  </message>
  <message name="getTargetedNewsResponse">
    <part name="parameters" element="tns:getTargetedNewsResponse"/>
  </message>
  <portType name="InternalNews">
    <operation name="getTargets">
      <input message="tns:getTargets"/>
      <output message="tns:getTargetsResponse"/>
      <fault message="tns:InternalNewsException" name="InternalNewsException"/>
    </operation>
    <operation name="getAllNews">
      <input message="tns:getAllNews"/>
      <output message="tns:getAllNewsResponse"/>
      <fault message="tns:InternalNewsException" name="InternalNewsException"/>
    </operation>
    <operation name="getTargetedNews">
      <input message="tns:getTargetedNews"/>
      <output message="tns:getTargetedNewsResponse"/>
      <fault message="tns:InternalNewsException" name="InternalNewsException"/>
    </operation>
  </portType>
  <binding name="InternalNewsPortBinding" type="tns:InternalNews">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getTargets">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InternalNewsException">
        <soap:fault name="InternalNewsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAllNews">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InternalNewsException">
        <soap:fault name="InternalNewsException" use="literal"/>
      </fault>
    </operation>
    <operation name="getTargetedNews">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="InternalNewsException">
        <soap:fault name="InternalNewsException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="InternalNewsService">
    <port name="InternalNewsPort" binding="tns:InternalNewsPortBinding">
      <soap:address location="http://localhost:8080/jSeduite/InternalNews/InternalNewsService"/>
    </port>
  </service>
</definitions>
