architecture/contracts/PartnerKeysService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/">
  <xs:element name="PartnerKeysException" type="tns:PartnerKeysException"/>
  <xs:element name="get" type="tns:get"/>
  <xs:element name="getResponse" type="tns:getResponse"/>
  <xs:complexType name="get">
    <xs:sequence>
      <xs:element name="partner" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PartnerKeysException">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
