architecture/contracts/SourceManagerService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="http://profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://profiles.technical.jSeduite.modalis.i3s.unice.fr/">
  <xs:element name="getParameterSpace" type="tns:getParameterSpace"/>
  <xs:element name="getParameterSpaceResponse" type="tns:getParameterSpaceResponse"/>
  <xs:element name="shouldCall" type="tns:shouldCall"/>
  <xs:element name="shouldCallResponse" type="tns:shouldCallResponse"/>
  <xs:complexType name="shouldCall">
    <xs:sequence>
      <xs:element name="device" type="xs:string" minOccurs="0"/>
      <xs:element name="source" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="shouldCallResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:boolean"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getParameterSpace">
    <xs:sequence>
      <xs:element name="device" type="xs:string" minOccurs="0"/>
      <xs:element name="source" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getParameterSpaceResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:parameterSpace" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parameterSpace">
    <xs:sequence>
      <xs:element name="sets" type="tns:parameterCallSet" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="source" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parameterCallSet">
    <xs:sequence>
      <xs:element name="values" type="tns:parameterValue" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="parameterValue">
    <xs:sequence>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
      <xs:element name="value" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
