architecture/contracts/TimeMachineService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="http://time.helpers.technical.jSeduite.modails.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://time.helpers.technical.jSeduite.modails.i3s.unice.fr/">
  <xs:element name="compare" type="tns:compare"/>
  <xs:element name="compareResponse" type="tns:compareResponse"/>
  <xs:complexType name="compare">
    <xs:sequence>
      <xs:element name="d1" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="d2" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="compareResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
