hci/WebAdmin-IRSAM/src/conf/xml-resources/web-service-references/FeedClassFinderService/wsdl/localhost_8080/jSeduite/FeedRegistry/FeedClassFinderService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="FeedRegistryException" type="tns:FeedRegistryException"></xs:element>

<xs:element name="findFeedClassById" type="tns:findFeedClassById"></xs:element>

<xs:element name="findFeedClassByIdResponse" type="tns:findFeedClassByIdResponse"></xs:element>

<xs:element name="getAllFeedClassReferences" type="tns:getAllFeedClassReferences"></xs:element>

<xs:element name="getAllFeedClassReferencesResponse" type="tns:getAllFeedClassReferencesResponse"></xs:element>

<xs:complexType name="getAllFeedClassReferences">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAllFeedClassReferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="FeedRegistryException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFeedClassById">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findFeedClassByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:feedClass" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="feedClass">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>