orchestrations/FeedReader/src/Partners/FeedRegistryService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" name="FeedRegistryService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="FeedRegistryService.xsd"/>
    </xsd:schema>
  </types>
  <message name="getURL">
    <part name="parameters" element="tns:getURL"/>
  </message>
  <message name="getURLResponse">
    <part name="parameters" element="tns:getURLResponse"/>
  </message>
  <message name="FeedRegistryException">
    <part name="fault" element="tns:FeedRegistryException"/>
  </message>
  <message name="getCategories">
    <part name="parameters" element="tns:getCategories"/>
  </message>
  <message name="getCategoriesResponse">
    <part name="parameters" element="tns:getCategoriesResponse"/>
  </message>
  <message name="getNicknames">
    <part name="parameters" element="tns:getNicknames"/>
  </message>
  <message name="getNicknamesResponse">
    <part name="parameters" element="tns:getNicknamesResponse"/>
  </message>
  <portType name="FeedRegistry">
    <operation name="getURL">
      <input message="tns:getURL"/>
      <output message="tns:getURLResponse"/>
      <fault message="tns:FeedRegistryException" name="FeedRegistryException"/>
    </operation>
    <operation name="getCategories">
      <input message="tns:getCategories"/>
      <output message="tns:getCategoriesResponse"/>
      <fault message="tns:FeedRegistryException" name="FeedRegistryException"/>
    </operation>
    <operation name="getNicknames">
      <input message="tns:getNicknames"/>
      <output message="tns:getNicknamesResponse"/>
      <fault message="tns:FeedRegistryException" name="FeedRegistryException"/>
    </operation>
  </portType>
  <binding name="FeedRegistryPortBinding" type="tns:FeedRegistry">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getURL">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FeedRegistryException">
        <soap:fault name="FeedRegistryException" use="literal"/>
      </fault>
    </operation>
    <operation name="getCategories">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FeedRegistryException">
        <soap:fault name="FeedRegistryException" use="literal"/>
      </fault>
    </operation>
    <operation name="getNicknames">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="FeedRegistryException">
        <soap:fault name="FeedRegistryException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="FeedRegistryService">
    <port name="FeedRegistryPort" binding="tns:FeedRegistryPortBinding">
      <soap:address location="http://localhost:8080/jSeduite/FeedRegistry/FeedRegistryService"/>
    </port>
  </service>
</definitions>
