hci/WebAdmin-IRSAM/web/WEB-INF/wsdl/client/BreakScreenFinderService/localhost_8080/jSeduite/breakScreen/BreakScreenFinderService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="BreakScreenException" type="tns:BreakScreenException"></xs:element>

<xs:element name="findScreenTimeById" type="tns:findScreenTimeById"></xs:element>

<xs:element name="findScreenTimeByIdResponse" type="tns:findScreenTimeByIdResponse"></xs:element>

<xs:element name="getAllBreakScreenReferences" type="tns:getAllBreakScreenReferences"></xs:element>

<xs:element name="getAllBreakScreenReferencesResponse" type="tns:getAllBreakScreenReferencesResponse"></xs:element>

<xs:element name="getAllScreen" type="tns:getAllScreen"></xs:element>

<xs:element name="getAllScreenResponse" type="tns:getAllScreenResponse"></xs:element>

<xs:complexType name="findScreenTimeById">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findScreenTimeByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:breakScreen" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="breakScreen">
<xs:sequence>
<xs:element name="building" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="content" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="days" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="end" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="start" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BreakScreenException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllScreen">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAllScreenResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllBreakScreenReferences">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAllBreakScreenReferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>