hci/WebAdmin-IRSAM/web/WEB-INF/wsdl/client/BreakScreenFinderService/localhost_8080/jSeduite/breakScreen/BreakScreenFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/" name="BreakScreenFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://breaks.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/breakScreen/BreakScreenFinderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAllScreen">
<part name="parameters" element="tns:getAllScreen"></part>
</message>
<message name="getAllScreenResponse">
<part name="parameters" element="tns:getAllScreenResponse"></part>
</message>
<message name="BreakScreenException">
<part name="fault" element="tns:BreakScreenException"></part>
</message>
<message name="findScreenTimeById">
<part name="parameters" element="tns:findScreenTimeById"></part>
</message>
<message name="findScreenTimeByIdResponse">
<part name="parameters" element="tns:findScreenTimeByIdResponse"></part>
</message>
<message name="getAllBreakScreenReferences">
<part name="parameters" element="tns:getAllBreakScreenReferences"></part>
</message>
<message name="getAllBreakScreenReferencesResponse">
<part name="parameters" element="tns:getAllBreakScreenReferencesResponse"></part>
</message>
<portType name="BreakScreenFinder">
<operation name="getAllScreen">
<input message="tns:getAllScreen"></input>
<output message="tns:getAllScreenResponse"></output>
<fault message="tns:BreakScreenException" name="BreakScreenException"></fault>
</operation>
<operation name="findScreenTimeById">
<input message="tns:findScreenTimeById"></input>
<output message="tns:findScreenTimeByIdResponse"></output>
<fault message="tns:BreakScreenException" name="BreakScreenException"></fault>
</operation>
<operation name="getAllBreakScreenReferences">
<input message="tns:getAllBreakScreenReferences"></input>
<output message="tns:getAllBreakScreenReferencesResponse"></output>
<fault message="tns:BreakScreenException" name="BreakScreenException"></fault>
</operation>
</portType>
<binding name="BreakScreenFinderPortBinding" type="tns:BreakScreenFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAllScreen">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakScreenException">
<soap:fault name="BreakScreenException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="findScreenTimeById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakScreenException">
<soap:fault name="BreakScreenException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllBreakScreenReferences">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakScreenException">
<soap:fault name="BreakScreenException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="BreakScreenFinderService">
<port name="BreakScreenFinderPort" binding="tns:BreakScreenFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/breakScreen/BreakScreenFinderService"></soap:address>
</port>
</service>
</definitions>