webservices/DataCache/web/WSDL/DataCacheService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://cache.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://cache.technical.jSeduite.modalis.i3s.unice.fr/" name="DataCacheService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://cache.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="DataCacheService.xsd"></xsd:import>
        </xsd:schema>
    </types>
    <message name="getContent">
        <part name="parameters" element="tns:getContent"></part>
    </message>
    <message name="getContentResponse">
        <part name="parameters" element="tns:getContentResponse"></part>
    </message>
    <message name="DataCacheException">
        <part name="fault" element="tns:DataCacheException"></part>
    </message>
    <message name="isValid">
        <part name="parameters" element="tns:isValid"></part>
    </message>
    <message name="isValidResponse">
        <part name="parameters" element="tns:isValidResponse"></part>
    </message>
    <message name="setContent">
        <part name="parameters" element="tns:setContent"></part>
    </message>
    <message name="setContentResponse">
        <part name="parameters" element="tns:setContentResponse"></part>
    </message>
    <message name="initContent">
        <part name="parameters" element="tns:initContent"></part>
    </message>
    <message name="initContentResponse">
        <part name="parameters" element="tns:initContentResponse"></part>
    </message>
    <portType name="DataCache">
        <operation name="getContent">
            <input message="tns:getContent"></input>
            <output message="tns:getContentResponse"></output>
            <fault message="tns:DataCacheException" name="DataCacheException"></fault>
        </operation>
        <operation name="isValid">
            <input message="tns:isValid"></input>
            <output message="tns:isValidResponse"></output>
            <fault message="tns:DataCacheException" name="DataCacheException"></fault>
        </operation>
        <operation name="setContent">
            <input message="tns:setContent"></input>
            <output message="tns:setContentResponse"></output>
            <fault message="tns:DataCacheException" name="DataCacheException"></fault>
        </operation>
        <operation name="initContent">
            <input message="tns:initContent"></input>
            <output message="tns:initContentResponse"></output>
            <fault message="tns:DataCacheException" name="DataCacheException"></fault>
        </operation>
    </portType>
    <binding name="DataCachePortBinding" type="tns:DataCache">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="getContent">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="DataCacheException">
                <soap:fault name="DataCacheException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="isValid">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="DataCacheException">
                <soap:fault name="DataCacheException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="setContent">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="DataCacheException">
                <soap:fault name="DataCacheException" use="literal"></soap:fault>
            </fault>
        </operation>
        <operation name="initContent">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
            <fault name="DataCacheException">
                <soap:fault name="DataCacheException" use="literal"></soap:fault>
            </fault>
        </operation>
    </binding>
    <service name="DataCacheService">
        <port name="DataCachePort" binding="tns:DataCachePortBinding">
            <soap:address location="http://localhost:8080/jSeduite/DataCache/DataCacheService"></soap:address>
        </port>
    </service>
</definitions>