webservices/UserProfile/web/WSDL/PreferenceManagerService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="http://preferences.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://preferences.technical.jSeduite.modalis.i3s.unice.fr/">

    <xs:element name="getCallIdentifiers" type="tns:getCallIdentifiers"></xs:element>

    <xs:element name="getCallIdentifiersResponse" type="tns:getCallIdentifiersResponse"></xs:element>

    <xs:element name="getParameterValue" type="tns:getParameterValue"></xs:element>

    <xs:element name="getParameterValueResponse" type="tns:getParameterValueResponse"></xs:element>

    <xs:complexType name="getCallIdentifiers">
        <xs:sequence>
            <xs:element name="service" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="operation" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="login" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getCallIdentifiersResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getParameterValue">
        <xs:sequence>
            <xs:element name="service" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="operation" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="login" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="param" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="call" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getParameterValueResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>