webservices/UserProfile/web/WSDL/PreferenceManagerService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://preferences.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://preferences.technical.jSeduite.modalis.i3s.unice.fr/" name="PreferenceManagerService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://preferences.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="PreferenceManagerService.xsd"></xsd:import>
        </xsd:schema>
    </types>
    <message name="getValue">
        <part name="parameters" element="tns:getValue"></part>
    </message>
    <message name="getValueResponse">
        <part name="parameters" element="tns:getValueResponse"></part>
    </message>
    <message name="shouldCall">
        <part name="parameters" element="tns:shouldCall"></part>
    </message>
    <message name="shouldCallResponse">
        <part name="parameters" element="tns:shouldCallResponse"></part>
    </message>
    <message name="getCallIdentifiers">
        <part name="parameters" element="tns:getCallIdentifiers"></part>
    </message>
    <message name="getCallIdentifiersResponse">
        <part name="parameters" element="tns:getCallIdentifiersResponse"></part>
    </message>
    <message name="getValueByCall">
        <part name="parameters" element="tns:getValueByCall"></part>
    </message>
    <message name="getValueByCallResponse">
        <part name="parameters" element="tns:getValueByCallResponse"></part>
    </message>
    <portType name="PreferenceManager">
        <operation name="getValue">
            <input message="tns:getValue"></input>
            <output message="tns:getValueResponse"></output>
        </operation>
        <operation name="shouldCall">
            <input message="tns:shouldCall"></input>
            <output message="tns:shouldCallResponse"></output>
        </operation>
        <operation name="getCallIdentifiers">
            <input message="tns:getCallIdentifiers"></input>
            <output message="tns:getCallIdentifiersResponse"></output>
        </operation>
        <operation name="getValueByCall">
            <input message="tns:getValueByCall"></input>
            <output message="tns:getValueByCallResponse"></output>
        </operation>
    </portType>
    <binding name="PreferenceManagerPortBinding" type="tns:PreferenceManager">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="getValue">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="shouldCall">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getCallIdentifiers">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="getValueByCall">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="PreferenceManagerService">
        <port name="PreferenceManagerPort" binding="tns:PreferenceManagerPortBinding">
            <soap:address location="http://localhost:8080/jSeduite/UserProfile/PreferenceManagerService"></soap:address>
        </port>
    </service>
</definitions>