hci/WebAdmin/web/WEB-INF/wsdl/client/PlanningCRUDService/localhost_8080/jSeduite/SchoolLife/PlanningCRUDService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="PlanningException" type="tns:PlanningException"></xs:element>

<xs:element name="createPlanning" type="tns:createPlanning"></xs:element>

<xs:element name="createPlanningResponse" type="tns:createPlanningResponse"></xs:element>

<xs:element name="deletePlanning" type="tns:deletePlanning"></xs:element>

<xs:element name="deletePlanningResponse" type="tns:deletePlanningResponse"></xs:element>

<xs:element name="readPlanning" type="tns:readPlanning"></xs:element>

<xs:element name="readPlanningResponse" type="tns:readPlanningResponse"></xs:element>

<xs:element name="updatePlanning" type="tns:updatePlanning"></xs:element>

<xs:element name="updatePlanningResponse" type="tns:updatePlanningResponse"></xs:element>

<xs:complexType name="deletePlanning">
<xs:sequence>
<xs:element name="p" type="tns:planning" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="planning">
<xs:sequence>
<xs:element name="groups" type="tns:planningGroup" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="planning" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="planningGroup">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="planning" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePlanningResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="PlanningException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPlanning">
<xs:sequence>
<xs:element name="p" type="tns:planning" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPlanningResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePlanning">
<xs:sequence>
<xs:element name="p" type="tns:planning" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePlanningResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="readPlanning">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readPlanningResponse">
<xs:sequence>
<xs:element name="return" type="tns:planning" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>