hci/WebAdmin/web/WEB-INF/wsdl/client/PlanningCRUDService/localhost_8080/jSeduite/SchoolLife/PlanningCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/" name="PlanningCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/PlanningCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createPlanning">
<part name="parameters" element="tns:createPlanning"></part>
</message>
<message name="createPlanningResponse">
<part name="parameters" element="tns:createPlanningResponse"></part>
</message>
<message name="PlanningException">
<part name="fault" element="tns:PlanningException"></part>
</message>
<message name="readPlanning">
<part name="parameters" element="tns:readPlanning"></part>
</message>
<message name="readPlanningResponse">
<part name="parameters" element="tns:readPlanningResponse"></part>
</message>
<message name="updatePlanning">
<part name="parameters" element="tns:updatePlanning"></part>
</message>
<message name="updatePlanningResponse">
<part name="parameters" element="tns:updatePlanningResponse"></part>
</message>
<message name="deletePlanning">
<part name="parameters" element="tns:deletePlanning"></part>
</message>
<message name="deletePlanningResponse">
<part name="parameters" element="tns:deletePlanningResponse"></part>
</message>
<portType name="PlanningCRUD">
<operation name="createPlanning">
<input message="tns:createPlanning"></input>
<output message="tns:createPlanningResponse"></output>
<fault message="tns:PlanningException" name="PlanningException"></fault>
</operation>
<operation name="readPlanning">
<input message="tns:readPlanning"></input>
<output message="tns:readPlanningResponse"></output>
<fault message="tns:PlanningException" name="PlanningException"></fault>
</operation>
<operation name="updatePlanning">
<input message="tns:updatePlanning"></input>
<output message="tns:updatePlanningResponse"></output>
<fault message="tns:PlanningException" name="PlanningException"></fault>
</operation>
<operation name="deletePlanning">
<input message="tns:deletePlanning"></input>
<output message="tns:deletePlanningResponse"></output>
<fault message="tns:PlanningException" name="PlanningException"></fault>
</operation>
</portType>
<binding name="PlanningCRUDPortBinding" type="tns:PlanningCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createPlanning">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PlanningException">
<soap:fault name="PlanningException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readPlanning">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PlanningException">
<soap:fault name="PlanningException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updatePlanning">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PlanningException">
<soap:fault name="PlanningException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deletePlanning">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PlanningException">
<soap:fault name="PlanningException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PlanningCRUDService">
<port name="PlanningCRUDPort" binding="tns:PlanningCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/PlanningCRUDService"></soap:address>
</port>
</service>
</definitions>