hci/WebAdmin-IRSAM/src/conf/xml-resources/web-service-references/SourceFinderService/wsdl/localhost_8080/jSeduite/ProfileManager/SourceFinderService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="SourceException" type="tns:SourceException"></xs:element>

<xs:element name="findSourceByNickname" type="tns:findSourceByNickname"></xs:element>

<xs:element name="findSourceByNicknameResponse" type="tns:findSourceByNicknameResponse"></xs:element>

<xs:element name="getAllSourceReferences" type="tns:getAllSourceReferences"></xs:element>

<xs:element name="getAllSourceReferencesResponse" type="tns:getAllSourceReferencesResponse"></xs:element>

<xs:complexType name="getAllSourceReferences">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAllSourceReferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SourceException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findSourceByNickname">
<xs:sequence>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findSourceByNicknameResponse">
<xs:sequence>
<xs:element name="return" type="tns:source" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="source">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="nickname" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>