hci/jsf/WebAdmin/web/WEB-INF/wsdl/client/PictureAlbumRegistryCRUDService/localhost_8080/jSeduite/PictureAlbumRegistry/PictureAlbumRegistryCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/" name="PictureAlbumRegistryCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/PictureAlbumRegistry/PictureAlbumRegistryCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createPictureAlbum">
<part name="parameters" element="tns:createPictureAlbum"></part>
</message>
<message name="createPictureAlbumResponse">
<part name="parameters" element="tns:createPictureAlbumResponse"></part>
</message>
<message name="PictureAlbumRegistryException">
<part name="fault" element="tns:PictureAlbumRegistryException"></part>
</message>
<message name="readPictureAlbum">
<part name="parameters" element="tns:readPictureAlbum"></part>
</message>
<message name="readPictureAlbumResponse">
<part name="parameters" element="tns:readPictureAlbumResponse"></part>
</message>
<message name="updatePictureAlbum">
<part name="parameters" element="tns:updatePictureAlbum"></part>
</message>
<message name="updatePictureAlbumResponse">
<part name="parameters" element="tns:updatePictureAlbumResponse"></part>
</message>
<message name="deletePictureAlbum">
<part name="parameters" element="tns:deletePictureAlbum"></part>
</message>
<message name="deletePictureAlbumResponse">
<part name="parameters" element="tns:deletePictureAlbumResponse"></part>
</message>
<portType name="PictureAlbumRegistryCRUD">
<operation name="createPictureAlbum">
<input message="tns:createPictureAlbum"></input>
<output message="tns:createPictureAlbumResponse"></output>
<fault message="tns:PictureAlbumRegistryException" name="PictureAlbumRegistryException"></fault>
</operation>
<operation name="readPictureAlbum">
<input message="tns:readPictureAlbum"></input>
<output message="tns:readPictureAlbumResponse"></output>
<fault message="tns:PictureAlbumRegistryException" name="PictureAlbumRegistryException"></fault>
</operation>
<operation name="updatePictureAlbum">
<input message="tns:updatePictureAlbum"></input>
<output message="tns:updatePictureAlbumResponse"></output>
<fault message="tns:PictureAlbumRegistryException" name="PictureAlbumRegistryException"></fault>
</operation>
<operation name="deletePictureAlbum">
<input message="tns:deletePictureAlbum"></input>
<output message="tns:deletePictureAlbumResponse"></output>
<fault message="tns:PictureAlbumRegistryException" name="PictureAlbumRegistryException"></fault>
</operation>
</portType>
<binding name="PictureAlbumRegistryCRUDPortBinding" type="tns:PictureAlbumRegistryCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createPictureAlbum">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PictureAlbumRegistryException">
<soap:fault name="PictureAlbumRegistryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readPictureAlbum">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PictureAlbumRegistryException">
<soap:fault name="PictureAlbumRegistryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updatePictureAlbum">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PictureAlbumRegistryException">
<soap:fault name="PictureAlbumRegistryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deletePictureAlbum">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PictureAlbumRegistryException">
<soap:fault name="PictureAlbumRegistryException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PictureAlbumRegistryCRUDService">
<port name="PictureAlbumRegistryCRUDPort" binding="tns:PictureAlbumRegistryCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/PictureAlbumRegistry/PictureAlbumRegistryCRUDService"></soap:address>
</port>
</service>
</definitions>