hci/WebAdmin/web/WEB-INF/wsdl/client/SourceFinderService/localhost_8080/jSeduite/ProfileManager/SourceFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/" name="SourceFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://sources.profiles.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/ProfileManager/SourceFinderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="findSourceByNickname">
<part name="parameters" element="tns:findSourceByNickname"></part>
</message>
<message name="findSourceByNicknameResponse">
<part name="parameters" element="tns:findSourceByNicknameResponse"></part>
</message>
<message name="SourceException">
<part name="fault" element="tns:SourceException"></part>
</message>
<message name="getAllSourceReferences">
<part name="parameters" element="tns:getAllSourceReferences"></part>
</message>
<message name="getAllSourceReferencesResponse">
<part name="parameters" element="tns:getAllSourceReferencesResponse"></part>
</message>
<portType name="SourceFinder">
<operation name="findSourceByNickname">
<input message="tns:findSourceByNickname"></input>
<output message="tns:findSourceByNicknameResponse"></output>
<fault message="tns:SourceException" name="SourceException"></fault>
</operation>
<operation name="getAllSourceReferences">
<input message="tns:getAllSourceReferences"></input>
<output message="tns:getAllSourceReferencesResponse"></output>
<fault message="tns:SourceException" name="SourceException"></fault>
</operation>
</portType>
<binding name="SourceFinderPortBinding" type="tns:SourceFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="findSourceByNickname">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SourceException">
<soap:fault name="SourceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllSourceReferences">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="SourceException">
<soap:fault name="SourceException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="SourceFinderService">
<port name="SourceFinderPort" binding="tns:SourceFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/ProfileManager/SourceFinderService"></soap:address>
</port>
</service>
</definitions>