hci/jsf/WebAdmin/src/conf/xml-resources/web-service-references/DeviceCRUDService/wsdl/localhost_8080/jSeduite/ProfileManager/DeviceCRUDService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="DeviceException" type="tns:DeviceException"></xs:element>

<xs:element name="createDevice" type="tns:createDevice"></xs:element>

<xs:element name="createDeviceResponse" type="tns:createDeviceResponse"></xs:element>

<xs:element name="deleteDevice" type="tns:deleteDevice"></xs:element>

<xs:element name="deleteDeviceResponse" type="tns:deleteDeviceResponse"></xs:element>

<xs:element name="readDevice" type="tns:readDevice"></xs:element>

<xs:element name="readDeviceResponse" type="tns:readDeviceResponse"></xs:element>

<xs:element name="updateDevice" type="tns:updateDevice"></xs:element>

<xs:element name="updateDeviceResponse" type="tns:updateDeviceResponse"></xs:element>

<xs:complexType name="updateDevice">
<xs:sequence>
<xs:element name="d" type="tns:device" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="device">
<xs:sequence>
<xs:element name="location" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateDeviceResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="DeviceException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readDevice">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readDeviceResponse">
<xs:sequence>
<xs:element name="return" type="tns:device" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDevice">
<xs:sequence>
<xs:element name="d" type="tns:device" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteDeviceResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="createDevice">
<xs:sequence>
<xs:element name="d" type="tns:device" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createDeviceResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>