hci/WebAdmin/web/WEB-INF/wsdl/client/PlanningFinderService/localhost_8080/jSeduite/SchoolLife/PlanningFinderService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://plannings.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="PlanningException" type="tns:PlanningException"></xs:element>

<xs:element name="findPlanningById" type="tns:findPlanningById"></xs:element>

<xs:element name="findPlanningByIdResponse" type="tns:findPlanningByIdResponse"></xs:element>

<xs:element name="getAllPlanningReferences" type="tns:getAllPlanningReferences"></xs:element>

<xs:element name="getAllPlanningReferencesResponse" type="tns:getAllPlanningReferencesResponse"></xs:element>

<xs:complexType name="findPlanningById">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPlanningByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:planning" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="planning">
<xs:sequence>
<xs:element name="groups" type="tns:planningGroup" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="planning" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="planningGroup">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="planning" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PlanningException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllPlanningReferences">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAllPlanningReferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>