hci/jsf/WebAdmin/web/WEB-INF/wsdl/client/ParamCreatorService/localhost_8080/jSeduite/ProfileManager/ParamCreatorService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/" name="ParamCreatorService">
<types>
<xsd:schema>
<xsd:import namespace="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/ProfileManager/ParamCreatorService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="subscription">
<part name="parameters" element="tns:subscription"></part>
</message>
<message name="subscriptionResponse">
<part name="parameters" element="tns:subscriptionResponse"></part>
</message>
<message name="ParamException">
<part name="fault" element="tns:ParamException"></part>
</message>
<message name="parametrization">
<part name="parameters" element="tns:parametrization"></part>
</message>
<message name="parametrizationResponse">
<part name="parameters" element="tns:parametrizationResponse"></part>
</message>
<portType name="ParamCreator">
<operation name="subscription">
<input message="tns:subscription"></input>
<output message="tns:subscriptionResponse"></output>
<fault message="tns:ParamException" name="ParamException"></fault>
</operation>
<operation name="parametrization">
<input message="tns:parametrization"></input>
<output message="tns:parametrizationResponse"></output>
<fault message="tns:ParamException" name="ParamException"></fault>
</operation>
</portType>
<binding name="ParamCreatorPortBinding" type="tns:ParamCreator">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="subscription">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParamException">
<soap:fault name="ParamException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="parametrization">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="ParamException">
<soap:fault name="ParamException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="ParamCreatorService">
<port name="ParamCreatorPort" binding="tns:ParamCreatorPortBinding">
<soap:address location="http://localhost:8080/jSeduite/ProfileManager/ParamCreatorService"></soap:address>
</port>
</service>
</definitions>