hci/WebAdmin/web/WEB-INF/wsdl/client/PictogramFinderService/localhost_8080/jSeduite/Pictogram/PictogramFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/" name="PictogramFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/Pictogram/PictogramFinderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="findPictogramById">
<part name="parameters" element="tns:findPictogramById"></part>
</message>
<message name="findPictogramByIdResponse">
<part name="parameters" element="tns:findPictogramByIdResponse"></part>
</message>
<message name="PictogramException">
<part name="fault" element="tns:PictogramException"></part>
</message>
<message name="getAllPictogramReferences">
<part name="parameters" element="tns:getAllPictogramReferences"></part>
</message>
<message name="getAllPictogramReferencesResponse">
<part name="parameters" element="tns:getAllPictogramReferencesResponse"></part>
</message>
<portType name="PictogramFinder">
<operation name="findPictogramById">
<input message="tns:findPictogramById"></input>
<output message="tns:findPictogramByIdResponse"></output>
<fault message="tns:PictogramException" name="PictogramException"></fault>
</operation>
<operation name="getAllPictogramReferences">
<input message="tns:getAllPictogramReferences"></input>
<output message="tns:getAllPictogramReferencesResponse"></output>
<fault message="tns:PictogramException" name="PictogramException"></fault>
</operation>
</portType>
<binding name="PictogramFinderPortBinding" type="tns:PictogramFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="findPictogramById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PictogramException">
<soap:fault name="PictogramException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllPictogramReferences">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PictogramException">
<soap:fault name="PictogramException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PictogramFinderService">
<port name="PictogramFinderPort" binding="tns:PictogramFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/Pictogram/PictogramFinderService"></soap:address>
</port>
</service>
</definitions>