orchestrations/TvShows/src/TvShows.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://modalis.i3s.unice.fr/jSeduite/orchestrations/schema/TvShows"
    xmlns:tns="http://modalis.i3s.unice.fr/jSeduite/orchestrations/schema/TvShows"
    elementFormDefault="qualified" xmlns:ns0="http://feeds.technical.jSeduite.modalis.i3s.unice.fr/">
    <xsd:import schemaLocation="Partners/RssReaderService.xsd" namespace="http://feeds.technical.jSeduite.modalis.i3s.unice.fr/"/>
    <xsd:complexType name="Show">
        <xsd:sequence>
            <xsd:element name="title" type="xsd:string"/>
            <xsd:element name="start" type="xsd:time"/>
            <xsd:element name="summary" type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="channel" type="xsd:string"/>
    </xsd:complexType>
    <xsd:complexType name="SetOfShow">
        <xsd:sequence>
            <xsd:element name="item" type="tns:Show" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetShowsForTonightIn">
        <xsd:sequence>
            <xsd:element name="provider" type="xsd:string"/>
            <xsd:element name="period" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="GetShowsForTonightOut">
        <xsd:sequence>
            <xsd:element name="result" type="tns:SetOfShow"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SetOfFeedNode">
        <xsd:sequence>
            <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="ns0:feedNode"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="GetShowsForTonightRequest" type="tns:GetShowsForTonightIn"/>
    <xsd:element name="GetShowsForTonightResponse" type="tns:GetShowsForTonightOut"/>
</xsd:schema>