hci/jsf/BreakManagerJSFClient/web/WEB-INF/wsdl/client/AlarmAdminService/localhost_8080/jseduite/AlarmManager/AlarmAdminService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://admin.alarms.technical.jSeduite.hebut.m1.cn/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://admin.alarms.technical.jSeduite.hebut.m1.cn/">

<xs:element name="AlarmsAdminException" type="tns:AlarmsAdminException"></xs:element>

<xs:element name="DALException" type="tns:DALException"></xs:element>

<xs:element name="createAlarm" type="tns:createAlarm"></xs:element>

<xs:element name="createAlarmResponse" type="tns:createAlarmResponse"></xs:element>

<xs:element name="deleteAlarm" type="tns:deleteAlarm"></xs:element>

<xs:element name="deleteAlarmResponse" type="tns:deleteAlarmResponse"></xs:element>

<xs:element name="getNoLnkAlarm" type="tns:getNoLnkAlarm"></xs:element>

<xs:element name="getNoLnkAlarmResponse" type="tns:getNoLnkAlarmResponse"></xs:element>

<xs:element name="readAlarm" type="tns:readAlarm"></xs:element>

<xs:element name="readAlarmResponse" type="tns:readAlarmResponse"></xs:element>

<xs:element name="updateAlarm" type="tns:updateAlarm"></xs:element>

<xs:element name="updateAlarmResponse" type="tns:updateAlarmResponse"></xs:element>

<xs:element name="updateAlarms" type="tns:updateAlarms"></xs:element>

<xs:element name="updateAlarmsResponse" type="tns:updateAlarmsResponse"></xs:element>

<xs:complexType name="getNoLnkAlarm">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getNoLnkAlarmResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarm" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="alarm">
<xs:sequence>
<xs:element name="alarmContent" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="alarmId" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DALException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readAlarm">
<xs:sequence>
<xs:element name="arg0" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readAlarmResponse">
<xs:sequence>
<xs:element name="return" type="tns:alarm" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AlarmsAdminException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAlarms">
<xs:sequence>
<xs:element name="alarmId" type="xs:int"></xs:element>
<xs:element name="content" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="breakId" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAlarmsResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAlarm">
<xs:sequence>
<xs:element name="alarmId" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAlarmResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="updateAlarm">
<xs:sequence>
<xs:element name="alarmid" type="xs:int"></xs:element>
<xs:element name="breakid" type="xs:int"></xs:element>
<xs:element name="content" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAlarmResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="createAlarm">
<xs:sequence>
<xs:element name="breakId" type="xs:int"></xs:element>
<xs:element name="content" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAlarmResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>