hci/jsf/BreakManagerJSFClient/web/WEB-INF/wsdl/client/AlarmAdminService/localhost_8080/jseduite/AlarmManager/AlarmAdminService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://admin.alarms.technical.jSeduite.hebut.m1.cn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://admin.alarms.technical.jSeduite.hebut.m1.cn/" name="AlarmAdminService">
<types>
<xsd:schema>
<xsd:import namespace="http://admin.alarms.technical.jSeduite.hebut.m1.cn/" schemaLocation="http://localhost:8080/jseduite/AlarmManager/AlarmAdminService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createAlarm">
<part name="parameters" element="tns:createAlarm"></part>
</message>
<message name="createAlarmResponse">
<part name="parameters" element="tns:createAlarmResponse"></part>
</message>
<message name="AlarmsAdminException">
<part name="fault" element="tns:AlarmsAdminException"></part>
</message>
<message name="DALException">
<part name="fault" element="tns:DALException"></part>
</message>
<message name="updateAlarm">
<part name="parameters" element="tns:updateAlarm"></part>
</message>
<message name="updateAlarmResponse">
<part name="parameters" element="tns:updateAlarmResponse"></part>
</message>
<message name="getNoLnkAlarm">
<part name="parameters" element="tns:getNoLnkAlarm"></part>
</message>
<message name="getNoLnkAlarmResponse">
<part name="parameters" element="tns:getNoLnkAlarmResponse"></part>
</message>
<message name="deleteAlarm">
<part name="parameters" element="tns:deleteAlarm"></part>
</message>
<message name="deleteAlarmResponse">
<part name="parameters" element="tns:deleteAlarmResponse"></part>
</message>
<message name="updateAlarms">
<part name="parameters" element="tns:updateAlarms"></part>
</message>
<message name="updateAlarmsResponse">
<part name="parameters" element="tns:updateAlarmsResponse"></part>
</message>
<message name="readAlarm">
<part name="parameters" element="tns:readAlarm"></part>
</message>
<message name="readAlarmResponse">
<part name="parameters" element="tns:readAlarmResponse"></part>
</message>
<portType name="AlarmAdmin">
<operation name="createAlarm">
<input message="tns:createAlarm"></input>
<output message="tns:createAlarmResponse"></output>
<fault message="tns:AlarmsAdminException" name="AlarmsAdminException"></fault>
<fault message="tns:DALException" name="DALException"></fault>
</operation>
<operation name="updateAlarm">
<input message="tns:updateAlarm"></input>
<output message="tns:updateAlarmResponse"></output>
<fault message="tns:DALException" name="DALException"></fault>
</operation>
<operation name="getNoLnkAlarm">
<input message="tns:getNoLnkAlarm"></input>
<output message="tns:getNoLnkAlarmResponse"></output>
<fault message="tns:DALException" name="DALException"></fault>
</operation>
<operation name="deleteAlarm">
<input message="tns:deleteAlarm"></input>
<output message="tns:deleteAlarmResponse"></output>
<fault message="tns:DALException" name="DALException"></fault>
</operation>
<operation name="updateAlarms">
<input message="tns:updateAlarms"></input>
<output message="tns:updateAlarmsResponse"></output>
<fault message="tns:DALException" name="DALException"></fault>
</operation>
<operation name="readAlarm">
<input message="tns:readAlarm"></input>
<output message="tns:readAlarmResponse"></output>
<fault message="tns:AlarmsAdminException" name="AlarmsAdminException"></fault>
</operation>
</portType>
<binding name="AlarmAdminPortBinding" type="tns:AlarmAdmin">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createAlarm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AlarmsAdminException">
<soap:fault name="AlarmsAdminException" use="literal"></soap:fault>
</fault>
<fault name="DALException">
<soap:fault name="DALException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateAlarm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DALException">
<soap:fault name="DALException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getNoLnkAlarm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DALException">
<soap:fault name="DALException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteAlarm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DALException">
<soap:fault name="DALException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateAlarms">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DALException">
<soap:fault name="DALException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readAlarm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AlarmsAdminException">
<soap:fault name="AlarmsAdminException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="AlarmAdminService">
<port name="AlarmAdminPort" binding="tns:AlarmAdminPortBinding">
<soap:address location="http://localhost:8080/jseduite/AlarmManager/AlarmAdminService"></soap:address>
</port>
</service>
</definitions>