hci/WebAdmin-IRSAM/web/WEB-INF/wsdl/client/PictogramCRUDService/localhost_8080/jSeduite/Pictogram/PictogramCRUDService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="PictogramException" type="tns:PictogramException"></xs:element>

<xs:element name="createPictogram" type="tns:createPictogram"></xs:element>

<xs:element name="createPictogramResponse" type="tns:createPictogramResponse"></xs:element>

<xs:element name="deletePictogram" type="tns:deletePictogram"></xs:element>

<xs:element name="deletePictogramResponse" type="tns:deletePictogramResponse"></xs:element>

<xs:element name="readPictogram" type="tns:readPictogram"></xs:element>

<xs:element name="readPictogramResponse" type="tns:readPictogramResponse"></xs:element>

<xs:element name="updatePictogram" type="tns:updatePictogram"></xs:element>

<xs:element name="updatePictogramResponse" type="tns:updatePictogramResponse"></xs:element>

<xs:complexType name="updatePictogram">
<xs:sequence>
<xs:element name="i" type="tns:pictogram" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pictogram">
<xs:sequence>
<xs:element name="end" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="picture1" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="picture2" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="start" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="title" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePictogramResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="PictogramException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readPictogram">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readPictogramResponse">
<xs:sequence>
<xs:element name="return" type="tns:pictogram" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePictogram">
<xs:sequence>
<xs:element name="i" type="tns:pictogram" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePictogramResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="createPictogram">
<xs:sequence>
<xs:element name="i" type="tns:pictogram" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPictogramResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>