hci/WebAdmin-IRSAM/web/WEB-INF/wsdl/client/PictogramCRUDService/localhost_8080/jSeduite/Pictogram/PictogramCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/" name="PictogramCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/Pictogram/PictogramCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createPictogram">
<part name="parameters" element="tns:createPictogram"></part>
</message>
<message name="createPictogramResponse">
<part name="parameters" element="tns:createPictogramResponse"></part>
</message>
<message name="PictogramException">
<part name="fault" element="tns:PictogramException"></part>
</message>
<message name="readPictogram">
<part name="parameters" element="tns:readPictogram"></part>
</message>
<message name="readPictogramResponse">
<part name="parameters" element="tns:readPictogramResponse"></part>
</message>
<message name="updatePictogram">
<part name="parameters" element="tns:updatePictogram"></part>
</message>
<message name="updatePictogramResponse">
<part name="parameters" element="tns:updatePictogramResponse"></part>
</message>
<message name="deletePictogram">
<part name="parameters" element="tns:deletePictogram"></part>
</message>
<message name="deletePictogramResponse">
<part name="parameters" element="tns:deletePictogramResponse"></part>
</message>
<portType name="PictogramCRUD">
<operation name="createPictogram">
<input message="tns:createPictogram"></input>
<output message="tns:createPictogramResponse"></output>
<fault message="tns:PictogramException" name="PictogramException"></fault>
</operation>
<operation name="readPictogram">
<input message="tns:readPictogram"></input>
<output message="tns:readPictogramResponse"></output>
<fault message="tns:PictogramException" name="PictogramException"></fault>
</operation>
<operation name="updatePictogram">
<input message="tns:updatePictogram"></input>
<output message="tns:updatePictogramResponse"></output>
<fault message="tns:PictogramException" name="PictogramException"></fault>
</operation>
<operation name="deletePictogram">
<input message="tns:deletePictogram"></input>
<output message="tns:deletePictogramResponse"></output>
<fault message="tns:PictogramException" name="PictogramException"></fault>
</operation>
</portType>
<binding name="PictogramCRUDPortBinding" type="tns:PictogramCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createPictogram">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PictogramException">
<soap:fault name="PictogramException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readPictogram">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PictogramException">
<soap:fault name="PictogramException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updatePictogram">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PictogramException">
<soap:fault name="PictogramException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deletePictogram">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PictogramException">
<soap:fault name="PictogramException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PictogramCRUDService">
<port name="PictogramCRUDPort" binding="tns:PictogramCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/Pictogram/PictogramCRUDService"></soap:address>
</port>
</service>
</definitions>