hci/WebAdmin-IRSAM/src/conf/xml-resources/web-service-references/FileUploaderService/wsdl/localhost_8080/jSeduite/FileUploader/FileUploaderService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://files.upload.jseduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://files.upload.jseduite.modalis.i3s.unice.fr/">

<xs:element name="FileUploaderException" type="tns:FileUploaderException"></xs:element>

<xs:element name="deleteFile" type="tns:deleteFile"></xs:element>

<xs:element name="deleteFileResponse" type="tns:deleteFileResponse"></xs:element>

<xs:element name="getAllFiles" type="tns:getAllFiles"></xs:element>

<xs:element name="getAllFilesResponse" type="tns:getAllFilesResponse"></xs:element>

<xs:element name="getFolderFiles" type="tns:getFolderFiles"></xs:element>

<xs:element name="getFolderFilesResponse" type="tns:getFolderFilesResponse"></xs:element>

<xs:element name="getURL" type="tns:getURL"></xs:element>

<xs:element name="getURLResponse" type="tns:getURLResponse"></xs:element>

<xs:element name="uploadNewFile" type="tns:uploadNewFile"></xs:element>

<xs:element name="uploadNewFileResponse" type="tns:uploadNewFileResponse"></xs:element>

<xs:complexType name="getAllFiles">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAllFilesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadNewFile">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="content" type="xs:base64Binary" nillable="true" minOccurs="0"></xs:element>
<xs:element name="folder" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="uploadNewFileResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="FileUploaderException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFolderFiles">
<xs:sequence>
<xs:element name="folder" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFolderFilesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getURL">
<xs:sequence>
<xs:element name="folder" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getURLResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteFile">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteFileResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>