webservices/SchoolLife/web/WSDL/StudentSummonService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/">

    <xs:element name="StudentsSummonException" type="tns:StudentsSummonException"></xs:element>

    <xs:element name="getSummoned" type="tns:getSummoned"></xs:element>

    <xs:element name="getSummonedByCode" type="tns:getSummonedByCode"></xs:element>

    <xs:element name="getSummonedByCodeResponse" type="tns:getSummonedByCodeResponse"></xs:element>

    <xs:element name="getSummonedResponse" type="tns:getSummonedResponse"></xs:element>

    <xs:complexType name="getSummonedByCode">
        <xs:sequence>
            <xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getSummonedByCodeResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:summoning" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="summoning">
        <xs:sequence>
            <xs:element name="date" type="xs:dateTime" minOccurs="0"></xs:element>
            <xs:element name="level" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="owner" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="promo" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="student" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="StudentsSummonException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getSummoned">
        <xs:sequence></xs:sequence>
    </xs:complexType>

    <xs:complexType name="getSummonedResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:summoning" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>