webservices/SchoolLife/web/WSDL/TeacherAbsencesService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/">

    <xs:element name="TeacherAbsenceException" type="tns:TeacherAbsenceException"></xs:element>

    <xs:element name="getAbsences" type="tns:getAbsences"></xs:element>

    <xs:element name="getAbsencesResponse" type="tns:getAbsencesResponse"></xs:element>

    <xs:complexType name="getAbsences">
        <xs:sequence></xs:sequence>
    </xs:complexType>

    <xs:complexType name="getAbsencesResponse">
        <xs:sequence>
            <xs:element name="return" type="tns:absence" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="absence">
        <xs:sequence>
            <xs:element name="from" type="xs:dateTime" minOccurs="0"></xs:element>
            <xs:element name="reason" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="teacher" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="until" type="xs:dateTime" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="TeacherAbsenceException">
        <xs:sequence>
            <xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>