hci/jsf/JSFClient/src/conf/xml-resources/web-service-references/BreakManagerAdminService/wsdl/localhost_8080/BreakManager/BreakManagerAdminService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://admin.breaktime.technical.jSeduite.hebut.m1.cn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://admin.breaktime.technical.jSeduite.hebut.m1.cn/" name="BreakManagerAdminService">
<types>
<xsd:schema>
<xsd:import namespace="http://admin.breaktime.technical.jSeduite.hebut.m1.cn/" schemaLocation="http://localhost:8080/BreakManager/BreakManagerAdminService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"></part>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"></part>
</message>
<message name="BreakTimeAdminException">
<part name="fault" element="tns:BreakTimeAdminException"></part>
</message>
<message name="DALException">
<part name="fault" element="tns:DALException"></part>
</message>
<message name="read">
<part name="parameters" element="tns:read"></part>
</message>
<message name="readResponse">
<part name="parameters" element="tns:readResponse"></part>
</message>
<message name="create">
<part name="parameters" element="tns:create"></part>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"></part>
</message>
<message name="update">
<part name="parameters" element="tns:update"></part>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"></part>
</message>
<message name="deleteAllLnkByBreak">
<part name="parameters" element="tns:deleteAllLnkByBreak"></part>
</message>
<message name="deleteAllLnkByBreakResponse">
<part name="parameters" element="tns:deleteAllLnkByBreakResponse"></part>
</message>
<message name="getAllBreaks">
<part name="parameters" element="tns:getAllBreaks"></part>
</message>
<message name="getAllBreaksResponse">
<part name="parameters" element="tns:getAllBreaksResponse"></part>
</message>
<message name="BreakTimeException">
<part name="fault" element="tns:BreakTimeException"></part>
</message>
<message name="getPromosByBreak">
<part name="parameters" element="tns:getPromosByBreak"></part>
</message>
<message name="getPromosByBreakResponse">
<part name="parameters" element="tns:getPromosByBreakResponse"></part>
</message>
<portType name="BreakManagerAdmin">
<operation name="delete">
<input message="tns:delete"></input>
<output message="tns:deleteResponse"></output>
<fault message="tns:BreakTimeAdminException" name="BreakTimeAdminException"></fault>
<fault message="tns:DALException" name="DALException"></fault>
</operation>
<operation name="read">
<input message="tns:read"></input>
<output message="tns:readResponse"></output>
<fault message="tns:BreakTimeAdminException" name="BreakTimeAdminException"></fault>
</operation>
<operation name="create">
<input message="tns:create"></input>
<output message="tns:createResponse"></output>
<fault message="tns:BreakTimeAdminException" name="BreakTimeAdminException"></fault>
<fault message="tns:DALException" name="DALException"></fault>
</operation>
<operation name="update">
<input message="tns:update"></input>
<output message="tns:updateResponse"></output>
<fault message="tns:DALException" name="DALException"></fault>
</operation>
<operation name="deleteAllLnkByBreak">
<input message="tns:deleteAllLnkByBreak"></input>
<output message="tns:deleteAllLnkByBreakResponse"></output>
<fault message="tns:DALException" name="DALException"></fault>
</operation>
<operation name="getAllBreaks">
<input message="tns:getAllBreaks"></input>
<output message="tns:getAllBreaksResponse"></output>
<fault message="tns:BreakTimeException" name="BreakTimeException"></fault>
<fault message="tns:DALException" name="DALException"></fault>
</operation>
<operation name="getPromosByBreak">
<input message="tns:getPromosByBreak"></input>
<output message="tns:getPromosByBreakResponse"></output>
<fault message="tns:DALException" name="DALException"></fault>
</operation>
</portType>
<binding name="BreakManagerAdminPortBinding" type="tns:BreakManagerAdmin">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="delete">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakTimeAdminException">
<soap:fault name="BreakTimeAdminException" use="literal"></soap:fault>
</fault>
<fault name="DALException">
<soap:fault name="DALException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="read">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakTimeAdminException">
<soap:fault name="BreakTimeAdminException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="create">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakTimeAdminException">
<soap:fault name="BreakTimeAdminException" use="literal"></soap:fault>
</fault>
<fault name="DALException">
<soap:fault name="DALException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="update">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DALException">
<soap:fault name="DALException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteAllLnkByBreak">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DALException">
<soap:fault name="DALException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllBreaks">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"></soap:fault>
</fault>
<fault name="DALException">
<soap:fault name="DALException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getPromosByBreak">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DALException">
<soap:fault name="DALException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="BreakManagerAdminService">
<port name="BreakManagerAdminPort" binding="tns:BreakManagerAdminPortBinding">
<soap:address location="http://localhost:8080/BreakManager/BreakManagerAdminService"></soap:address>
</port>
</service>
</definitions>