hci/WebAdmin/src/conf/xml-resources/web-service-references/FileUploaderService/wsdl/localhost_8080/jSeduite/FileUploader/FileUploaderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://files.upload.jseduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://files.upload.jseduite.modalis.i3s.unice.fr/" name="FileUploaderService">
<types>
<xsd:schema>
<xsd:import namespace="http://files.upload.jseduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/FileUploader/FileUploaderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getURL">
<part name="parameters" element="tns:getURL"></part>
</message>
<message name="getURLResponse">
<part name="parameters" element="tns:getURLResponse"></part>
</message>
<message name="FileUploaderException">
<part name="fault" element="tns:FileUploaderException"></part>
</message>
<message name="deleteFile">
<part name="parameters" element="tns:deleteFile"></part>
</message>
<message name="deleteFileResponse">
<part name="parameters" element="tns:deleteFileResponse"></part>
</message>
<message name="getAllFiles">
<part name="parameters" element="tns:getAllFiles"></part>
</message>
<message name="getAllFilesResponse">
<part name="parameters" element="tns:getAllFilesResponse"></part>
</message>
<message name="uploadNewFile">
<part name="parameters" element="tns:uploadNewFile"></part>
</message>
<message name="uploadNewFileResponse">
<part name="parameters" element="tns:uploadNewFileResponse"></part>
</message>
<portType name="FileUploader">
<operation name="getURL">
<input message="tns:getURL"></input>
<output message="tns:getURLResponse"></output>
<fault message="tns:FileUploaderException" name="FileUploaderException"></fault>
</operation>
<operation name="deleteFile">
<input message="tns:deleteFile"></input>
<output message="tns:deleteFileResponse"></output>
<fault message="tns:FileUploaderException" name="FileUploaderException"></fault>
</operation>
<operation name="getAllFiles">
<input message="tns:getAllFiles"></input>
<output message="tns:getAllFilesResponse"></output>
</operation>
<operation name="uploadNewFile">
<input message="tns:uploadNewFile"></input>
<output message="tns:uploadNewFileResponse"></output>
<fault message="tns:FileUploaderException" name="FileUploaderException"></fault>
</operation>
</portType>
<binding name="FileUploaderPortBinding" type="tns:FileUploader">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getURL">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FileUploaderException">
<soap:fault name="FileUploaderException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FileUploaderException">
<soap:fault name="FileUploaderException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllFiles">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
</operation>
<operation name="uploadNewFile">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FileUploaderException">
<soap:fault name="FileUploaderException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="FileUploaderService">
<port name="FileUploaderPort" binding="tns:FileUploaderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/FileUploader/FileUploaderService"></soap:address>
</port>
</service>
</definitions>