hci/jsf/WebAdmin/src/conf/xml-resources/web-service-references/BreakTimeCRUDService/wsdl/localhost_8080/jSeduite/SchoolLife/BreakTimeCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/" name="BreakTimeCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/BreakTimeCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createBreakTime">
<part name="parameters" element="tns:createBreakTime"></part>
</message>
<message name="createBreakTimeResponse">
<part name="parameters" element="tns:createBreakTimeResponse"></part>
</message>
<message name="BreakTimeException">
<part name="fault" element="tns:BreakTimeException"></part>
</message>
<message name="readBreakTime">
<part name="parameters" element="tns:readBreakTime"></part>
</message>
<message name="readBreakTimeResponse">
<part name="parameters" element="tns:readBreakTimeResponse"></part>
</message>
<message name="deleteBreakTime">
<part name="parameters" element="tns:deleteBreakTime"></part>
</message>
<message name="deleteBreakTimeResponse">
<part name="parameters" element="tns:deleteBreakTimeResponse"></part>
</message>
<message name="updateBreakTime">
<part name="parameters" element="tns:updateBreakTime"></part>
</message>
<message name="updateBreakTimeResponse">
<part name="parameters" element="tns:updateBreakTimeResponse"></part>
</message>
<portType name="BreakTimeCRUD">
<operation name="createBreakTime">
<input message="tns:createBreakTime"></input>
<output message="tns:createBreakTimeResponse"></output>
<fault message="tns:BreakTimeException" name="BreakTimeException"></fault>
</operation>
<operation name="readBreakTime">
<input message="tns:readBreakTime"></input>
<output message="tns:readBreakTimeResponse"></output>
<fault message="tns:BreakTimeException" name="BreakTimeException"></fault>
</operation>
<operation name="deleteBreakTime">
<input message="tns:deleteBreakTime"></input>
<output message="tns:deleteBreakTimeResponse"></output>
<fault message="tns:BreakTimeException" name="BreakTimeException"></fault>
</operation>
<operation name="updateBreakTime">
<input message="tns:updateBreakTime"></input>
<output message="tns:updateBreakTimeResponse"></output>
<fault message="tns:BreakTimeException" name="BreakTimeException"></fault>
</operation>
</portType>
<binding name="BreakTimeCRUDPortBinding" type="tns:BreakTimeCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createBreakTime">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readBreakTime">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteBreakTime">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateBreakTime">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="BreakTimeCRUDService">
<port name="BreakTimeCRUDPort" binding="tns:BreakTimeCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/BreakTimeCRUDService"></soap:address>
</port>
</service>
</definitions>