hci/jsf/WebAdmin/src/conf/xml-resources/web-service-references/ParamFinderService/wsdl/localhost_8080/jSeduite/ProfileManager/ParamFinderService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="ParamException" type="tns:ParamException"></xs:element>

<xs:element name="getParameterCard" type="tns:getParameterCard"></xs:element>

<xs:element name="getParameterCardResponse" type="tns:getParameterCardResponse"></xs:element>

<xs:element name="getParameters" type="tns:getParameters"></xs:element>

<xs:element name="getParametersForSource" type="tns:getParametersForSource"></xs:element>

<xs:element name="getParametersForSourceResponse" type="tns:getParametersForSourceResponse"></xs:element>

<xs:element name="getParametersResponse" type="tns:getParametersResponse"></xs:element>

<xs:complexType name="getParameterCard">
<xs:sequence>
<xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="device" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParameterCardResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParamException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParameters">
<xs:sequence>
<xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="device" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParametersResponse">
<xs:sequence>
<xs:element name="return" type="tns:param" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="param">
<xs:sequence>
<xs:element name="defaultValue" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="prettyName" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="setId" type="xs:int"></xs:element>
<xs:element name="value" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParametersForSource">
<xs:sequence>
<xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getParametersForSourceResponse">
<xs:sequence>
<xs:element name="return" type="tns:param" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>