hci/jsf/WebAdmin/web/WEB-INF/wsdl/client/CourseCRUDService/localhost_8080/jSeduite/sandbox/MenuService/CourseCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" name="CourseCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/sandbox/MenuService/CourseCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createCourse">
<part name="parameters" element="tns:createCourse"></part>
</message>
<message name="createCourseResponse">
<part name="parameters" element="tns:createCourseResponse"></part>
</message>
<message name="RestaurantException">
<part name="fault" element="tns:RestaurantException"></part>
</message>
<message name="readCourse">
<part name="parameters" element="tns:readCourse"></part>
</message>
<message name="readCourseResponse">
<part name="parameters" element="tns:readCourseResponse"></part>
</message>
<message name="updateCourse">
<part name="parameters" element="tns:updateCourse"></part>
</message>
<message name="updateCourseResponse">
<part name="parameters" element="tns:updateCourseResponse"></part>
</message>
<message name="deleteCourse">
<part name="parameters" element="tns:deleteCourse"></part>
</message>
<message name="deleteCourseResponse">
<part name="parameters" element="tns:deleteCourseResponse"></part>
</message>
<portType name="CourseCRUD">
<operation name="createCourse">
<input message="tns:createCourse"></input>
<output message="tns:createCourseResponse"></output>
<fault message="tns:RestaurantException" name="RestaurantException"></fault>
</operation>
<operation name="readCourse">
<input message="tns:readCourse"></input>
<output message="tns:readCourseResponse"></output>
<fault message="tns:RestaurantException" name="RestaurantException"></fault>
</operation>
<operation name="updateCourse">
<input message="tns:updateCourse"></input>
<output message="tns:updateCourseResponse"></output>
<fault message="tns:RestaurantException" name="RestaurantException"></fault>
</operation>
<operation name="deleteCourse">
<input message="tns:deleteCourse"></input>
<output message="tns:deleteCourseResponse"></output>
<fault message="tns:RestaurantException" name="RestaurantException"></fault>
</operation>
</portType>
<binding name="CourseCRUDPortBinding" type="tns:CourseCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createCourse">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readCourse">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateCourse">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteCourse">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="CourseCRUDService">
<port name="CourseCRUDPort" binding="tns:CourseCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/sandbox/MenuService/CourseCRUDService"></soap:address>
</port>
</service>
</definitions>