providers/Sources/src/Partners/ApalWrapperService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://apal.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://apal.technical.jSeduite.modalis.i3s.unice.fr/" name="ApalWrapperService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://apal.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="ApalWrapperService.xsd"/>
    </xsd:schema>
  </types>
  <message name="getPromos">
    <part name="parameters" element="tns:getPromos"/>
  </message>
  <message name="getPromosResponse">
    <part name="parameters" element="tns:getPromosResponse"/>
  </message>
  <message name="getTopWithTreshold">
    <part name="parameters" element="tns:getTopWithTreshold"/>
  </message>
  <message name="getTopWithTresholdResponse">
    <part name="parameters" element="tns:getTopWithTresholdResponse"/>
  </message>
  <message name="getTop10">
    <part name="parameters" element="tns:getTop10"/>
  </message>
  <message name="getTop10Response">
    <part name="parameters" element="tns:getTop10Response"/>
  </message>
  <message name="getLoosers">
    <part name="parameters" element="tns:getLoosers"/>
  </message>
  <message name="getLoosersResponse">
    <part name="parameters" element="tns:getLoosersResponse"/>
  </message>
  <portType name="ApalWrapper">
    <operation name="getPromos">
      <input message="tns:getPromos"/>
      <output message="tns:getPromosResponse"/>
    </operation>
    <operation name="getTopWithTreshold">
      <input message="tns:getTopWithTreshold"/>
      <output message="tns:getTopWithTresholdResponse"/>
    </operation>
    <operation name="getTop10">
      <input message="tns:getTop10"/>
      <output message="tns:getTop10Response"/>
    </operation>
    <operation name="getLoosers">
      <input message="tns:getLoosers"/>
      <output message="tns:getLoosersResponse"/>
    </operation>
  </portType>
  <binding name="ApalWrapperPortBinding" type="tns:ApalWrapper">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getPromos">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTopWithTreshold">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getTop10">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="getLoosers">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="ApalWrapperService">
    <port name="ApalWrapperPort" binding="tns:ApalWrapperPortBinding">
      <soap:address location="http://localhost:8080/jSeduite/ApalWrapper/ApalWrapperService"/>
    </port>
  </service>
</definitions>
