providers/Sources/src/Partners/HyperLocatorService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator" name="HyperLocatorService">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://modalis.i3s.unice.fr/jSeduite/ws/technical/hyperlocator" schemaLocation="HyperLocatorService.xsd"/>
    </xsd:schema>
  </types>
  <message name="getAllPromo">
    <part name="parameters" element="tns:getAllPromo"/>
  </message>
  <message name="getAllPromoResponse">
    <part name="parameters" element="tns:getAllPromoResponse"/>
  </message>
  <message name="HyperException">
    <part name="fault" element="tns:HyperException"/>
  </message>
  <message name="getByPromo">
    <part name="parameters" element="tns:getByPromo"/>
  </message>
  <message name="getByPromoResponse">
    <part name="parameters" element="tns:getByPromoResponse"/>
  </message>
  <message name="getAllPromoByBuilding">
    <part name="parameters" element="tns:getAllPromoByBuilding"/>
  </message>
  <message name="getAllPromoByBuildingResponse">
    <part name="parameters" element="tns:getAllPromoByBuildingResponse"/>
  </message>
  <message name="locateTeacher">
    <part name="parameters" element="tns:locateTeacher"/>
  </message>
  <message name="locateTeacherResponse">
    <part name="parameters" element="tns:locateTeacherResponse"/>
  </message>
  <portType name="HyperLocator">
    <operation name="getAllPromo">
      <input message="tns:getAllPromo"/>
      <output message="tns:getAllPromoResponse"/>
      <fault message="tns:HyperException" name="HyperException"/>
    </operation>
    <operation name="getByPromo">
      <input message="tns:getByPromo"/>
      <output message="tns:getByPromoResponse"/>
      <fault message="tns:HyperException" name="HyperException"/>
    </operation>
    <operation name="getAllPromoByBuilding">
      <input message="tns:getAllPromoByBuilding"/>
      <output message="tns:getAllPromoByBuildingResponse"/>
      <fault message="tns:HyperException" name="HyperException"/>
    </operation>
    <operation name="locateTeacher">
      <input message="tns:locateTeacher"/>
      <output message="tns:locateTeacherResponse"/>
      <fault message="tns:HyperException" name="HyperException"/>
    </operation>
  </portType>
  <binding name="HyperLocatorPortBinding" type="tns:HyperLocator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="getAllPromo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="HyperException">
        <soap:fault name="HyperException" use="literal"/>
      </fault>
    </operation>
    <operation name="getByPromo">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="HyperException">
        <soap:fault name="HyperException" use="literal"/>
      </fault>
    </operation>
    <operation name="getAllPromoByBuilding">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="HyperException">
        <soap:fault name="HyperException" use="literal"/>
      </fault>
    </operation>
    <operation name="locateTeacher">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="HyperException">
        <soap:fault name="HyperException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="HyperLocatorService">
    <port name="HyperLocatorPort" binding="tns:HyperLocatorPortBinding">
      <soap:address location="http://localhost:8080/jSeduite/HyperMachin/HyperLocatorService"/>
    </port>
  </service>
</definitions>
