providers/Sources/src/Partners/MenuBusinessService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. -->
<xs:schema xmlns:tns="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/">
  <xs:element name="RestaurantException" type="tns:RestaurantException"/>
  <xs:element name="getNextMenu" type="tns:getNextMenu"/>
  <xs:element name="getNextMenuResponse" type="tns:getNextMenuResponse"/>
  <xs:complexType name="getNextMenu">
    <xs:sequence>
      <xs:element name="delta" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getNextMenuResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:menu" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="menu">
    <xs:sequence>
      <xs:element name="courses" type="tns:course" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="date" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="typeMenu" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="course">
    <xs:sequence>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="kind" type="xs:string" minOccurs="0"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="RestaurantException">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
