providers/Sources/src/Partners/RssReaderService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="http://feeds.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://feeds.technical.jSeduite.modalis.i3s.unice.fr/">
  <xs:element name="read" type="tns:read"/>
  <xs:element name="readResponse" type="tns:readResponse"/>
  <xs:complexType name="read">
    <xs:sequence>
      <xs:element name="url" type="xs:anyURI" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="readResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:feedContent" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="feedContent">
    <xs:sequence>
      <xs:element name="content" type="tns:feedNode" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="language" type="xs:string" minOccurs="0"/>
      <xs:element name="link" type="xs:string" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="feedNode">
    <xs:sequence>
      <xs:element name="author" type="xs:string" minOccurs="0"/>
      <xs:element name="content" type="xs:string" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
      <xs:element name="type" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
