providers/Sources/src/Partners/TwitterWrapperService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="http://twitter.messaging.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://twitter.messaging.technical.jSeduite.modalis.i3s.unice.fr/">
  <xs:element name="getFreeTokens" type="tns:getFreeTokens"/>
  <xs:element name="getFreeTokensResponse" type="tns:getFreeTokensResponse"/>
  <xs:element name="getTweets" type="tns:getTweets"/>
  <xs:element name="getTweetsResponse" type="tns:getTweetsResponse"/>
  <xs:complexType name="getTweets">
    <xs:sequence>
      <xs:element name="username" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
      <xs:element name="treshold" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getTweetsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:tweet" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="tweet">
    <xs:sequence>
      <xs:element name="author" type="xs:string" minOccurs="0"/>
      <xs:element name="content" type="xs:string" minOccurs="0"/>
      <xs:element name="date" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFreeTokens">
    <xs:sequence>
      <xs:element name="username" type="xs:string" minOccurs="0"/>
      <xs:element name="password" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getFreeTokensResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
