hci/WebAdmin/src/conf/xml-resources/web-service-references/FeedClassFinderService/wsdl/localhost_8080/jSeduite/FeedRegistry/FeedClassFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" name="FeedClassFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/FeedRegistry/FeedClassFinderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="findFeedClassById">
<part name="parameters" element="tns:findFeedClassById"></part>
</message>
<message name="findFeedClassByIdResponse">
<part name="parameters" element="tns:findFeedClassByIdResponse"></part>
</message>
<message name="FeedRegistryException">
<part name="fault" element="tns:FeedRegistryException"></part>
</message>
<message name="getAllFeedClassReferences">
<part name="parameters" element="tns:getAllFeedClassReferences"></part>
</message>
<message name="getAllFeedClassReferencesResponse">
<part name="parameters" element="tns:getAllFeedClassReferencesResponse"></part>
</message>
<portType name="FeedClassFinder">
<operation name="findFeedClassById">
<input message="tns:findFeedClassById"></input>
<output message="tns:findFeedClassByIdResponse"></output>
<fault message="tns:FeedRegistryException" name="FeedRegistryException"></fault>
</operation>
<operation name="getAllFeedClassReferences">
<input message="tns:getAllFeedClassReferences"></input>
<output message="tns:getAllFeedClassReferencesResponse"></output>
<fault message="tns:FeedRegistryException" name="FeedRegistryException"></fault>
</operation>
</portType>
<binding name="FeedClassFinderPortBinding" type="tns:FeedClassFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="findFeedClassById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllFeedClassReferences">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="FeedClassFinderService">
<port name="FeedClassFinderPort" binding="tns:FeedClassFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/FeedRegistry/FeedClassFinderService"></soap:address>
</port>
</service>
</definitions>