hci/WebAdmin/web/WEB-INF/wsdl/client/CourseFinderService/localhost_8080/jSeduite/sandbox/MenuService/CourseFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" name="CourseFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/sandbox/MenuService/CourseFinderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="findCoursesByKind">
<part name="parameters" element="tns:findCoursesByKind"></part>
</message>
<message name="findCoursesByKindResponse">
<part name="parameters" element="tns:findCoursesByKindResponse"></part>
</message>
<message name="RestaurantException">
<part name="fault" element="tns:RestaurantException"></part>
</message>
<message name="findCourseByName">
<part name="parameters" element="tns:findCourseByName"></part>
</message>
<message name="findCourseByNameResponse">
<part name="parameters" element="tns:findCourseByNameResponse"></part>
</message>
<message name="getAllCoursesReferences">
<part name="parameters" element="tns:getAllCoursesReferences"></part>
</message>
<message name="getAllCoursesReferencesResponse">
<part name="parameters" element="tns:getAllCoursesReferencesResponse"></part>
</message>
<portType name="CourseFinder">
<operation name="findCoursesByKind">
<input message="tns:findCoursesByKind"></input>
<output message="tns:findCoursesByKindResponse"></output>
<fault message="tns:RestaurantException" name="RestaurantException"></fault>
</operation>
<operation name="findCourseByName">
<input message="tns:findCourseByName"></input>
<output message="tns:findCourseByNameResponse"></output>
<fault message="tns:RestaurantException" name="RestaurantException"></fault>
</operation>
<operation name="getAllCoursesReferences">
<input message="tns:getAllCoursesReferences"></input>
<output message="tns:getAllCoursesReferencesResponse"></output>
<fault message="tns:RestaurantException" name="RestaurantException"></fault>
</operation>
</portType>
<binding name="CourseFinderPortBinding" type="tns:CourseFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="findCoursesByKind">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="findCourseByName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllCoursesReferences">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="CourseFinderService">
<port name="CourseFinderPort" binding="tns:CourseFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/sandbox/MenuService/CourseFinderService"></soap:address>
</port>
</service>
</definitions>