hci/WebAdmin/src/conf/xml-resources/web-service-references/AbsenceCRUDService/wsdl/localhost_8080/jSeduite/SchoolLife/AbsenceCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/" name="AbsenceCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/AbsenceCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="readAbsence">
<part name="parameters" element="tns:readAbsence"></part>
</message>
<message name="readAbsenceResponse">
<part name="parameters" element="tns:readAbsenceResponse"></part>
</message>
<message name="TeacherAbsenceException">
<part name="fault" element="tns:TeacherAbsenceException"></part>
</message>
<message name="createAbsence">
<part name="parameters" element="tns:createAbsence"></part>
</message>
<message name="createAbsenceResponse">
<part name="parameters" element="tns:createAbsenceResponse"></part>
</message>
<message name="deleteAbsence">
<part name="parameters" element="tns:deleteAbsence"></part>
</message>
<message name="deleteAbsenceResponse">
<part name="parameters" element="tns:deleteAbsenceResponse"></part>
</message>
<message name="updateAbsence">
<part name="parameters" element="tns:updateAbsence"></part>
</message>
<message name="updateAbsenceResponse">
<part name="parameters" element="tns:updateAbsenceResponse"></part>
</message>
<portType name="AbsenceCRUD">
<operation name="readAbsence">
<input message="tns:readAbsence"></input>
<output message="tns:readAbsenceResponse"></output>
<fault message="tns:TeacherAbsenceException" name="TeacherAbsenceException"></fault>
</operation>
<operation name="createAbsence">
<input message="tns:createAbsence"></input>
<output message="tns:createAbsenceResponse"></output>
<fault message="tns:TeacherAbsenceException" name="TeacherAbsenceException"></fault>
</operation>
<operation name="deleteAbsence">
<input message="tns:deleteAbsence"></input>
<output message="tns:deleteAbsenceResponse"></output>
<fault message="tns:TeacherAbsenceException" name="TeacherAbsenceException"></fault>
</operation>
<operation name="updateAbsence">
<input message="tns:updateAbsence"></input>
<output message="tns:updateAbsenceResponse"></output>
<fault message="tns:TeacherAbsenceException" name="TeacherAbsenceException"></fault>
</operation>
</portType>
<binding name="AbsenceCRUDPortBinding" type="tns:AbsenceCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="readAbsence">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TeacherAbsenceException">
<soap:fault name="TeacherAbsenceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createAbsence">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TeacherAbsenceException">
<soap:fault name="TeacherAbsenceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteAbsence">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TeacherAbsenceException">
<soap:fault name="TeacherAbsenceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateAbsence">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="TeacherAbsenceException">
<soap:fault name="TeacherAbsenceException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="AbsenceCRUDService">
<port name="AbsenceCRUDPort" binding="tns:AbsenceCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/AbsenceCRUDService"></soap:address>
</port>
</service>
</definitions>