hci/WebAdmin/src/conf/xml-resources/web-service-references/InternalNewsCRUDService/wsdl/localhost_8080/jSeduite/InternalNews/InternalNewsCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" name="InternalNewsCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/InternalNews/InternalNewsCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createInternalNews">
<part name="parameters" element="tns:createInternalNews"></part>
</message>
<message name="createInternalNewsResponse">
<part name="parameters" element="tns:createInternalNewsResponse"></part>
</message>
<message name="InternalNewsException">
<part name="fault" element="tns:InternalNewsException"></part>
</message>
<message name="readInternalNews">
<part name="parameters" element="tns:readInternalNews"></part>
</message>
<message name="readInternalNewsResponse">
<part name="parameters" element="tns:readInternalNewsResponse"></part>
</message>
<message name="updateInternalNews">
<part name="parameters" element="tns:updateInternalNews"></part>
</message>
<message name="updateInternalNewsResponse">
<part name="parameters" element="tns:updateInternalNewsResponse"></part>
</message>
<message name="deleteInternalNews">
<part name="parameters" element="tns:deleteInternalNews"></part>
</message>
<message name="deleteInternalNewsResponse">
<part name="parameters" element="tns:deleteInternalNewsResponse"></part>
</message>
<portType name="InternalNewsCRUD">
<operation name="createInternalNews">
<input message="tns:createInternalNews"></input>
<output message="tns:createInternalNewsResponse"></output>
<fault message="tns:InternalNewsException" name="InternalNewsException"></fault>
</operation>
<operation name="readInternalNews">
<input message="tns:readInternalNews"></input>
<output message="tns:readInternalNewsResponse"></output>
<fault message="tns:InternalNewsException" name="InternalNewsException"></fault>
</operation>
<operation name="updateInternalNews">
<input message="tns:updateInternalNews"></input>
<output message="tns:updateInternalNewsResponse"></output>
<fault message="tns:InternalNewsException" name="InternalNewsException"></fault>
</operation>
<operation name="deleteInternalNews">
<input message="tns:deleteInternalNews"></input>
<output message="tns:deleteInternalNewsResponse"></output>
<fault message="tns:InternalNewsException" name="InternalNewsException"></fault>
</operation>
</portType>
<binding name="InternalNewsCRUDPortBinding" type="tns:InternalNewsCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createInternalNews">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readInternalNews">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateInternalNews">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteInternalNews">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="InternalNewsCRUDService">
<port name="InternalNewsCRUDPort" binding="tns:InternalNewsCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/InternalNews/InternalNewsCRUDService"></soap:address>
</port>
</service>
</definitions>