hci/jsf/WebAdmin/src/conf/xml-resources/web-service-references/ParamCreatorService/wsdl/localhost_8080/jSeduite/ProfileManager/ParamCreatorService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://params.profiles.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="ParamException" type="tns:ParamException"></xs:element>

<xs:element name="parametrization" type="tns:parametrization"></xs:element>

<xs:element name="parametrizationResponse" type="tns:parametrizationResponse"></xs:element>

<xs:element name="subscription" type="tns:subscription"></xs:element>

<xs:element name="subscriptionResponse" type="tns:subscriptionResponse"></xs:element>

<xs:complexType name="parametrization">
<xs:sequence>
<xs:element name="device" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="param" type="tns:param" minOccurs="0"></xs:element>
<xs:element name="set_id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="param">
<xs:sequence>
<xs:element name="defaultValue" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="setId" type="xs:int"></xs:element>
<xs:element name="value" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="parametrizationResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="ParamException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscription">
<xs:sequence>
<xs:element name="device" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="source" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="sets" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subscriptionResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>