hci/jsf/WebAdmin/web/WEB-INF/wsdl/client/DeviceFinderService/localhost_8080/jSeduite/ProfileManager/DeviceFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/" name="DeviceFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/ProfileManager/DeviceFinderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="findDeviceByName">
<part name="parameters" element="tns:findDeviceByName"></part>
</message>
<message name="findDeviceByNameResponse">
<part name="parameters" element="tns:findDeviceByNameResponse"></part>
</message>
<message name="DeviceException">
<part name="fault" element="tns:DeviceException"></part>
</message>
<message name="getAllDeviceReferences">
<part name="parameters" element="tns:getAllDeviceReferences"></part>
</message>
<message name="getAllDeviceReferencesResponse">
<part name="parameters" element="tns:getAllDeviceReferencesResponse"></part>
</message>
<portType name="DeviceFinder">
<operation name="findDeviceByName">
<input message="tns:findDeviceByName"></input>
<output message="tns:findDeviceByNameResponse"></output>
<fault message="tns:DeviceException" name="DeviceException"></fault>
</operation>
<operation name="getAllDeviceReferences">
<input message="tns:getAllDeviceReferences"></input>
<output message="tns:getAllDeviceReferencesResponse"></output>
<fault message="tns:DeviceException" name="DeviceException"></fault>
</operation>
</portType>
<binding name="DeviceFinderPortBinding" type="tns:DeviceFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="findDeviceByName">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DeviceException">
<soap:fault name="DeviceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllDeviceReferences">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DeviceException">
<soap:fault name="DeviceException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="DeviceFinderService">
<port name="DeviceFinderPort" binding="tns:DeviceFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/ProfileManager/DeviceFinderService"></soap:address>
</port>
</service>
</definitions>