hci/jsf/WebAdmin/web/WEB-INF/wsdl/client/DeviceFinderService/localhost_8080/jSeduite/ProfileManager/DeviceFinderService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="DeviceException" type="tns:DeviceException"></xs:element>

<xs:element name="findDeviceByName" type="tns:findDeviceByName"></xs:element>

<xs:element name="findDeviceByNameResponse" type="tns:findDeviceByNameResponse"></xs:element>

<xs:element name="getAllDeviceReferences" type="tns:getAllDeviceReferences"></xs:element>

<xs:element name="getAllDeviceReferencesResponse" type="tns:getAllDeviceReferencesResponse"></xs:element>

<xs:complexType name="findDeviceByName">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findDeviceByNameResponse">
<xs:sequence>
<xs:element name="return" type="tns:device" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="device">
<xs:sequence>
<xs:element name="location" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DeviceException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getAllDeviceReferences">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAllDeviceReferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>