hci/WebAdmin/web/WEB-INF/wsdl/client/SummoningCRUDService/localhost_8080/jSeduite/SchoolLife/SummoningCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" name="SummoningCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/SchoolLife/SummoningCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createSummoning">
<part name="parameters" element="tns:createSummoning"></part>
</message>
<message name="createSummoningResponse">
<part name="parameters" element="tns:createSummoningResponse"></part>
</message>
<message name="StudentsSummonException">
<part name="fault" element="tns:StudentsSummonException"></part>
</message>
<message name="readSummoning">
<part name="parameters" element="tns:readSummoning"></part>
</message>
<message name="readSummoningResponse">
<part name="parameters" element="tns:readSummoningResponse"></part>
</message>
<message name="updateSummoning">
<part name="parameters" element="tns:updateSummoning"></part>
</message>
<message name="updateSummoningResponse">
<part name="parameters" element="tns:updateSummoningResponse"></part>
</message>
<message name="deleteSummoning">
<part name="parameters" element="tns:deleteSummoning"></part>
</message>
<message name="deleteSummoningResponse">
<part name="parameters" element="tns:deleteSummoningResponse"></part>
</message>
<portType name="SummoningCRUD">
<operation name="createSummoning">
<input message="tns:createSummoning"></input>
<output message="tns:createSummoningResponse"></output>
<fault message="tns:StudentsSummonException" name="StudentsSummonException"></fault>
</operation>
<operation name="readSummoning">
<input message="tns:readSummoning"></input>
<output message="tns:readSummoningResponse"></output>
<fault message="tns:StudentsSummonException" name="StudentsSummonException"></fault>
</operation>
<operation name="updateSummoning">
<input message="tns:updateSummoning"></input>
<output message="tns:updateSummoningResponse"></output>
<fault message="tns:StudentsSummonException" name="StudentsSummonException"></fault>
</operation>
<operation name="deleteSummoning">
<input message="tns:deleteSummoning"></input>
<output message="tns:deleteSummoningResponse"></output>
<fault message="tns:StudentsSummonException" name="StudentsSummonException"></fault>
</operation>
</portType>
<binding name="SummoningCRUDPortBinding" type="tns:SummoningCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createSummoning">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="StudentsSummonException">
<soap:fault name="StudentsSummonException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readSummoning">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="StudentsSummonException">
<soap:fault name="StudentsSummonException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateSummoning">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="StudentsSummonException">
<soap:fault name="StudentsSummonException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteSummoning">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="StudentsSummonException">
<soap:fault name="StudentsSummonException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="SummoningCRUDService">
<port name="SummoningCRUDPort" binding="tns:SummoningCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/SchoolLife/SummoningCRUDService"></soap:address>
</port>
</service>
</definitions>