orchestrations/CachedFeedReader/retrieved/src/localhost_8080/jSeduite/DataCache/DataCacheService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://cache.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://cache.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="DataCacheException" type="tns:DataCacheException"></xs:element>

<xs:element name="getContent" type="tns:getContent"></xs:element>

<xs:element name="getContentResponse" type="tns:getContentResponse"></xs:element>

<xs:element name="initContent" type="tns:initContent"></xs:element>

<xs:element name="initContentResponse" type="tns:initContentResponse"></xs:element>

<xs:element name="isValid" type="tns:isValid"></xs:element>

<xs:element name="isValidResponse" type="tns:isValidResponse"></xs:element>

<xs:element name="setContent" type="tns:setContent"></xs:element>

<xs:element name="setContentResponse" type="tns:setContentResponse"></xs:element>

<xs:complexType name="isValid">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="delta" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="isValidResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DataCacheException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getContent">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getContentResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="initContent">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="initContentResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="setContent">
<xs:sequence>
<xs:element name="key" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="content" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="setContentResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>