orchestrations/PictureAlbums/src/PictureAlbums.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://modalis.i3s.unice.fr/jSeduite/orchestrations/schema/PictureAlbums"
    xmlns:tns="http://modalis.i3s.unice.fr/jSeduite/orchestrations/schema/PictureAlbums"
    elementFormDefault="qualified" xmlns:ns0="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/">
    <xsd:import schemaLocation="Partners/PictureAlbumRegistryService.xsd" namespace="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/"/>
    <xsd:complexType name="Album">
        <xsd:sequence>
            <xsd:element name="repository" type="xsd:string"/>
            <xsd:element name="name" type="xsd:string"/>
            <xsd:element name="picture_star" type="tns:SetOfUrl"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SetOfAlbum">
        <xsd:sequence>
            <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="tns:Album"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SetOfUrl">
        <xsd:sequence>
            <xsd:element name="item" minOccurs="0" maxOccurs="unbounded" type="xsd:anyURI"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RetrieveValidAlbumsIn">
        <xsd:sequence>
            <xsd:element name="limit" type="xsd:integer"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="RetrieveValidAlbumsOut">
        <xsd:sequence>
            <xsd:element name="result" type="tns:SetOfAlbum"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:complexType name="SetOfPictureAlbum">
        <xsd:sequence>
            <xsd:element name="item" maxOccurs="unbounded" minOccurs="0" type="ns0:pictureAlbum"/>
        </xsd:sequence>
    </xsd:complexType>
    <xsd:element name="RetrieveValidAlbumsRequest" type="tns:RetrieveValidAlbumsIn"/>
    <xsd:element name="RetrieveValidAlbumsResponse" type="tns:RetrieveValidAlbumsOut"/>
</xsd:schema>