hci/jsf/BreakManagerJSFClient/web/WEB-INF/wsdl/client/AlarmsManagerService/localhost_8080/BreakManager/AlarmsManagerService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://alarms.technical.jSeduite.hebut.m1.cn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://alarms.technical.jSeduite.hebut.m1.cn/" name="AlarmsManagerService">
<types>
<xsd:schema>
<xsd:import namespace="http://alarms.technical.jSeduite.hebut.m1.cn/" schemaLocation="http://localhost:8080/BreakManager/AlarmsManagerService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAllAlarms">
<part name="parameters" element="tns:getAllAlarms"></part>
</message>
<message name="getAllAlarmsResponse">
<part name="parameters" element="tns:getAllAlarmsResponse"></part>
</message>
<message name="AlarmException">
<part name="fault" element="tns:AlarmException"></part>
</message>
<message name="getAlarmByBinding">
<part name="parameters" element="tns:getAlarmByBinding"></part>
</message>
<message name="getAlarmByBindingResponse">
<part name="parameters" element="tns:getAlarmByBindingResponse"></part>
</message>
<message name="getAllBinding">
<part name="parameters" element="tns:getAllBinding"></part>
</message>
<message name="getAllBindingResponse">
<part name="parameters" element="tns:getAllBindingResponse"></part>
</message>
<message name="DALException">
<part name="fault" element="tns:DALException"></part>
</message>
<portType name="AlarmsManager">
<operation name="getAllAlarms">
<input message="tns:getAllAlarms"></input>
<output message="tns:getAllAlarmsResponse"></output>
<fault message="tns:AlarmException" name="AlarmException"></fault>
</operation>
<operation name="getAlarmByBinding">
<input message="tns:getAlarmByBinding"></input>
<output message="tns:getAlarmByBindingResponse"></output>
<fault message="tns:AlarmException" name="AlarmException"></fault>
</operation>
<operation name="getAllBinding">
<input message="tns:getAllBinding"></input>
<output message="tns:getAllBindingResponse"></output>
<fault message="tns:DALException" name="DALException"></fault>
</operation>
</portType>
<binding name="AlarmsManagerPortBinding" type="tns:AlarmsManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAllAlarms">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AlarmException">
<soap:fault name="AlarmException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAlarmByBinding">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="AlarmException">
<soap:fault name="AlarmException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllBinding">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DALException">
<soap:fault name="DALException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="AlarmsManagerService">
<port name="AlarmsManagerPort" binding="tns:AlarmsManagerPortBinding">
<soap:address location="http://localhost:8080/BreakManager/AlarmsManagerService"></soap:address>
</port>
</service>
</definitions>