hci/WebAdmin-IRSAM/src/conf/xml-resources/web-service-references/MenuCRUDService/wsdl/localhost_8080/jSeduite/MenuService/MenuCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" name="MenuCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/MenuService/MenuCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="readMenu">
<part name="parameters" element="tns:readMenu"></part>
</message>
<message name="readMenuResponse">
<part name="parameters" element="tns:readMenuResponse"></part>
</message>
<message name="RestaurantException">
<part name="fault" element="tns:RestaurantException"></part>
</message>
<message name="createMenu">
<part name="parameters" element="tns:createMenu"></part>
</message>
<message name="createMenuResponse">
<part name="parameters" element="tns:createMenuResponse"></part>
</message>
<message name="deleteMenu">
<part name="parameters" element="tns:deleteMenu"></part>
</message>
<message name="deleteMenuResponse">
<part name="parameters" element="tns:deleteMenuResponse"></part>
</message>
<message name="updateMenu">
<part name="parameters" element="tns:updateMenu"></part>
</message>
<message name="updateMenuResponse">
<part name="parameters" element="tns:updateMenuResponse"></part>
</message>
<portType name="MenuCRUD">
<operation name="readMenu">
<input message="tns:readMenu"></input>
<output message="tns:readMenuResponse"></output>
<fault message="tns:RestaurantException" name="RestaurantException"></fault>
</operation>
<operation name="createMenu">
<input message="tns:createMenu"></input>
<output message="tns:createMenuResponse"></output>
<fault message="tns:RestaurantException" name="RestaurantException"></fault>
</operation>
<operation name="deleteMenu">
<input message="tns:deleteMenu"></input>
<output message="tns:deleteMenuResponse"></output>
<fault message="tns:RestaurantException" name="RestaurantException"></fault>
</operation>
<operation name="updateMenu">
<input message="tns:updateMenu"></input>
<output message="tns:updateMenuResponse"></output>
<fault message="tns:RestaurantException" name="RestaurantException"></fault>
</operation>
</portType>
<binding name="MenuCRUDPortBinding" type="tns:MenuCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="readMenu">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="createMenu">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteMenu">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateMenu">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="MenuCRUDService">
<port name="MenuCRUDPort" binding="tns:MenuCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/MenuService/MenuCRUDService"></soap:address>
</port>
</service>
</definitions>