sandbox/MenuServiceTest/xml-resources/web-service-references/MenuFinderService/wsdl/localhost_8080/jSeduite/sandbox/MenuService/MenuFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" name="MenuFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/sandbox/MenuService/MenuFinderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="findMenuByDate">
<part name="parameters" element="tns:findMenuByDate"></part>
</message>
<message name="findMenuByDateResponse">
<part name="parameters" element="tns:findMenuByDateResponse"></part>
</message>
<message name="RestaurantException">
<part name="fault" element="tns:RestaurantException"></part>
</message>
<message name="getAllMenuReferences">
<part name="parameters" element="tns:getAllMenuReferences"></part>
</message>
<message name="getAllMenuReferencesResponse">
<part name="parameters" element="tns:getAllMenuReferencesResponse"></part>
</message>
<portType name="MenuFinder">
<operation name="findMenuByDate">
<input message="tns:findMenuByDate"></input>
<output message="tns:findMenuByDateResponse"></output>
<fault message="tns:RestaurantException" name="RestaurantException"></fault>
</operation>
<operation name="getAllMenuReferences">
<input message="tns:getAllMenuReferences"></input>
<output message="tns:getAllMenuReferencesResponse"></output>
<fault message="tns:RestaurantException" name="RestaurantException"></fault>
</operation>
</portType>
<binding name="MenuFinderPortBinding" type="tns:MenuFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="findMenuByDate">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllMenuReferences">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="RestaurantException">
<soap:fault name="RestaurantException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="MenuFinderService">
<port name="MenuFinderPort" binding="tns:MenuFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/sandbox/MenuService/MenuFinderService"></soap:address>
</port>
</service>
</definitions>