sandbox/MenuServiceTest/xml-resources/web-service-references/MenuFinderService/wsdl/localhost_8080/jSeduite/sandbox/MenuService/MenuFinderService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://restaurant.sanbox/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://restaurant.sanbox/">

<xs:element name="findMenuByDate" type="tns:findMenuByDate"></xs:element>

<xs:element name="findMenuByDateResponse" type="tns:findMenuByDateResponse"></xs:element>

<xs:complexType name="findMenuByDate">
<xs:sequence>
<xs:element name="date" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findMenuByDateResponse">
<xs:sequence>
<xs:element name="return" type="tns:menu" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="menu">
<xs:sequence>
<xs:element name="courses" type="tns:course" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="date" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="course">
<xs:sequence>
<xs:element name="kind" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>