sandbox/JSeduiteWebAdminJSF/CourseCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. -->
<definitions targetNamespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" name="CourseCRUDService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://restaurant.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="CourseCRUDService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="createCourse">
    <part name="parameters" element="tns:createCourse"/>
  </message>
  <message name="createCourseResponse">
    <part name="parameters" element="tns:createCourseResponse"/>
  </message>
  <message name="RestaurantException">
    <part name="fault" element="tns:RestaurantException"/>
  </message>
  <message name="readCourse">
    <part name="parameters" element="tns:readCourse"/>
  </message>
  <message name="readCourseResponse">
    <part name="parameters" element="tns:readCourseResponse"/>
  </message>
  <message name="updateCourse">
    <part name="parameters" element="tns:updateCourse"/>
  </message>
  <message name="updateCourseResponse">
    <part name="parameters" element="tns:updateCourseResponse"/>
  </message>
  <message name="deleteCourse">
    <part name="parameters" element="tns:deleteCourse"/>
  </message>
  <message name="deleteCourseResponse">
    <part name="parameters" element="tns:deleteCourseResponse"/>
  </message>
  <portType name="CourseCRUD">
    <operation name="createCourse">
      <input message="tns:createCourse"/>
      <output message="tns:createCourseResponse"/>
      <fault message="tns:RestaurantException" name="RestaurantException"/>
    </operation>
    <operation name="readCourse">
      <input message="tns:readCourse"/>
      <output message="tns:readCourseResponse"/>
      <fault message="tns:RestaurantException" name="RestaurantException"/>
    </operation>
    <operation name="updateCourse">
      <input message="tns:updateCourse"/>
      <output message="tns:updateCourseResponse"/>
      <fault message="tns:RestaurantException" name="RestaurantException"/>
    </operation>
    <operation name="deleteCourse">
      <input message="tns:deleteCourse"/>
      <output message="tns:deleteCourseResponse"/>
      <fault message="tns:RestaurantException" name="RestaurantException"/>
    </operation>
  </portType>
  <binding name="CourseCRUDPortBinding" type="tns:CourseCRUD">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createCourse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RestaurantException">
        <soap:fault name="RestaurantException" use="literal"/>
      </fault>
    </operation>
    <operation name="readCourse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RestaurantException">
        <soap:fault name="RestaurantException" use="literal"/>
      </fault>
    </operation>
    <operation name="updateCourse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RestaurantException">
        <soap:fault name="RestaurantException" use="literal"/>
      </fault>
    </operation>
    <operation name="deleteCourse">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="RestaurantException">
        <soap:fault name="RestaurantException" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="CourseCRUDService">
    <port name="CourseCRUDPort" binding="tns:CourseCRUDPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

