hci/WebAdmin/web/WEB-INF/wsdl/client/FeedClassCRUDService/localhost_8080/jSeduite/FeedRegistry/FeedClassCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" name="FeedClassCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/FeedRegistry/FeedClassCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createFeedClass">
<part name="parameters" element="tns:createFeedClass"></part>
</message>
<message name="createFeedClassResponse">
<part name="parameters" element="tns:createFeedClassResponse"></part>
</message>
<message name="FeedRegistryException">
<part name="fault" element="tns:FeedRegistryException"></part>
</message>
<message name="readFeedClass">
<part name="parameters" element="tns:readFeedClass"></part>
</message>
<message name="readFeedClassResponse">
<part name="parameters" element="tns:readFeedClassResponse"></part>
</message>
<message name="updateFeedClass">
<part name="parameters" element="tns:updateFeedClass"></part>
</message>
<message name="updateFeedClassResponse">
<part name="parameters" element="tns:updateFeedClassResponse"></part>
</message>
<message name="deleteFeedClass">
<part name="parameters" element="tns:deleteFeedClass"></part>
</message>
<message name="deleteFeedClassResponse">
<part name="parameters" element="tns:deleteFeedClassResponse"></part>
</message>
<portType name="FeedClassCRUD">
<operation name="createFeedClass">
<input message="tns:createFeedClass"></input>
<output message="tns:createFeedClassResponse"></output>
<fault message="tns:FeedRegistryException" name="FeedRegistryException"></fault>
</operation>
<operation name="readFeedClass">
<input message="tns:readFeedClass"></input>
<output message="tns:readFeedClassResponse"></output>
<fault message="tns:FeedRegistryException" name="FeedRegistryException"></fault>
</operation>
<operation name="updateFeedClass">
<input message="tns:updateFeedClass"></input>
<output message="tns:updateFeedClassResponse"></output>
<fault message="tns:FeedRegistryException" name="FeedRegistryException"></fault>
</operation>
<operation name="deleteFeedClass">
<input message="tns:deleteFeedClass"></input>
<output message="tns:deleteFeedClassResponse"></output>
<fault message="tns:FeedRegistryException" name="FeedRegistryException"></fault>
</operation>
</portType>
<binding name="FeedClassCRUDPortBinding" type="tns:FeedClassCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createFeedClass">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readFeedClass">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateFeedClass">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteFeedClass">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="FeedClassCRUDService">
<port name="FeedClassCRUDPort" binding="tns:FeedClassCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/FeedRegistry/FeedClassCRUDService"></soap:address>
</port>
</service>
</definitions>