hci/WebAdmin/web/WEB-INF/wsdl/client/FeedCRUDService/localhost_8080/jSeduite/FeedRegistry/FeedCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" name="FeedCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://registry.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/FeedRegistry/FeedCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createFeed">
<part name="parameters" element="tns:createFeed"></part>
</message>
<message name="createFeedResponse">
<part name="parameters" element="tns:createFeedResponse"></part>
</message>
<message name="FeedRegistryException">
<part name="fault" element="tns:FeedRegistryException"></part>
</message>
<message name="readFeed">
<part name="parameters" element="tns:readFeed"></part>
</message>
<message name="readFeedResponse">
<part name="parameters" element="tns:readFeedResponse"></part>
</message>
<message name="updateFeed">
<part name="parameters" element="tns:updateFeed"></part>
</message>
<message name="updateFeedResponse">
<part name="parameters" element="tns:updateFeedResponse"></part>
</message>
<message name="deleteFeed">
<part name="parameters" element="tns:deleteFeed"></part>
</message>
<message name="deleteFeedResponse">
<part name="parameters" element="tns:deleteFeedResponse"></part>
</message>
<portType name="FeedCRUD">
<operation name="createFeed">
<input message="tns:createFeed"></input>
<output message="tns:createFeedResponse"></output>
<fault message="tns:FeedRegistryException" name="FeedRegistryException"></fault>
</operation>
<operation name="readFeed">
<input message="tns:readFeed"></input>
<output message="tns:readFeedResponse"></output>
<fault message="tns:FeedRegistryException" name="FeedRegistryException"></fault>
</operation>
<operation name="updateFeed">
<input message="tns:updateFeed"></input>
<output message="tns:updateFeedResponse"></output>
<fault message="tns:FeedRegistryException" name="FeedRegistryException"></fault>
</operation>
<operation name="deleteFeed">
<input message="tns:deleteFeed"></input>
<output message="tns:deleteFeedResponse"></output>
<fault message="tns:FeedRegistryException" name="FeedRegistryException"></fault>
</operation>
</portType>
<binding name="FeedCRUDPortBinding" type="tns:FeedCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createFeed">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readFeed">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateFeed">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteFeed">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="FeedRegistryException">
<soap:fault name="FeedRegistryException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="FeedCRUDService">
<port name="FeedCRUDPort" binding="tns:FeedCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/FeedRegistry/FeedCRUDService"></soap:address>
</port>
</service>
</definitions>