trunk/hci/WebAdmin/src/conf/xml-resources/web-service-references/PartnerKeysCRUDService/wsdl/localhost_8080/jSeduite/PartnerKeys/PartnerKeysCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/" name="PartnerKeysCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/PartnerKeys/PartnerKeysCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createPartnerKey">
<part name="parameters" element="tns:createPartnerKey"></part>
</message>
<message name="createPartnerKeyResponse">
<part name="parameters" element="tns:createPartnerKeyResponse"></part>
</message>
<message name="PartnerKeysException">
<part name="fault" element="tns:PartnerKeysException"></part>
</message>
<message name="readPartnerKey">
<part name="parameters" element="tns:readPartnerKey"></part>
</message>
<message name="readPartnerKeyResponse">
<part name="parameters" element="tns:readPartnerKeyResponse"></part>
</message>
<message name="updatePartnerKey">
<part name="parameters" element="tns:updatePartnerKey"></part>
</message>
<message name="updatePartnerKeyResponse">
<part name="parameters" element="tns:updatePartnerKeyResponse"></part>
</message>
<message name="deletePartnerKey">
<part name="parameters" element="tns:deletePartnerKey"></part>
</message>
<message name="deletePartnerKeyResponse">
<part name="parameters" element="tns:deletePartnerKeyResponse"></part>
</message>
<portType name="PartnerKeysCRUD">
<operation name="createPartnerKey">
<input message="tns:createPartnerKey"></input>
<output message="tns:createPartnerKeyResponse"></output>
<fault message="tns:PartnerKeysException" name="PartnerKeysException"></fault>
</operation>
<operation name="readPartnerKey">
<input message="tns:readPartnerKey"></input>
<output message="tns:readPartnerKeyResponse"></output>
<fault message="tns:PartnerKeysException" name="PartnerKeysException"></fault>
</operation>
<operation name="updatePartnerKey">
<input message="tns:updatePartnerKey"></input>
<output message="tns:updatePartnerKeyResponse"></output>
<fault message="tns:PartnerKeysException" name="PartnerKeysException"></fault>
</operation>
<operation name="deletePartnerKey">
<input message="tns:deletePartnerKey"></input>
<output message="tns:deletePartnerKeyResponse"></output>
<fault message="tns:PartnerKeysException" name="PartnerKeysException"></fault>
</operation>
</portType>
<binding name="PartnerKeysCRUDPortBinding" type="tns:PartnerKeysCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createPartnerKey">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PartnerKeysException">
<soap:fault name="PartnerKeysException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readPartnerKey">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PartnerKeysException">
<soap:fault name="PartnerKeysException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updatePartnerKey">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PartnerKeysException">
<soap:fault name="PartnerKeysException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deletePartnerKey">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PartnerKeysException">
<soap:fault name="PartnerKeysException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PartnerKeysCRUDService">
<port name="PartnerKeysCRUDPort" binding="tns:PartnerKeysCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/PartnerKeys/PartnerKeysCRUDService"></soap:address>
</port>
</service>
</definitions>