providers/InfoProvider/src/Sources/Partners/AlarmBusinessService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. -->
<xs:schema xmlns:tns="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://alarms.technical.jSeduite.modalis.i3s.unice.fr/">
  <xs:element name="AlarmException" type="tns:AlarmException"/>
  <xs:element name="getTodayAlarms" type="tns:getTodayAlarms"/>
  <xs:element name="getTodayAlarmsResponse" type="tns:getTodayAlarmsResponse"/>
  <xs:complexType name="getTodayAlarms">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getTodayAlarmsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:alarm" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="alarm">
    <xs:sequence>
      <xs:element name="breakTime" type="tns:breakTime" minOccurs="0"/>
      <xs:element name="dateRing" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="kind" type="xs:string" minOccurs="0"/>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
      <xs:element name="sound" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="breakTime">
    <xs:sequence>
      <xs:element name="building" type="xs:string" minOccurs="0"/>
      <xs:element name="days" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="end" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="kind" type="xs:string" minOccurs="0"/>
      <xs:element name="promos" type="tns:promo" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="start" type="xs:dateTime" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="promo">
    <xs:sequence>
      <xs:element name="code" type="xs:string" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="name" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="AlarmException">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
