providers/InfoProvider/src/Sources/Partners/EphemeridesService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="http://Ephemerides.time.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Ephemerides.time.technical.jSeduite.modalis.i3s.unice.fr/">
  <xs:element name="EphemeridesException" type="tns:EphemeridesException"/>
  <xs:element name="getEphemerides" type="tns:getEphemerides"/>
  <xs:element name="getEphemeridesResponse" type="tns:getEphemeridesResponse"/>
  <xs:complexType name="getEphemerides">
    <xs:sequence>
      <xs:element name="day" type="xs:int"/>
      <xs:element name="month" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="getEphemeridesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:namesOfTheDay" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="namesOfTheDay">
    <xs:sequence>
      <xs:element name="day" type="xs:int"/>
      <xs:element name="month" type="xs:int"/>
      <xs:element name="names" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="EphemeridesException">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
