providers/InfoProvider/src/Sources/Partners/PictogramBusinessService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. -->
<xs:schema xmlns:tns="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://pictogram.technical.jSeduite.modalis.i3s.unice.fr/">
  <xs:element name="PictogramException" type="tns:PictogramException"/>
  <xs:element name="getAllPictograms" type="tns:getAllPictograms"/>
  <xs:element name="getAllPictogramsResponse" type="tns:getAllPictogramsResponse"/>
  <xs:complexType name="getAllPictograms">
    <xs:sequence/>
  </xs:complexType>
  <xs:complexType name="getAllPictogramsResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:pictogram" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="pictogram">
    <xs:sequence>
      <xs:element name="end" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="id" type="xs:int"/>
      <xs:element name="picture1" type="xs:string" minOccurs="0"/>
      <xs:element name="picture2" type="xs:string" minOccurs="0"/>
      <xs:element name="start" type="xs:dateTime" minOccurs="0"/>
      <xs:element name="title" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PictogramException">
    <xs:sequence>
      <xs:element name="message" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
