webservices/PictureSet/web/WSDL/PictureSetService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://helper.image.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://helper.image.technical.jSeduite.modalis.i3s.unice.fr/" name="PictureSetService">
    <types>
        <xsd:schema>
            <xsd:import namespace="http://helper.image.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="PictureSetService.xsd"></xsd:import>
        </xsd:schema>
    </types>
    <message name="shuffle">
        <part name="parameters" element="tns:shuffle"></part>
    </message>
    <message name="shuffleResponse">
        <part name="parameters" element="tns:shuffleResponse"></part>
    </message>
    <message name="merge">
        <part name="parameters" element="tns:merge"></part>
    </message>
    <message name="mergeResponse">
        <part name="parameters" element="tns:mergeResponse"></part>
    </message>
    <message name="truncate">
        <part name="parameters" element="tns:truncate"></part>
    </message>
    <message name="truncateResponse">
        <part name="parameters" element="tns:truncateResponse"></part>
    </message>
    <portType name="PictureSet">
        <operation name="shuffle">
            <input message="tns:shuffle"></input>
            <output message="tns:shuffleResponse"></output>
        </operation>
        <operation name="merge">
            <input message="tns:merge"></input>
            <output message="tns:mergeResponse"></output>
        </operation>
        <operation name="truncate">
            <input message="tns:truncate"></input>
            <output message="tns:truncateResponse"></output>
        </operation>
    </portType>
    <binding name="PictureSetPortBinding" type="tns:PictureSet">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
        <operation name="shuffle">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="merge">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
        <operation name="truncate">
            <soap:operation soapAction=""></soap:operation>
            <input>
                <soap:body use="literal"></soap:body>
            </input>
            <output>
                <soap:body use="literal"></soap:body>
            </output>
        </operation>
    </binding>
    <service name="PictureSetService">
        <port name="PictureSetPort" binding="tns:PictureSetPortBinding">
            <soap:address location="http://localhost:8080/jSeduite/PictureSet/PictureSetService"></soap:address>
        </port>
    </service>
</definitions>