hci/WebAdmin/src/conf/xml-resources/web-service-references/InternalNewsFinderService/wsdl/localhost_8080/jSeduite/InternalNews/InternalNewsFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" name="InternalNewsFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://internal.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/InternalNews/InternalNewsFinderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="findInternalNewsById">
<part name="parameters" element="tns:findInternalNewsById"></part>
</message>
<message name="findInternalNewsByIdResponse">
<part name="parameters" element="tns:findInternalNewsByIdResponse"></part>
</message>
<message name="InternalNewsException">
<part name="fault" element="tns:InternalNewsException"></part>
</message>
<message name="getAllInternalNewsReferences">
<part name="parameters" element="tns:getAllInternalNewsReferences"></part>
</message>
<message name="getAllInternalNewsReferencesResponse">
<part name="parameters" element="tns:getAllInternalNewsReferencesResponse"></part>
</message>
<message name="findTargetById">
<part name="parameters" element="tns:findTargetById"></part>
</message>
<message name="findTargetByIdResponse">
<part name="parameters" element="tns:findTargetByIdResponse"></part>
</message>
<message name="getTargetsIds">
<part name="parameters" element="tns:getTargetsIds"></part>
</message>
<message name="getTargetsIdsResponse">
<part name="parameters" element="tns:getTargetsIdsResponse"></part>
</message>
<portType name="InternalNewsFinder">
<operation name="findInternalNewsById">
<input message="tns:findInternalNewsById"></input>
<output message="tns:findInternalNewsByIdResponse"></output>
<fault message="tns:InternalNewsException" name="InternalNewsException"></fault>
</operation>
<operation name="getAllInternalNewsReferences">
<input message="tns:getAllInternalNewsReferences"></input>
<output message="tns:getAllInternalNewsReferencesResponse"></output>
<fault message="tns:InternalNewsException" name="InternalNewsException"></fault>
</operation>
<operation name="findTargetById">
<input message="tns:findTargetById"></input>
<output message="tns:findTargetByIdResponse"></output>
<fault message="tns:InternalNewsException" name="InternalNewsException"></fault>
</operation>
<operation name="getTargetsIds">
<input message="tns:getTargetsIds"></input>
<output message="tns:getTargetsIdsResponse"></output>
<fault message="tns:InternalNewsException" name="InternalNewsException"></fault>
</operation>
</portType>
<binding name="InternalNewsFinderPortBinding" type="tns:InternalNewsFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="findInternalNewsById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllInternalNewsReferences">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="findTargetById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getTargetsIds">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="InternalNewsException">
<soap:fault name="InternalNewsException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="InternalNewsFinderService">
<port name="InternalNewsFinderPort" binding="tns:InternalNewsFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/InternalNews/InternalNewsFinderService"></soap:address>
</port>
</service>
</definitions>