hci/jsf/WebAdmin/web/WEB-INF/wsdl/client/AbsenceCRUDService/localhost_8080/jSeduite/SchoolLife/AbsenceCRUDService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://absence.news.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="TeacherAbsenceException" type="tns:TeacherAbsenceException"></xs:element>

<xs:element name="createAbsence" type="tns:createAbsence"></xs:element>

<xs:element name="createAbsenceResponse" type="tns:createAbsenceResponse"></xs:element>

<xs:element name="deleteAbsence" type="tns:deleteAbsence"></xs:element>

<xs:element name="deleteAbsenceResponse" type="tns:deleteAbsenceResponse"></xs:element>

<xs:element name="readAbsence" type="tns:readAbsence"></xs:element>

<xs:element name="readAbsenceResponse" type="tns:readAbsenceResponse"></xs:element>

<xs:element name="updateAbsence" type="tns:updateAbsence"></xs:element>

<xs:element name="updateAbsenceResponse" type="tns:updateAbsenceResponse"></xs:element>

<xs:complexType name="readAbsence">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readAbsenceResponse">
<xs:sequence>
<xs:element name="return" type="tns:absence" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="absence">
<xs:sequence>
<xs:element name="from" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="reason" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="teacher" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="until" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TeacherAbsenceException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAbsence">
<xs:sequence>
<xs:element name="a" type="tns:absence" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createAbsenceResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAbsence">
<xs:sequence>
<xs:element name="a" type="tns:absence" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateAbsenceResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAbsence">
<xs:sequence>
<xs:element name="a" type="tns:absence" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteAbsenceResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>