trunk/hci/WebAdmin/web/WEB-INF/wsdl/client/PartnerKeysFinderService/localhost_8080/jSeduite/PartnerKeys/PartnerKeysFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/" name="PartnerKeysFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://partners.registry.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/PartnerKeys/PartnerKeysFinderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="findPartnerKeyById">
<part name="parameters" element="tns:findPartnerKeyById"></part>
</message>
<message name="findPartnerKeyByIdResponse">
<part name="parameters" element="tns:findPartnerKeyByIdResponse"></part>
</message>
<message name="PartnerKeysException">
<part name="fault" element="tns:PartnerKeysException"></part>
</message>
<message name="getAllPartnerKeysReferences">
<part name="parameters" element="tns:getAllPartnerKeysReferences"></part>
</message>
<message name="getAllPartnerKeysReferencesResponse">
<part name="parameters" element="tns:getAllPartnerKeysReferencesResponse"></part>
</message>
<portType name="PartnerKeysFinder">
<operation name="findPartnerKeyById">
<input message="tns:findPartnerKeyById"></input>
<output message="tns:findPartnerKeyByIdResponse"></output>
<fault message="tns:PartnerKeysException" name="PartnerKeysException"></fault>
</operation>
<operation name="getAllPartnerKeysReferences">
<input message="tns:getAllPartnerKeysReferences"></input>
<output message="tns:getAllPartnerKeysReferencesResponse"></output>
<fault message="tns:PartnerKeysException" name="PartnerKeysException"></fault>
</operation>
</portType>
<binding name="PartnerKeysFinderPortBinding" type="tns:PartnerKeysFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="findPartnerKeyById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PartnerKeysException">
<soap:fault name="PartnerKeysException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllPartnerKeysReferences">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="PartnerKeysException">
<soap:fault name="PartnerKeysException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="PartnerKeysFinderService">
<port name="PartnerKeysFinderPort" binding="tns:PartnerKeysFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/PartnerKeys/PartnerKeysFinderService"></soap:address>
</port>
</service>
</definitions>