trunk/hci/WebAdmin/web/WEB-INF/wsdl/client/PromoCRUDService/localhost_8080/jSeduite/SchoolLife/PromoCRUDService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://promos.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://promos.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="PromoException" type="tns:PromoException"></xs:element>

<xs:element name="createPromo" type="tns:createPromo"></xs:element>

<xs:element name="createPromoResponse" type="tns:createPromoResponse"></xs:element>

<xs:element name="deletePromo" type="tns:deletePromo"></xs:element>

<xs:element name="deletePromoResponse" type="tns:deletePromoResponse"></xs:element>

<xs:element name="readPromo" type="tns:readPromo"></xs:element>

<xs:element name="readPromoResponse" type="tns:readPromoResponse"></xs:element>

<xs:element name="updatePromo" type="tns:updatePromo"></xs:element>

<xs:element name="updatePromoResponse" type="tns:updatePromoResponse"></xs:element>

<xs:complexType name="deletePromo">
<xs:sequence>
<xs:element name="p" type="tns:promo" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="promo">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deletePromoResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="PromoException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePromo">
<xs:sequence>
<xs:element name="p" type="tns:promo" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updatePromoResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="createPromo">
<xs:sequence>
<xs:element name="p" type="tns:promo" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createPromoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readPromo">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readPromoResponse">
<xs:sequence>
<xs:element name="return" type="tns:promo" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>