hci/jsf/WebAdmin/src/conf/xml-resources/web-service-references/PictureAlbumRegistryFinderService/wsdl/localhost_8080/jSeduite/PictureAlbumRegistry/PictureAlbumRegistryFinderService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://registry.image.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="PictureAlbumRegistryException" type="tns:PictureAlbumRegistryException"></xs:element>

<xs:element name="findPictureAlbumById" type="tns:findPictureAlbumById"></xs:element>

<xs:element name="findPictureAlbumByIdResponse" type="tns:findPictureAlbumByIdResponse"></xs:element>

<xs:element name="getAllPictureAlbumReferences" type="tns:getAllPictureAlbumReferences"></xs:element>

<xs:element name="getAllPictureAlbumReferencesResponse" type="tns:getAllPictureAlbumReferencesResponse"></xs:element>

<xs:complexType name="getAllPictureAlbumReferences">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="getAllPictureAlbumReferencesResponse">
<xs:sequence>
<xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PictureAlbumRegistryException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPictureAlbumById">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findPictureAlbumByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:pictureAlbum" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pictureAlbum">
<xs:sequence>
<xs:element name="album" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="authKey" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="duration" type="xs:int"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="repository" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="user" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="validFrom" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>