trunk/hci/WebAdmin/src/conf/xml-resources/web-service-references/DeviceCRUDService/wsdl/localhost_8080/jSeduite/ProfileManager/DeviceCRUDService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/" name="DeviceCRUDService">
<types>
<xsd:schema>
<xsd:import namespace="http://devices.profiles.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/ProfileManager/DeviceCRUDService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="createDevice">
<part name="parameters" element="tns:createDevice"></part>
</message>
<message name="createDeviceResponse">
<part name="parameters" element="tns:createDeviceResponse"></part>
</message>
<message name="DeviceException">
<part name="fault" element="tns:DeviceException"></part>
</message>
<message name="readDevice">
<part name="parameters" element="tns:readDevice"></part>
</message>
<message name="readDeviceResponse">
<part name="parameters" element="tns:readDeviceResponse"></part>
</message>
<message name="updateDevice">
<part name="parameters" element="tns:updateDevice"></part>
</message>
<message name="updateDeviceResponse">
<part name="parameters" element="tns:updateDeviceResponse"></part>
</message>
<message name="deleteDevice">
<part name="parameters" element="tns:deleteDevice"></part>
</message>
<message name="deleteDeviceResponse">
<part name="parameters" element="tns:deleteDeviceResponse"></part>
</message>
<portType name="DeviceCRUD">
<operation name="createDevice">
<input message="tns:createDevice"></input>
<output message="tns:createDeviceResponse"></output>
<fault message="tns:DeviceException" name="DeviceException"></fault>
</operation>
<operation name="readDevice">
<input message="tns:readDevice"></input>
<output message="tns:readDeviceResponse"></output>
<fault message="tns:DeviceException" name="DeviceException"></fault>
</operation>
<operation name="updateDevice">
<input message="tns:updateDevice"></input>
<output message="tns:updateDeviceResponse"></output>
<fault message="tns:DeviceException" name="DeviceException"></fault>
</operation>
<operation name="deleteDevice">
<input message="tns:deleteDevice"></input>
<output message="tns:deleteDeviceResponse"></output>
<fault message="tns:DeviceException" name="DeviceException"></fault>
</operation>
</portType>
<binding name="DeviceCRUDPortBinding" type="tns:DeviceCRUD">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="createDevice">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DeviceException">
<soap:fault name="DeviceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="readDevice">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DeviceException">
<soap:fault name="DeviceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="updateDevice">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DeviceException">
<soap:fault name="DeviceException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="deleteDevice">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DeviceException">
<soap:fault name="DeviceException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="DeviceCRUDService">
<port name="DeviceCRUDPort" binding="tns:DeviceCRUDPortBinding">
<soap:address location="http://localhost:8080/jSeduite/ProfileManager/DeviceCRUDService"></soap:address>
</port>
</service>
</definitions>