hci/WebAdmin/src/conf/xml-resources/web-service-references/BreakTimeCRUDService/wsdl/localhost_8080/jSeduite/SchoolLife/BreakTimeCRUDService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. --><xs:schema xmlns:tns="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="BreakTimeException" type="tns:BreakTimeException"></xs:element>

<xs:element name="createBreakTime" type="tns:createBreakTime"></xs:element>

<xs:element name="createBreakTimeResponse" type="tns:createBreakTimeResponse"></xs:element>

<xs:element name="deleteBreakTime" type="tns:deleteBreakTime"></xs:element>

<xs:element name="deleteBreakTimeResponse" type="tns:deleteBreakTimeResponse"></xs:element>

<xs:element name="readBreakTime" type="tns:readBreakTime"></xs:element>

<xs:element name="readBreakTimeResponse" type="tns:readBreakTimeResponse"></xs:element>

<xs:element name="updateBreakTime" type="tns:updateBreakTime"></xs:element>

<xs:element name="updateBreakTimeResponse" type="tns:updateBreakTimeResponse"></xs:element>

<xs:complexType name="readBreakTime">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readBreakTimeResponse">
<xs:sequence>
<xs:element name="return" type="tns:breakTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="breakTime">
<xs:sequence>
<xs:element name="building" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="days" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="end" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="kind" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="promos" type="tns:promo" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="start" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="promo">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BreakTimeException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBreakTime">
<xs:sequence>
<xs:element name="b" type="tns:breakTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateBreakTimeResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBreakTime">
<xs:sequence>
<xs:element name="b" type="tns:breakTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteBreakTimeResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="createBreakTime">
<xs:sequence>
<xs:element name="b" type="tns:breakTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createBreakTimeResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>