hci/jsf/WebAdmin/web/WEB-INF/wsdl/client/BreakTimeFinderService/localhost_8080/jSeduite/SchoolLife/BreakTimeFinderService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://breaktime.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="BreakTimeException" type="tns:BreakTimeException"></xs:element>

<xs:element name="findBreakTimeById" type="tns:findBreakTimeById"></xs:element>

<xs:element name="findBreakTimeByIdResponse" type="tns:findBreakTimeByIdResponse"></xs:element>

<xs:complexType name="findBreakTimeById">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findBreakTimeByIdResponse">
<xs:sequence>
<xs:element name="return" type="tns:breakTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="breakTime">
<xs:sequence>
<xs:element name="building" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="days" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="end" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="kind" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="promos" type="tns:promo" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
<xs:element name="start" type="xs:dateTime" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="promo">
<xs:sequence>
<xs:element name="code" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="name" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="BreakTimeException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>
</xs:schema>