hci/jsf/BreakManagerJSFClient/src/conf/xml-resources/web-service-references/BreakTimeManagerService/wsdl/localhost_8080/BreakManager/BreakTimeManagerService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://breaktime.technical.jSeduite.hebut.m1.cn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://breaktime.technical.jSeduite.hebut.m1.cn/" name="BreakTimeManagerService">
<types>
<xsd:schema>
<xsd:import namespace="http://breaktime.technical.jSeduite.hebut.m1.cn/" schemaLocation="http://localhost:8080/BreakManager/BreakTimeManagerService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getBreakTimeForToday">
<part name="parameters" element="tns:getBreakTimeForToday"></part>
</message>
<message name="getBreakTimeForTodayResponse">
<part name="parameters" element="tns:getBreakTimeForTodayResponse"></part>
</message>
<message name="BreakTimeException">
<part name="fault" element="tns:BreakTimeException"></part>
</message>
<message name="getBreakTimeByDay">
<part name="parameters" element="tns:getBreakTimeByDay"></part>
</message>
<message name="getBreakTimeByDayResponse">
<part name="parameters" element="tns:getBreakTimeByDayResponse"></part>
</message>
<message name="GetAllPromos">
<part name="parameters" element="tns:GetAllPromos"></part>
</message>
<message name="GetAllPromosResponse">
<part name="parameters" element="tns:GetAllPromosResponse"></part>
</message>
<message name="DALException">
<part name="fault" element="tns:DALException"></part>
</message>
<message name="getAllBreakTime">
<part name="parameters" element="tns:getAllBreakTime"></part>
</message>
<message name="getAllBreakTimeResponse">
<part name="parameters" element="tns:getAllBreakTimeResponse"></part>
</message>
<message name="getBreakByPromo">
<part name="parameters" element="tns:getBreakByPromo"></part>
</message>
<message name="getBreakByPromoResponse">
<part name="parameters" element="tns:getBreakByPromoResponse"></part>
</message>
<message name="getBreakByAlarm">
<part name="parameters" element="tns:getBreakByAlarm"></part>
</message>
<message name="getBreakByAlarmResponse">
<part name="parameters" element="tns:getBreakByAlarmResponse"></part>
</message>
<message name="Exception">
<part name="fault" element="tns:Exception"></part>
</message>
<portType name="BreakTimeManager">
<operation name="getBreakTimeForToday">
<input message="tns:getBreakTimeForToday"></input>
<output message="tns:getBreakTimeForTodayResponse"></output>
<fault message="tns:BreakTimeException" name="BreakTimeException"></fault>
</operation>
<operation name="getBreakTimeByDay">
<input message="tns:getBreakTimeByDay"></input>
<output message="tns:getBreakTimeByDayResponse"></output>
<fault message="tns:BreakTimeException" name="BreakTimeException"></fault>
</operation>
<operation name="GetAllPromos">
<input message="tns:GetAllPromos"></input>
<output message="tns:GetAllPromosResponse"></output>
<fault message="tns:DALException" name="DALException"></fault>
</operation>
<operation name="getAllBreakTime">
<input message="tns:getAllBreakTime"></input>
<output message="tns:getAllBreakTimeResponse"></output>
<fault message="tns:BreakTimeException" name="BreakTimeException"></fault>
</operation>
<operation name="getBreakByPromo">
<input message="tns:getBreakByPromo"></input>
<output message="tns:getBreakByPromoResponse"></output>
<fault message="tns:DALException" name="DALException"></fault>
<fault message="tns:BreakTimeException" name="BreakTimeException"></fault>
</operation>
<operation name="getBreakByAlarm">
<input message="tns:getBreakByAlarm"></input>
<output message="tns:getBreakByAlarmResponse"></output>
<fault message="tns:DALException" name="DALException"></fault>
<fault message="tns:Exception" name="Exception"></fault>
</operation>
</portType>
<binding name="BreakTimeManagerPortBinding" type="tns:BreakTimeManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getBreakTimeForToday">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getBreakTimeByDay">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="GetAllPromos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DALException">
<soap:fault name="DALException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getAllBreakTime">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getBreakByPromo">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DALException">
<soap:fault name="DALException" use="literal"></soap:fault>
</fault>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getBreakByAlarm">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DALException">
<soap:fault name="DALException" use="literal"></soap:fault>
</fault>
<fault name="Exception">
<soap:fault name="Exception" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="BreakTimeManagerService">
<port name="BreakTimeManagerPort" binding="tns:BreakTimeManagerPortBinding">
<soap:address location="http://localhost:8080/BreakManager/BreakTimeManagerService"></soap:address>
</port>
</service>
</definitions>