hci/jsf/BreakManagerJSFClient/src/conf/xml-resources/web-service-references/BreakTimeManagerService/wsdl/localhost_8080/BreakManager/BreakTimeManagerService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://breaktime.technical.jSeduite.hebut.m1.cn/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://breaktime.technical.jSeduite.hebut.m1.cn/" name="BreakTimeManagerService">
<types>
<xsd:schema>
<xsd:import namespace="http://breaktime.technical.jSeduite.hebut.m1.cn/" schemaLocation="http://localhost:8080/BreakManager/BreakTimeManagerService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAllBreak">
<part name="parameters" element="tns:getAllBreak"></part>
</message>
<message name="getAllBreakResponse">
<part name="parameters" element="tns:getAllBreakResponse"></part>
</message>
<message name="BreakTimeException">
<part name="fault" element="tns:BreakTimeException"></part>
</message>
<message name="getBreakTime">
<part name="parameters" element="tns:getBreakTime"></part>
</message>
<message name="getBreakTimeResponse">
<part name="parameters" element="tns:getBreakTimeResponse"></part>
</message>
<message name="getBreakTimeForToday">
<part name="parameters" element="tns:getBreakTimeForToday"></part>
</message>
<message name="getBreakTimeForTodayResponse">
<part name="parameters" element="tns:getBreakTimeForTodayResponse"></part>
</message>
<message name="GetAllPromos">
<part name="parameters" element="tns:GetAllPromos"></part>
</message>
<message name="GetAllPromosResponse">
<part name="parameters" element="tns:GetAllPromosResponse"></part>
</message>
<message name="DALException">
<part name="fault" element="tns:DALException"></part>
</message>
<portType name="BreakTimeManager">
<operation name="getAllBreak">
<input message="tns:getAllBreak"></input>
<output message="tns:getAllBreakResponse"></output>
<fault message="tns:BreakTimeException" name="BreakTimeException"></fault>
</operation>
<operation name="getBreakTime">
<input message="tns:getBreakTime"></input>
<output message="tns:getBreakTimeResponse"></output>
<fault message="tns:BreakTimeException" name="BreakTimeException"></fault>
</operation>
<operation name="getBreakTimeForToday">
<input message="tns:getBreakTimeForToday"></input>
<output message="tns:getBreakTimeForTodayResponse"></output>
<fault message="tns:BreakTimeException" name="BreakTimeException"></fault>
</operation>
<operation name="GetAllPromos">
<input message="tns:GetAllPromos"></input>
<output message="tns:GetAllPromosResponse"></output>
<fault message="tns:DALException" name="DALException"></fault>
</operation>
</portType>
<binding name="BreakTimeManagerPortBinding" type="tns:BreakTimeManager">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAllBreak">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getBreakTime">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="getBreakTimeForToday">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakTimeException">
<soap:fault name="BreakTimeException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="GetAllPromos">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="DALException">
<soap:fault name="DALException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="BreakTimeManagerService">
<port name="BreakTimeManagerPort" binding="tns:BreakTimeManagerPortBinding">
<soap:address location="http://localhost:8080/BreakManager/BreakTimeManagerService"></soap:address>
</port>
</service>
</definitions>