hci/jsf/WebAdmin/src/conf/xml-resources/web-service-references/BreakingNewsFinderService/wsdl/localhost_8080/jSeduite/BreakingNews/BreakingNewsFinderService.wsdl

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/" name="BreakingNewsFinderService">
<types>
<xsd:schema>
<xsd:import namespace="http://breaking.news.technical.jSeduite.modalis.i3s.unice.fr/" schemaLocation="http://localhost:8080/jSeduite/BreakingNews/BreakingNewsFinderService?xsd=1"></xsd:import>
</xsd:schema>
</types>
<message name="getAllBreakingNewsReferences">
<part name="parameters" element="tns:getAllBreakingNewsReferences"></part>
</message>
<message name="getAllBreakingNewsReferencesResponse">
<part name="parameters" element="tns:getAllBreakingNewsReferencesResponse"></part>
</message>
<message name="BreakingNewsException">
<part name="fault" element="tns:BreakingNewsException"></part>
</message>
<message name="findBreakNewById">
<part name="parameters" element="tns:findBreakNewById"></part>
</message>
<message name="findBreakNewByIdResponse">
<part name="parameters" element="tns:findBreakNewByIdResponse"></part>
</message>
<portType name="BreakingNewsFinder">
<operation name="getAllBreakingNewsReferences">
<input message="tns:getAllBreakingNewsReferences"></input>
<output message="tns:getAllBreakingNewsReferencesResponse"></output>
<fault message="tns:BreakingNewsException" name="BreakingNewsException"></fault>
</operation>
<operation name="findBreakNewById">
<input message="tns:findBreakNewById"></input>
<output message="tns:findBreakNewByIdResponse"></output>
<fault message="tns:BreakingNewsException" name="BreakingNewsException"></fault>
</operation>
</portType>
<binding name="BreakingNewsFinderPortBinding" type="tns:BreakingNewsFinder">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"></soap:binding>
<operation name="getAllBreakingNewsReferences">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakingNewsException">
<soap:fault name="BreakingNewsException" use="literal"></soap:fault>
</fault>
</operation>
<operation name="findBreakNewById">
<soap:operation soapAction=""></soap:operation>
<input>
<soap:body use="literal"></soap:body>
</input>
<output>
<soap:body use="literal"></soap:body>
</output>
<fault name="BreakingNewsException">
<soap:fault name="BreakingNewsException" use="literal"></soap:fault>
</fault>
</operation>
</binding>
<service name="BreakingNewsFinderService">
<port name="BreakingNewsFinderPort" binding="tns:BreakingNewsFinderPortBinding">
<soap:address location="http://localhost:8080/jSeduite/BreakingNews/BreakingNewsFinderService"></soap:address>
</port>
</service>
</definitions>