hci/jsf/WebAdmin/web/WEB-INF/wsdl/client/SummoningCRUDService/localhost_8080/jSeduite/SchoolLife/SummoningCRUDService.xsd_1.xsd

<?xml version="1.0" encoding="UTF-8"?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-749-SNAPSHOT. --><xs:schema xmlns:tns="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://summon.news.technical.jSeduite.modalis.i3s.unice.fr/">

<xs:element name="StudentsSummonException" type="tns:StudentsSummonException"></xs:element>

<xs:element name="createSummoning" type="tns:createSummoning"></xs:element>

<xs:element name="createSummoningResponse" type="tns:createSummoningResponse"></xs:element>

<xs:element name="deleteSummoning" type="tns:deleteSummoning"></xs:element>

<xs:element name="deleteSummoningResponse" type="tns:deleteSummoningResponse"></xs:element>

<xs:element name="readSummoning" type="tns:readSummoning"></xs:element>

<xs:element name="readSummoningResponse" type="tns:readSummoningResponse"></xs:element>

<xs:element name="updateSummoning" type="tns:updateSummoning"></xs:element>

<xs:element name="updateSummoningResponse" type="tns:updateSummoningResponse"></xs:element>

<xs:complexType name="updateSummoning">
<xs:sequence>
<xs:element name="s" type="tns:summoning" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="summoning">
<xs:sequence>
<xs:element name="date" type="xs:dateTime" minOccurs="0"></xs:element>
<xs:element name="id" type="xs:int"></xs:element>
<xs:element name="level" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="owner" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="promo" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="student" type="xs:string" minOccurs="0"></xs:element>
<xs:element name="valid" type="xs:boolean"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="updateSummoningResponse">
<xs:sequence></xs:sequence>
</xs:complexType>

<xs:complexType name="StudentsSummonException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readSummoning">
<xs:sequence>
<xs:element name="id" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="readSummoningResponse">
<xs:sequence>
<xs:element name="return" type="tns:summoning" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSummoning">
<xs:sequence>
<xs:element name="s" type="tns:summoning" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="createSummoningResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSummoning">
<xs:sequence>
<xs:element name="s" type="tns:summoning" minOccurs="0"></xs:element>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteSummoningResponse">
<xs:sequence></xs:sequence>
</xs:complexType>
</xs:schema>