attic/providers/InfoProviderSkel/src/TechPartners/PreferenceManagerService.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.3.1-hudson-417-SNAPSHOT. -->
<xs:schema xmlns:tns="http://preferences.technical.jSeduite.modalis.i3s.unice.fr/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://preferences.technical.jSeduite.modalis.i3s.unice.fr/">

    <xs:element name="getCallIdentifiers" type="tns:getCallIdentifiers"></xs:element>

    <xs:element name="getCallIdentifiersResponse" type="tns:getCallIdentifiersResponse"></xs:element>

    <xs:element name="getValue" type="tns:getValue"></xs:element>

    <xs:element name="getValueByCall" type="tns:getValueByCall"></xs:element>

    <xs:element name="getValueByCallResponse" type="tns:getValueByCallResponse"></xs:element>

    <xs:element name="getValueResponse" type="tns:getValueResponse"></xs:element>

    <xs:element name="shouldCall" type="tns:shouldCall"></xs:element>

    <xs:element name="shouldCallResponse" type="tns:shouldCallResponse"></xs:element>

    <xs:complexType name="getValue">
        <xs:sequence>
            <xs:element name="service" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="operation" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="login" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="param" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getValueResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getCallIdentifiers">
        <xs:sequence>
            <xs:element name="service" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="operation" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="login" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getCallIdentifiersResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getValueByCall">
        <xs:sequence>
            <xs:element name="service" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="operation" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="login" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="param" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="call" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="getValueByCallResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="shouldCall">
        <xs:sequence>
            <xs:element name="service" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="operation" type="xs:string" minOccurs="0"></xs:element>
            <xs:element name="login" type="xs:string" minOccurs="0"></xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="shouldCallResponse">
        <xs:sequence>
            <xs:element name="return" type="xs:boolean"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>